
.icon-arrow-b:before { content: '\e800'; } /* '' */
.icon-arrow-t:before { content: '\e801'; } /* '' */
.icon-arrow-l:before { content: '\e802'; } /* '' */
.icon-arrow-r:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-ig:before { content: '\e805'; } /* '' */
.icon-youtube:before { content: '\e806'; } /* '' */
.icon-twittwr:before { content: '\e807'; } /* '' */
.icon-zeczec:before { content: '\e808'; } /* '' */
.icon-icon-11:before { content: '\e809'; } /* '' */
.icon-light:before { content: '\e80a'; } /* '' */
.icon-l-socket:before { content: '\e80b'; } /* '' */
.icon-exclamation:before { content: '\e80c'; } /* '' */
.icon-wire:before { content: '\e80d'; } /* '' */
.icon-socket:before { content: '\e80e'; } /* '' */
.icon-electricity:before { content: '\e80f'; } /* '' */
.icon-quantum:before { content: '\e810'; } /* '' */
.icon-weight:before { content: '\e811'; } /* '' */
.icon-lightning:before { content: '\e812'; } /* '' */
.icon-taiwan:before { content: '\e813'; } /* '' */
.icon-line:before { content: '\e814'; } /* '' */
.icon-mail:before { content: '\e815'; } /* '' */
.icon-play:before { content: '\e816'; } /* '' */
.icon-earth:before { content: '\e817'; } /* '' */
.icon-magnifier:before { content: '\e818'; } /* '' */
.icon-time:before { content: '\e819'; } /* '' */
.icon-store:before { content: '\e81a'; } /* '' */
.icon-edit-paper:before { content: '\e81b'; } /* '' */
.icon-store-search:before { content: '\e81c'; } /* '' */
.icon-store-check:before { content: '\e81d'; } /* '' */
.icon-qa:before { content: '\e81e'; } /* '' */
.icon-brook:before { content: '\e81f'; } /* '' */
.icon-return:before { content: '\e820'; } /* '' */
.icon-add:before { content: '\e821'; } /* '' */
.icon-less:before { content: '\e822'; } /* '' */
.icon-buy:before { content: '\e823'; } /* '' */
.icon-click:before { content: '\e824'; } /* '' */
.icon-return-1:before { content: '\e825'; } /* '' */
.icon-line-1:before { content: '\e834'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */