include mixin.pug

doctype html
html(lang='en')
    head
        include new-head.pug
    body#app
        include header.pug
        block content           
        include footer.pug
        include footer-js.pug
    #fb-root
    script.
        window.fbAsyncInit = function() {
            FB.init({
                xfbml: true,
                version: 'v10.0'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    .fb-customerchat(attribution="biz_inbox" page_id="1890912854485626")