footer#footer.py-5
    .container
        .row.justify-content-md-between
            .col-12.col-lg-8
                .row.pl-2.pl-md-0
                    .col-4.col-md.mb-3.px-1.px-md-3
                        .fw-600.mb-2 About Brook
                        ul.nav.flex-column
                            li.nav-item
                                a.nav-link.pl-0(href="../about" title='About us' rel='nofollow') About us
                    .col-4.col-md.mb-3.px-1.px-md-3
                        .fw-600.mb-2 What’s New
                        ul.nav.flex-column
                            li.nav-item.medias-link
                                a.nav-link.pl-0(href="../news" title='News' rel='nofollow') News
                            li.nav-item.activities-link
                                a.nav-link.pl-0(href="../activities" title='Events' rel='nofollow') Events
                            li.nav-item.unboxes-link
                                a.nav-link.pl-0(href="../unboxes") Unboxing
                    .col-4.col-md.mb-3.px-1.px-md-3
                        .fw-600.mb-2 Where to buy
                        ul.nav.flex-column
                            //- li.nav-item
                            //-     a.nav-link.pl-0(href="../store") Brook Shop
                            li.nav-item
                                a.nav-link.pl-0(href="../store") Retailers
                    .col-4.col-md.mb-3.px-1.px-md-3
                        .fw-600.mb-2 Support 
                        ul.nav.flex-column
                            li.nav-item
                                a.nav-link.pl-0(href="../warranty" title='Warranty' rel='nofollow') Warranty
                            li.nav-item
                                a.nav-link.pl-0(href="../return" title='Return and Exchange Process' rel='nofollow') Return and Exchange Process
                            li.nav-item
                                a.nav-link.pl-0(href="../qa" title='FAQ' rel='nofollow') FAQ
                    .col-4.col-md.mb-3.px-1.px-md-3
                        .fw-600.mb-2 Brook Services
                        ul.nav.flex-column
                            li.nav-item
                                a.nav-link.pl-0(href="https://www.brookaccessory.com/" target="_blank" title='Brook Gaming' rel='nofollow') Brook Gaming
                            li.nav-item
                                a.nav-link.pl-0(href="#" title='Brook Livin') Brook Livin
            .col-12.col-lg-3.mt-4.mt-lg-0
                .row.align-items-center
                    .col-12.col-md-2.col-lg-12.mb-2
                        .fw-600 Follow Us
                    .col-12.col-md-6.col-lg-12
                        ul.nav.follow-us
                            li.nav-item
                                a.nav-link.pl-0(href="https://www.facebook.com/brooklivin" target='_blank') 
                                    i.icon-facebook
                            li.nav-item
                                a.nav-link.pl-0(href="https://www.youtube.com/channel/UCExk26fvJiQtVVl_zwIZC0A" target='_blank' ) 
                                    i.icon-youtube
                            li.nav-item
                                a.nav-link.pl-0(href="https://lin.ee/peukhM7" target='_blank') 
                                    i.icon-line-1
                            //- li.nav-item
                                //- a.nav-link.pl-0(href="#" target='_blank') 
                                //-     i.icon-twittwr
                            //- li.nav-item
                                //- a.nav-link.pl-0(href="#" target='_blank') 
                                //-     i.icon-zeczec
                        //- a(href='tel:0800581288') 服務專線：0800-581-288
                    .col-12.col-md-4.col-lg-12
                        .text-md-right
                            a.contact-us(href="../contact-us" title='聯絡我們' rel='nofollow')
                                span.f-en Contact Us
                                i.icon-mail
            .col-12
                hr.my-4
            .col-12
                .row
                    .col-12.col-lg-10.mb-4.mb-lg-0
                        span.copyright Copyright © Zeroplus Technology Co., Ltd. All Rights Reserved. Brook is the registered trademark of Copyright
                    .col-12.col-lg-2.text-lg-right
                        a(href="../privacy" title='Privacy & Terms' rel='nofollow') Privacy & Terms

.goTop
    a.goTopBtn.jq-goTop(href='#')
        i.icon-arrow-t