//- index.pug
extends include/layout.pug

block content
    main#page.wrapper
        .page-hero
            .container
                .page-hero_text
                    h2.f-heroTitle-xs.text-center Enjoy Our Tech
                .page-hero_img
                    img(src='../styles/images/about-banner.jpg', alt='情境圖')

        article.page-inner.pt-5.pb-0
            section.text-center
                .container
                    .d-flex.flex-column.flex-md-row.justify-content-center.align-items-center.mb-4
                        span.mx-3.d-inline-block
                            img.img-no-full(src='../styles/images/brook-g.png', alt='' style='width:100%;max-width:200px;')
                    p.px-4.px-md-0 Established in 1997, Zeroplus Technology has launched a new home technology brand – Brook Livin, which blends a solid technical background with new-generation innovation.#[br]Brook Livin commits to innovative designs that enrich our lives, ensure home safety, and fulfill our everyday needs. At the same time, we make our homes a better place by emphasizing sustainability and social responsibility.
                    .after-h-line.mx-auto.mt-3.mt-md-4
            section
                .row.no-gutters
                    .col-12.col-lg-6.order-lg-1
                        .about-pic
                            img.img-fluid(src='../styles/images/about-1.jpg', alt='')
                    .col-12.col-lg-6.p-4.px-lg-5.py-lg-0.p-xl-5.order-lg-2
                        .about-text
                            //- .t-primary 2017年
                            h4.f-sc-title.mb-3 Ingenuity
                            p Combining solid development experience and an innovative brand team, Brook Livin listens to your feedback and precisely sculpts your needs into heartfelt household products with convenience, safety, and practical technology.
                .row.no-gutters
                    .col-12.col-lg-6.order-lg-2
                        .about-pic
                            img.img-fluid(src='../styles/images/about-2.jpg', alt='')
                    .col-12.col-lg-6.p-4.px-lg-5.py-lg-0.p-xl-5.order-lg-1
                        .about-text
                            //- .t-primary 2020年 旗下品牌
                            h4.f-sc-title.mb-3 A Sustainable Society
                            p "Family" and "Home" mean more than words to us. With dedicated, sincere care to those in need, we are building a brand that defines high quality, eco-sustainability, and social responsibility.