//- index.pug
extends include/layout.pug

block content
    main#page.wrapper
        .page-hero
            .container
                .page-hero_text
                    h2.f-heroTitle-xs.text-center Keep you safe through Technology#[br]Bring Little Pleasure to Your Daily Life 
                .page-hero_img
                    img(src='../styles/images/about-banner.jpg', alt='情境圖')

        article.page-inner.pt-5.pb-0
            section.text-center
                .container
                    .d-flex.flex-column.flex-md-row.justify-content-center.align-items-center.mb-4
                        span.mx-3.d-inline-block
                            img.img-no-full(src='../styles/images/brook-g.png', alt='' style='width:100%;max-width:200px;')
                    p.px-4.px-md-0 Inspired by the R&D innovation and passion over 20 years at Zeroplus Technology, Brook Livin is brand under Zeroplus Technology keen to establish new technology  lifestyles. We focus on every little detail in life to identify problems and provide solutions that make customers’ lives better. We enjoy building safe and easy-to-use technology lifestyle for you, providing you with an unparalleled user experience.
                    .after-h-line.mx-auto.mt-3.mt-md-4
            section
                .row.no-gutters
                    .col-12.col-lg-6.order-lg-1
                        .about-pic
                            img.img-fluid(src='../styles/images/about-1.jpg', alt='')
                    .col-12.col-lg-6.p-4.px-lg-5.py-lg-0.p-xl-5.order-lg-2
                        .about-text
                            //- .t-primary 2017年
                            h4.f-sc-title.mb-3 We Always Focus on Your Needs
                            p Every customer is special to Brook Livin. We listen to all your request and understand your needs with our hearts, solving the little problems in your daily life. It is an honor for Brook Livin to bring joy to your life.
                .row.no-gutters
                    .col-12.col-lg-6.order-lg-2
                        .about-pic
                            img.img-fluid(src='../styles/images/about-2.jpg', alt='')
                    .col-12.col-lg-6.p-4.px-lg-5.py-lg-0.p-xl-5.order-lg-1
                        .about-text
                            //- .t-primary 2020年 旗下品牌
                            h4.f-sc-title.mb-3 Becoming the Little Pleasure of Your Daily Life
                            p Brook Livin believes whether it is through the improvement of your home safety, or achieving your desired lifestyle, as long as we carry on striving for continuous innovation, more little pleasures shall fill up your daily routine, allowing happiness to glitter through your life.