//- index.pug
extends include/new-layout.pug
block meta
    title Brook Livin WIRECARE pops up on Reuters COMMUNICATE building at Times Square, NYC
    meta(name='description' content='On the global celebration of the 2021-2022 Christmas, the innovative smart home brand【Brook Livin】officially announced the launch of new product "WIRECARE" in Times Square NYC, USA.')
    meta(property='image' content='https://brook-livin.com/styles/images/news/en/event-01/meta.jpg')
    meta(property='og:title' content='Brook Livin WIRECARE pops up on Reuters COMMUNICATE building at Times Square, NYC')
    meta(property='og:url' content='https://brook-livin.com/en/activity')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/en/event-01/meta.jpg')
    meta(property='og:description' content='On the global celebration of the 2021-2022 Christmas, the innovative smart home brand【Brook Livin】officially announced the launch of new product "WIRECARE" in Times Square NYC, USA.')
    meta(property='og:site_name' content='Brook Livin WIRECARE pops up on Reuters COMMUNICATE building at Times Square, NYC')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 Brook Livin WIRECARE pops up on Reuters COMMUNICATE building at Times Square, NYC
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#' title='SmartHome') #SmartHome
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='Amazon') #Amazon
                                a.tag.t-primary.mr-2(href='#' title='TimesSquare') #TimesSquare
                                a.tag.t-primary.mr-2(href='#' title='Reuters') #Reuters
                                a.tag.t-primary.mr-2(href='#' title='Cision') #Cision
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/12/23
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.img-fluid(src='../styles/images/news/en/event-01/content-1.jpg', alt='圖片')
                            br
                            br
                            p On the global celebration of the 2021-2022 Christmas, the innovative smart home brand【Brook Livin】officially announced the launch of new product "WIRECARE" in Times Square NYC, USA.
                            p Brook Livin is specialized for customers on safety and convenience in daily lives. The global business and tourism center "Times Square in New York" and the crowded Reuters COMMUNICATE Building was specially selected to announce "WIRECARE", in prevention of electrical fire in house and business.
                            p "WIRECARE" officially sells online in the United States and Canada through global e-commerce leader【Amazon】for North American customers.
                            br
                            img.img-fluid(src='../styles/images/news/en/event-01/content-2.jpg', alt='圖片')
                            br
                            br
                            p "WIRECARE" detects socket and circuit safety levels, and informs users with simple green / orange / red LED signals. This benefits users to easily inspect overall household wiring safety, and proceed with necessary replacement to avoid home electrical fire.
                            p Brook Livin expects that WIRECARE can be the master in delivering experience to users in preventing any unnecessary loss resulted from electrical fire.
                            br
                            br
                            a.t-primary(href="https://pse.is/3rt4qa" target='_blank')
                                h6 Welcome to visit & purchase through Amazon USA-
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="Brook Livin WIRECARE pops up on Reuters COMMUNICATE building at Times Square, NYC" data-description="On the global celebration of the 2021-2022 Christmas, the innovative smart home brand【Brook Livin】officially announced the launch of new product 'WIRECARE' in Times Square NYC, USA." data-image="https://brook-livin.com/styles/images/news/en/event-01/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="Brook Livin WIRECARE pops up on Reuters COMMUNICATE building at Times Square, NYC" data-description="On the global celebration of the 2021-2022 Christmas, the innovative smart home brand【Brook Livin】officially announced the launch of new product 'WIRECARE' in Times Square NYC, USA." data-image="https://brook-livin.com/styles/images/news/en/event-01/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="Brook Livin WIRECARE pops up on Reuters COMMUNICATE building at Times Square, NYC" data-description="On the global celebration of the 2021-2022 Christmas, the innovative smart home brand【Brook Livin】officially announced the launch of new product 'WIRECARE' in Times Square NYC, USA." data-image="https://brook-livin.com/styles/images/news/en/event-01/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="activities") Back to Menu

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 More News
                        +main-card('','../styles/images/news/en/new-03/list.png','new-3','2021/12/03','WIRECARE brings a safer and smarter lifestyle for your family',"Do you know the electrical fire is one of the reasons causing the house on fire? Ignoring the dust on the outlets...")
                        +main-card('','../styles/images/news/en/new-04/list.png','new-4','2021/12/03','An easy and efficient way to protect your love ones and properties',"When accident happened, people's regrets won't bring back your love ones and properties. Hence, checking…")