//- index.pug
extends include/new-layout.pug
block meta
	title ZEROPLUS Technology with Brook Gaming & Brook Livin & RSLA brands is recognized for commendable dedication toward spearheading Taiwan's economic recovery and development at CES 2023
	meta(name='description' content="In CES 2023, ZEROPLUS Technology teammates as exhibitors will show and demo the latest products including Video Game Accessories for PlayStation series, XBOX series, Nintendo Switch series and Pokémon GO in video game market.")
	meta(property='image' content='https://brook-livin.com/styles/images/news/en/event-04/meta.jpg')
	meta(property='og:title' content="ZEROPLUS Technology with Brook Gaming & Brook Livin & RSLA brands is recognized for commendable dedication toward spearheading Taiwan's economic recovery and development at CES 2023")
	meta(property='og:url' content='https://brook-livin.com/en/activity-4')
	meta(property='og:image' content='https://brook-livin.com/styles/images/news/en/event-04/meta.jpg')
	meta(property='og:description' content="In CES 2023, ZEROPLUS Technology teammates as exhibitors will show and demo the latest products including Video Game Accessories for PlayStation series, XBOX series, Nintendo Switch series and Pokémon GO in video game market.")
	meta(property='og:site_name' content="ZEROPLUS Technology with Brook Gaming & Brook Livin & RSLA brands is recognized for commendable dedication toward spearheading Taiwan's economic recovery and development at CES 2023")

block plugins-js
	script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
	main#page.wrapper.new-page
		article.page-inner
			.container
				.row
					.col-12.col-md-8
						h2.f-sc-title.mb-3.mb-md-4 ZEROPLUS Technology with Brook Gaming & Brook Livin & RSLA brands is recognized for commendable dedication toward spearheading Taiwan's economic recovery and development at CES 2023 Las Vegas, Booth number #15989 on Jan/5-8, 2023
						.row
							.col-6.text-left
								a.tag.t-primary.mr-2(href='#' title='CES') #CES
								a.tag.t-primary.mr-2(href='#' title='CES2023') #CES2023
								a.tag.t-primary.mr-2(href='#' title='ZEROPLUS') #ZEROPLUS
							.col-6.text-right
								i.m-1.icon-time
								span.f-mini.f-en 2022/12/13
						hr.my-3.my-md-4
						.new-inner.pb-3.pb-md-5
							img.img-fluid(src='../styles/images/news/en/event-04/content-1.jpg', alt='圖片')
							br
							br
							p In CES 2023, ZEROPLUS Technology teammates as exhibitors will show and demo the latest products including Video Game Accessories for PlayStation series, XBOX series, Nintendo Switch series and Pokémon GO in video game market.
							br
							img.img-fluid(src='../styles/images/news/en/event-04/content-2.jpg', alt='圖片')
							br
							br
							p For smart home market, ZEROPLUS will show and demo the home fire prevention product named Brook Livin WIRECARE, and RSLA as the long term powering solution for electronics toys provided to kids and parents.
							br
							img.img-fluid(src='../styles/images/news/en/event-04/content-3.jpg', alt='圖片')
							br
							br
							p ZEROPLUS Technology will join the CES 2023 with tangible booth number #15989 on Jan/5-8, 2023. The booth name is Zeroplus Technology Co. with 3 associated brands named Brook Gaming, Brook Livin and RSLA in our booth. Our booth is located in LVCC (Las Vegas Convention Center) in Las Vegas, NV.
							br
							img.img-fluid(src='../styles/images/news/en/event-04/content-4.jpg', alt='圖片')
							br
							br
							p ZEROPLUS Technology welcomes all global distributors, agencies, E-Commerce and media partners to visit our CES 2023 booth. For media partners, ZEROPLUS welcomes all types of video & photo interview with ZEROPLUS team. The main focus of the interview will be on our products introduction and demo.
							br
							img.img-fluid(src='../styles/images/news/en/event-04/content-5.jpg', alt='圖片')
							br
							br
							p For recorded interview video, welcome all media partners to publish on your website, YouTube and your social media networks.
							p All in all, for all types of marketing & advertisement plan discussion, please send your email to Mr. Timmy Kao for collaboration soon.
							p Timmy Kao, International Public Relations of Zeroplus Technology Co.
							br
							br
							p.mb-0 Email:#[a.t-primary(href='mailto:Timkao@zeroplus.com.tw') Timkao@zeroplus.com.tw]
							p.mb-0 Tel:#[a.t-primary(href='tel:+886-2-6620-2225') +886-2-6620-2225 #380]
							p.mb-0 Official Website-#[a.t-primary(href='https://www.brook-livin.com/en/index' target="_blank" ) https://www.brook-livin.com/en/index]
							br
							p - CES 2023 Exhibitor in LVCC, Las Vegas, NV | ZEROPLUS Tech’s Booth number #15989
							p - Field of "Gaming / Metaverse / XR" at "Tech East" & "Central Hall" in Renaissance Las Vegas Hotel
							br
						hr
						.d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
							.share-row
								span.mx-2 Share
								button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="ZEROPLUS Technology with Brook Gaming & Brook Livin & RSLA brands is recognized for commendable dedication toward spearheading Taiwan's economic recovery and development at CES 2023" data-description="In CES 2023, ZEROPLUS Technology teammates as exhibitors will show and demo the latest products including Video Game Accessories for PlayStation series, XBOX series, Nintendo Switch series and Pokémon GO in video game market." data-image="https://brook-livin.com/styles/images/news/en/event-04/meta.jpg")
									i.icon-facebook
								button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="ZEROPLUS Technology with Brook Gaming & Brook Livin & RSLA brands is recognized for commendable dedication toward spearheading Taiwan's economic recovery and development at CES 2023" data-description="In CES 2023, ZEROPLUS Technology teammates as exhibitors will show and demo the latest products including Video Game Accessories for PlayStation series, XBOX series, Nintendo Switch series and Pokémon GO in video game market." data-image="https://brook-livin.com/styles/images/news/en/event-04/meta.jpg")
									i.icon-twittwr
								button.mx-1(style='font-size: 24px;' data-social="line" data-title="ZEROPLUS Technology with Brook Gaming & Brook Livin & RSLA brands is recognized for commendable dedication toward spearheading Taiwan's economic recovery and development at CES 2023" data-description="In CES 2023, ZEROPLUS Technology teammates as exhibitors will show and demo the latest products including Video Game Accessories for PlayStation series, XBOX series, Nintendo Switch series and Pokémon GO in video game market." data-image="https://brook-livin.com/styles/images/news/en/event-04/meta.jpg")
									i.icon-line-1
								button#copy-btn.mx-1(style='font-size: 24px;' data-url="https://brook-livin.com/en/activity-4")
									i.icon-link
							a(href="activities") Back to Menu
					.col-12.col-md-4.mt-5.mt-md-0
						h5.f-textTitle.mb-3.mb-md-4 More News
						+main-card('','../styles/images/news/en/new-03/list.png','new-3','2021/12/03','WIRECARE brings a safer and smarter lifestyle for your family',"Do you know the electrical fire is one of the reasons causing the house on fire? Ignoring the dust on the outlets...")
						+main-card('','../styles/images/news/en/new-04/list.png','new-4','2021/12/03','An easy and efficient way to protect your love ones and properties',"When accident happened, people's regrets won't bring back your love ones and properties. Hence, checking…")