//- index.pug
extends include/new-layout.pug
block meta
    title Two pillars of ZEROPLUS Technology are investment in Brook Livin brand and responsible entrepreneurship in winning the Inspirational Brand Award of APEA in Year 2022-2023.
    meta(name='description' content="ZEROPLUS Technology & Brook Livin brand with all 34 outstanding business leaders and enterprises were recognized for their commendable dedication toward spearheading Taiwan's economic recovery and development at the Asia Pacific Enterprise Awards (APEA) 2022-2023 Taiwan Chapter.")
    meta(property='image' content='https://brook-livin.com/styles/images/news/en/event-03/meta.jpg')
    meta(property='og:title' content='Two pillars of ZEROPLUS Technology are investment in Brook Livin brand and responsible entrepreneurship in winning the Inspirational Brand Award of APEA in Year 2022-2023.')
    meta(property='og:url' content='https://brook-livin.com/en/activity')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/en/event-03/meta.jpg')
    meta(property='og:description' content="ZEROPLUS Technology & Brook Livin brand with all 34 outstanding business leaders and enterprises were recognized for their commendable dedication toward spearheading Taiwan's economic recovery and development at the Asia Pacific Enterprise Awards (APEA) 2022-2023 Taiwan Chapter.")
    meta(property='og:site_name' content='Two pillars of ZEROPLUS Technology are investment in Brook Livin brand and responsible entrepreneurship in winning the Inspirational Brand Award of APEA in Year 2022-2023.')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 Two pillars of ZEROPLUS Technology are investment in Brook Livin brand and responsible entrepreneurship in winning the Inspirational Brand Award of APEA in Year 2022-2023.
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#' title='APEA') #APEA
                                a.tag.t-primary.mr-2(href='#' title='APEA2022') #APEA2022
                                a.tag.t-primary.mr-2(href='#' title='InspirationalBrandAward') #InspirationalBrandAward
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/12/2
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.img-fluid(src='../styles/images/news/en/event-03/content-1.jpg', alt='圖片')
                            br
                            br
                            p ZEROPLUS Technology & Brook Livin brand with all 34 outstanding business leaders and enterprises were recognized for their commendable dedication toward spearheading Taiwan's economic recovery and development at the Asia Pacific Enterprise Awards (APEA) 2022-2023 Taiwan Chapter.
                            br
                            img.img-fluid(src='../styles/images/news/en/event-03/content-2.jpg', alt='圖片')
                            br
                            br
                            p At the first time received APEA award by ZEROPLUS Technology, the APEA award to ZEROPLUS & Brook Livin is part of the organization's four-pronged agenda of emphasizing entrepreneurship, institutionalizing sustainability, empowering innovation, and accelerating growth.
                            p The prestigious Awards convened a grand ceremony with over 500 international managers to commemorate the outstanding entrepreneurship with ZEROPLUS teammates. Selected from corporate nominees, ZEROPLUS & Brook Livin underwent a rigorous evaluation process by a jury of prominent judges, and eventually Brook Livin won the Inspirational Brand Award in Year 2022-2023.
                            br
                            img.img-fluid(src='../styles/images/news/en/event-03/content-3.jpg', alt='圖片')
                            br
                            br
                            p As advocates of entrepreneurship, ZEROPLUS Technology & Brook Livin brand believe that entrepreneurship does not only provide a compelling alternative to individuals to secure their livelihood, but also serve as an important catalyst to promote economic resilience.
                            p Furthermore, ZEROPLUS Technology & Brook Livin brand want to leverage this program with APEA from Year 2022 in order to recognize and honor the dedicated work done by these entrepreneurs who helped to spur economic development in Asian market.
                            br
                            img.img-fluid(src='../styles/images/news/en/event-03/content-4.jpg', alt='圖片')
                            br
                            br
                            p In Taiwan, the famous ICT and semiconductor manufacturing industry places ZEROPLUS Technology in a prime position to leverage its prowess in these fields to spearhead an economic resurgence. Let all ZEROPLUS customers and partners not forget that apart from semiconductor, Taiwan also has its competitive and innovative IC Design House such as ZEROPLUS Technology which displays tremendous potential to become among the most advanced and resilient company in the world.
                            br
                            img.img-fluid(src='../styles/images/news/en/event-03/content-5.jpg', alt='圖片')
                            br
                            br
                            p The Asia Pacific Enterprise Awards (APEA) 2022-2023 Taiwan Chapter is supported by the Taiwan External Trade Development Council (TAITRA), and Taiwan Institute for Sustainable Energy (TAISE), and KPMG Taiwan as the Official Assurance Partner, and Cision & PR Newswire as the Official News Release Distribution Partner, and Commercial Times in Taiwan and SME Magazine as global media partners.
                            p To knowledge more Brook Livin products in uplifting the home safety with people across the world & ensuring no electric overload in your house-
                            a.t-primary(href='https://www.brook-livin.com/en/product/wirecare') https://www.brook-livin.com/en/product/wirecare
                            br
                            img.img-fluid(src='../styles/images/news/en/event-03/content-6.jpg', alt='圖片')
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="Two pillars of ZEROPLUS Technology are investment in Brook Livin brand and responsible entrepreneurship in winning the Inspirational Brand Award of APEA in Year 2022-2023." data-description="ZEROPLUS Technology & Brook Livin brand with all 34 outstanding business leaders and enterprises were recognized for their commendable dedication toward spearheading Taiwan's economic recovery and development at the Asia Pacific Enterprise Awards (APEA) 2022-2023 Taiwan Chapter." data-image="https://brook-livin.com/styles/images/news/en/event-03/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="Two pillars of ZEROPLUS Technology are investment in Brook Livin brand and responsible entrepreneurship in winning the Inspirational Brand Award of APEA in Year 2022-2023." data-description="ZEROPLUS Technology & Brook Livin brand with all 34 outstanding business leaders and enterprises were recognized for their commendable dedication toward spearheading Taiwan's economic recovery and development at the Asia Pacific Enterprise Awards (APEA) 2022-2023 Taiwan Chapter." data-image="https://brook-livin.com/styles/images/news/en/event-03/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="Two pillars of ZEROPLUS Technology are investment in Brook Livin brand and responsible entrepreneurship in winning the Inspirational Brand Award of APEA in Year 2022-2023." data-description="ZEROPLUS Technology & Brook Livin brand with all 34 outstanding business leaders and enterprises were recognized for their commendable dedication toward spearheading Taiwan's economic recovery and development at the Asia Pacific Enterprise Awards (APEA) 2022-2023 Taiwan Chapter." data-image="https://brook-livin.com/styles/images/news/en/event-03/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="activities") Back to Menu

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 More News
                        +main-card('','../styles/images/news/en/new-03/list.png','new-3','2021/12/03','WIRECARE brings a safer and smarter lifestyle for your family',"Do you knowledge the electrical fire is one of the reasons causing the house on fire? Ignoring the dust on the outlets...")
                        +main-card('','../styles/images/news/en/new-04/list.png','new-4','2021/12/03','An easy and efficient way to protect your love ones and properties',"When accident happened, people's regrets won't bring back your love ones and properties. Hence, checking…")