//- index.pug
extends include/new-layout.pug
block meta
    title ZEROPLUS steps into household appliance with its expertise in embedded systems products - Brook Livin
    meta(name='description' content='Starting from 2020, COVID-19 widespread hits the world, and it also grows the demand of work-from-home, household living and disaster prevention products. Under such circumstances, Richard consolidated resources with a newly formed “Brook Livin” team to announce its first disaster-preventing WIRECARE product through ZecZec crowd-funding platform in June 2021 to expand the product portfolio into a new household sector.')
    meta(property='image' content='https://livin.brookaccessory.com/styles/images/news/en/new-01/00_meta.png')
    meta(property='og:title' content='ZEROPLUS steps into household appliance with its expertise in embedded systems products - Brook Livin')
    meta(property='og:url' content='https://livin.brookaccessory.com/en/new-1')
    meta(property='og:image' content='https://livin.brookaccessory.com/styles/images/news/en/new-01/00_meta.png')
    meta(property='og:description' content='Starting from 2020, COVID-19 widespread hits the world, and it also grows the demand of work-from-home, household living and disaster prevention products. Under such circumstances, Richard consolidated resources with a newly formed “Brook Livin” team to announce its first disaster-preventing WIRECARE product through ZecZec crowd-funding platform in June 2021 to expand the product portfolio into a new household sector.')
    meta(property='og:site_name' content='ZEROPLUS steps into household appliance with its expertise in embedded systems products - Brook Livin')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 ZEROPLUS steps into household appliance with its expertise in embedded systems products
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#') #ZEROPLUS
                                a.tag.t-primary.mr-2(href='#') #Logic analyzer
                                a.tag.t-primary.mr-2(href='#') #Brook Livin
                                a.tag.t-primary.mr-2(href='#') #WIRECARE
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/10/19
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p The year of 2020 and 2021 unquestionably mark one of most drastic periods to global market. Nevertheless, ZEROPLUS remains highly energetic momentum in market expansion with its profound development capability and brands management since its establishment in 1997.
                            p As addressed by Mr. Richard Zheng, President of ZEROPLUS Technology, the reason behind ZEROPLUS’ gold sponsorship to 2021 Embedded Online Conference ( #[a(href='https://www.embeddedonlineconference.com/' target='_blank') www.embeddedonlineconference.com] ) is to lay a concrete foundation to support embedded system developers in completing design tasks with ease. With over 130 protocols decoding capability nowadays, ZEROPLUS logic analyzers benefit IC designers, electronics developers and engineers worldwide with significant time saved in signals’ decoding and debugging.
                            br
                            img.mx-auto.img-fluid(src='../styles/images/news/en/new-01/01_content.png', alt='圖片' style='max-width: 800px;')
                            br
                            br
                            p ZEROPLUS’ customers in USA, Netherland, Japan, Korea, Malaysia, Singapore, and Russia, highly praise ZEROPLUS products’ powerful and rich functions that effectively accelerate new products development and delivery.
                            br
                            img.mx-auto.img-fluid(src='../styles/images/news/en/new-01/02_content.png', alt='圖片' style='max-width: 800px;')
                            br
                            br
                            p Richard highlights that ZEROPLUS’ brands are categorized into two sectors: enterprise and living-entertainment. ZEROPLUS logic analyzers are positioned in enterprise sector as an essential tool to every electronic developer. In living-entertainment sector, Brook Gaming’s game controller, cross-platform converters, and Pokémon accessories gain growing popularity by gamers worldwide. ZEROPLUS pledges to keep growing momentum on both sectors with more appealing products to come.
                            p Starting from 2020, COVID-19 widespread hits the world, and it also grows the demand of work-from-home, household living and disaster prevention products. Under such circumstances, Richard consolidated resources with a newly formed “Brook Livin” team to announce its first disaster-preventing WIRECARE product through ZecZec crowd-funding platform ( #[a(href='https://www.zeczec.com/projects/wirecare' target='_blank') www.zeczec.com/projects/wirecare] ) in June 2021 to expand the product portfolio into a new household sector.
                            br
                            img.mx-auto.img-fluid(src='../styles/images/news/en/new-01/03_content.png', alt='圖片' style='max-width: 800px;')
                            br
                            br
                            p Throughout intuitive design and high efficiency software based on ZEROPLUS’ solid embedded system background, WIRECARE symbolizes Brook Livin’s target in delivering an easy approach to everyone who is seeking household safety and protection.
                            br
                            img.mx-auto.img-fluid(src='../styles/images/news/en/new-01/04_content.png', alt='圖片' style='max-width: 800px;')
                            br
                            br
                            p WIRECARE detects socket and circuit safety levels, and informs user with simple green / orange / red LED signals. This benefits users to easily inspect overall household wiring safety, and proceed with necessary replacement to avoid home electrical fires. ZEROPLUS expects that WIRECARE can be the master in delivering experience to users in preventing any unnecessary loss resulted from electric fire.
                            br
                            img.mx-auto.img-fluid(src='../styles/images/news/en/new-01/05_content.png', alt='圖片' style='max-width: 800px;')
                            br
                            br
                            p WIRECARE is now commercially available at Amazon USA after a successful launch in Taiwan, especially the TWD 4.2M sales (around USD 150,000) from 2,166 ZecZec backers in a single month. Moreover, ZEROPLUS is expanding its reach to more customers through more distributors, technical media and KOLs. All these efforts are to let the three major brands, ZEROPLUS, Brook Gaming and Brook Livin, be more recognized and beneficial worldwide.
                            br
                            img.mx-auto.img-fluid(src='../styles/images/news/en/new-01/06_content.png', alt='圖片' style='max-width: 800px;')
                            br
                            br
                            h5 *** Welcome review and purchase through Brook Livin official website ***
                            a.t-primary(href='https://livin.brookaccessory.com/en/product/wirecare')
                                b 【Brook Livin】WIRECARE official website
                            br
                            br
                            h5 *** ZEROPLUS Logic Analyzer: LAP-C Pro 32256M ***
                            a.t-primary(href='https://www.amazon.com/dp/B08627SQBN/ref=cm_sw_em_r_mt_dp_8GJ0FJMFR0RRT8RF47Y4' target='_blank')
                                b Amazon
                            br
                            br
                            h5 *** Brook Livin WIRECARE ***
                            a.t-primary(href='https://www.amazon.com/dp/B09BQT7SF4?ref=myi_title_dp' target='_blank')
                                b Amazon
                            br
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="ZEROPLUS steps into household appliance with its expertise in embedded systems products" data-description="Starting from 2020, COVID-19 widespread hits the world, and it also grows the demand of work-from-home, household living and disaster prevention products. Under such circumstances, Richard consolidated resources with a newly formed “Brook Livin” team to announce its first disaster-preventing WIRECARE product through ZecZec crowd-funding platform in June 2021 to expand the product portfolio into a new household sector." data-image="https://livin.brookaccessory.com/styles/images/news/en/new-01/00_meta.png")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="ZEROPLUS steps into household appliance with its expertise in embedded systems products" data-description="Starting from 2020, COVID-19 widespread hits the world, and it also grows the demand of work-from-home, household living and disaster prevention products. Under such circumstances, Richard consolidated resources with a newly formed “Brook Livin” team to announce its first disaster-preventing WIRECARE product through ZecZec crowd-funding platform in June 2021 to expand the product portfolio into a new household sector." data-image="https://livin.brookaccessory.com/styles/images/news/en/new-01/00_meta.png")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="ZEROPLUS steps into household appliance with its expertise in embedded systems products" data-description="Starting from 2020, COVID-19 widespread hits the world, and it also grows the demand of work-from-home, household living and disaster prevention products. Under such circumstances, Richard consolidated resources with a newly formed “Brook Livin” team to announce its first disaster-preventing WIRECARE product through ZecZec crowd-funding platform in June 2021 to expand the product portfolio into a new household sector." data-image="https://livin.brookaccessory.com/styles/images/news/en/new-01/00_meta.png")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="news") Back to Menu

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 More News
                        +main-card('','../styles/images/news/en/new-02/list.png','new-2','2021/11/12','Year 2021-2022 D&B TOP Elite SME Award for ZEROPLUS','So honor to share that ZEROPLUS | Brook Livin is awarded “D&B TOP Elite SME Award” in year 2021-2022.')
                        +main-card("","../styles/images/news/en/WIRECARE AC Circuit Tester_列表_425x200.png","unboxing","2021/9/16","Brook Livin WIRECARE AC Circuit Tester by The Ganssle Group","The WIRECARE is a small device that evaluates the Wiring in Houses and Buildings. It's a pretty simple... ")
                        //- +main-card('','../styles/images/pic-1.jpg','new')
                        //- +main-card('','../styles/images/pic-2.jpg','new')
                        //- +main-card('','../styles/images/pic-3.jpg','new')