//- index.pug
extends include/new-layout.pug
block meta
    title WIRECARE brings a safer and smarter lifestyle for your family
    meta(name='description' content='Do you knowledge the electrical fire is one of the reasons causing the house on fire? Ignoring the dust on the outlets or not checking the plugs and the wiring system on a regular basis could easily cause fire. Introducing wirecare from brook livin, an easy-to-use tool to check receptacle outlets and extension cords in your house.')
    meta(property='image' content='https://brook-livin.com/styles/images/news/en/new-03/meta.png')
    meta(property='og:title' content='WIRECARE brings a safer and smarter lifestyle for your family')
    meta(property='og:url' content='https://brook-livin.com/en/new-3')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/en/new-03/meta.png')
    meta(property='og:description' content='Do you knowledge the electrical fire is one of the reasons causing the house on fire? Ignoring the dust on the outlets or not checking the plugs and the wiring system on a regular basis could easily cause fire. Introducing wirecare from brook livin, an easy-to-use tool to check receptacle outlets and extension cords in your house.')
    meta(property='og:site_name' content='WIRECARE brings a safer and smarter lifestyle for your family')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 WIRECARE brings a safer and smarter lifestyle for your family
                        .row
                            .col-8.text-left
                                a.tag.t-primary.mr-2(href='#') #electrical fire
                                a.tag.t-primary.mr-2(href='#') #outlet safety
                                a.tag.t-primary.mr-2(href='#') #receptacle outlet check
                            .col-4.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/12/03
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.mx-auto.img-fluid(src='../styles/images/news/en/new-03/content.png', alt='圖片' style='max-width: 800px;')
                            br
                            br
                            p Do you knowledge the electrical fire is one of the reasons causing the house on fire? Ignoring the dust on the outlets or not checking the plugs and the wiring system on a regular basis could easily cause fire. Introducing wirecare from brook livin, an easy-to-use tool to check receptacle outlets and extension cords in your house.
                            br
                            p Simply plug-in wirecare to every receptacle outlet in your house. Within 10 seconds, wirecare lighting system gives you the status of all your receptacle outlets; green light means good and safe, orange light needs more attention and uses with caution, and red light means danger, immediate replacement is highly recommended.
                            br
                            p Through wirecare, we provide a safe and worry-free life to your family.
                            a.t-primary(href="https://www.amazon.com/dp/B09BQT7SF4" target='_blank')
                                h6 《 Find us at Amazon 》
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="WIRECARE brings a safer and smarter lifestyle for your family" data-description="Do you knowledge the electrical fire is one of the reasons causing the house on fire? Ignoring the dust on the outlets or not checking the plugs and the wiring system on a regular basis could easily cause fire. Introducing wirecare from brook livin, an easy-to-use tool to check receptacle outlets and extension cords in your house." data-image="https://brook-livin.com/styles/images/news/en/new-03/meta.png")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="WIRECARE brings a safer and smarter lifestyle for your family" data-description="Do you knowledge the electrical fire is one of the reasons causing the house on fire? Ignoring the dust on the outlets or not checking the plugs and the wiring system on a regular basis could easily cause fire. Introducing wirecare from brook livin, an easy-to-use tool to check receptacle outlets and extension cords in your house." data-image="https://brook-livin.com/styles/images/news/en/new-03/meta.png")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="WIRECARE brings a safer and smarter lifestyle for your family" data-description="Do you knowledge the electrical fire is one of the reasons causing the house on fire? Ignoring the dust on the outlets or not checking the plugs and the wiring system on a regular basis could easily cause fire. Introducing wirecare from brook livin, an easy-to-use tool to check receptacle outlets and extension cords in your house." data-image="https://brook-livin.com/styles/images/news/en/new-03/meta.png")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="news") Back to Menu

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 More News
                        +main-card('','../styles/images/news/en/new-04/list.png','new-4','2021/12/03','An easy and efficient way to protect your love ones and properties',"When accident happened, people's regrets won't bring back your love ones and properties. Hence, checking…")
                        +main-card('','../styles/images/news/en/new-05/list.png','new-5','2021/12/03','10 seconds of checking for 10 years of safety','What can you do within 10 seconds? With wirecare, you can give your family a safer life for 10 years to go in...')
                        +main-card('','../styles/images/news/en/new-06/list.png','new-6','2021/12/03','Are your old house receptacle outlets safe?',"Without checking, people won't be able to find out whether the receptacle outlets and its wire behind the walls…")
                        +main-card('','../styles/images/news/en/new-01/00_list.png','new-1','2021/10/19','ZEROPLUS steps into household appliance with its expertise in embedded systems products','Starting from 2020, COVID-19 widespread hits the world, and it also grows the demand of work-from-…')
                        +main-card("","../styles/images/news/en/WIRECARE AC Circuit Tester_列表_425x200.png","unboxing","2021/9/16","Brook Livin WIRECARE AC Circuit Tester by The Ganssle Group","The WIRECARE is a small device that evaluates the Wiring in Houses and Buildings. It's a pretty simple... ")
                        //- +main-card('','../styles/images/pic-1.jpg','new')
                        //- +main-card('','../styles/images/pic-2.jpg','new')
                        //- +main-card('','../styles/images/pic-3.jpg','new')