//- index.pug
extends include/new-layout.pug
block meta
    title 10 seconds of checking for 10 years of safety
    meta(name='description' content='What can you do within 10 seconds? With wirecare, you can give your family a safer life for 10 years to go in 10 seconds.')
    meta(property='image' content='https://brook-livin.com/styles/images/news/en/new-05/meta.png')
    meta(property='og:title' content='10 seconds of checking for 10 years of safety')
    meta(property='og:url' content='https://brook-livin.com/en/new-5')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/en/new-05/meta.png')
    meta(property='og:description' content='What can you do within 10 seconds? With wirecare, you can give your family a safer life for 10 years to go in 10 seconds.')
    meta(property='og:site_name' content='10 seconds of checking for 10 years of safety')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 10 seconds of checking for 10 years of safety
                        .row
                            .col-8.text-left
                                a.tag.t-primary.mr-2(href='#') #electrical fire protection
                                a.tag.t-primary.mr-2(href='#') #outlet safety
                                a.tag.t-primary.mr-2(href='#') #receptacle outlet check
                                a.tag.t-primary.mr-2(href='#') #outlet check
                                a.tag.t-primary.mr-2(href='#') #resistance
                            .col-4.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/12/03
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.mx-auto.img-fluid(src='../styles/images/news/en/new-05/content.png', alt='圖片' style='max-width: 800px;')
                            br
                            br
                            p What can you do within 10 seconds? With wirecare, you can give your family a safer life for 10 years to go in 10 seconds.
                            p Within 10 seconds, wirecare is able to measure the receptacle outlet with its "Contact Resistance" detection providing the values are 《less than 0.25 Ohm》, 《0.25 Ohm》, 《0.75 Ohm》, and 《1 Ohm》 respectively. wirecare responds with lights in Green, Orange, and Red colors, all 8 LED in levels of colors to tell your receptacle outlet status.
                            p *Check out the full WIRECARE Experiment video by 《#StrongpiLab》 on #[a(href='https://youtu.be/Rwplb4E0dDc' target="_blank") YouTube: https://youtu.be/Rwplb4E0dDc]
                            br
                            p You may not need to understand the electricity and resistance.... and all that stuffs to protect your properties and family members.  Only should you need wirecare, simply plug-in to your receptacle outlets and extension cords, the result will be shown in 10 seconds through 3 different lights, green, orange and red, which represents safe, caution and danger respectively. wirecare brings you a safer and easier future life in 10 seconds.
                            p Now! 10 years of safety just a click away.
                            br
                            a.t-primary(href="https://www.amazon.com/dp/B09BQT7SF4" target='_blank')
                                h6 《 Find us at Amazon 》
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="10 seconds of checking for 10 years of safety" data-description="What can you do within 10 seconds? With wirecare, you can give your family a safer life for 10 years to go in 10 seconds." data-image="https://brook-livin.com/styles/images/news/en/new-05/meta.png")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="10 seconds of checking for 10 years of safety" data-description="What can you do within 10 seconds? With wirecare, you can give your family a safer life for 10 years to go in 10 seconds." data-image="https://brook-livin.com/styles/images/news/en/new-05/meta.png")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="10 seconds of checking for 10 years of safety" data-description="What can you do within 10 seconds? With wirecare, you can give your family a safer life for 10 years to go in 10 seconds." data-image="https://brook-livin.com/styles/images/news/en/new-05/meta.png")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="news") Back to Menu

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 More News
                        +main-card('','../styles/images/news/en/new-03/list.png','new-3','2021/12/03','WIRECARE brings a safer and smarter lifestyle for your family',"Do you know the electrical fire is one of the reasons causing the house on fire? Ignoring the dust on the outlets...")
                        +main-card('','../styles/images/news/en/new-04/list.png','new-4','2021/12/03','An easy and efficient way to protect your love ones and properties',"When accident happened, people's regrets won't bring back your love ones and properties. Hence, checking…")
                        +main-card('','../styles/images/news/en/new-06/list.png','new-6','2021/12/03','Are your old house receptacle outlets safe?',"Without checking, people won't be able to find out whether the receptacle outlets and its wire behind the walls…")
                        +main-card('','../styles/images/news/en/new-01/00_list.png','new-1','2021/10/19','ZEROPLUS steps into household appliance with its expertise in embedded systems products','Starting from 2020, COVID-19 widespread hits the world, and it also grows the demand of work-from-…')
                        +main-card("","../styles/images/news/en/WIRECARE AC Circuit Tester_列表_425x200.png","unboxing","2021/9/16","Brook Livin WIRECARE AC Circuit Tester by The Ganssle Group","The WIRECARE is a small device that evaluates the Wiring in Houses and Buildings. It's a pretty simple... ")
                        //- +main-card('','../styles/images/pic-1.jpg','new')
                        //- +main-card('','../styles/images/pic-2.jpg','new')
                        //- +main-card('','../styles/images/pic-3.jpg','new')