//- index.pug
extends include/new-layout.pug
block meta
    title Year 2021-2022 D&B TOP Elite SME Award for ZEROPLUS TECHNOLOGY | Brook Livin
    meta(name='description' content='So honor to share that ZEROPLUS | Brook Livin is awarded “D&B TOP Elite SME Award” in year 2021-2022. Thanks to all for ZEROPLUS Global Customers, Distributors, Fans and Friends with constant and unwavering support, for this highest honor of SMEs enterprises in Taiwan.')
    meta(property='image' content='https://brook-livin.com/styles/images/news/en/new-02/meta.png')
    meta(property='og:title' content='Year 2021-2022 D&B TOP Elite SME Award for ZEROPLUS TECHNOLOGY | Brook Livin')
    meta(property='og:url' content='https://brook-livin.com/en/new-2')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/en/new-02/meta.png')
    meta(property='og:description' content='So honor to share that ZEROPLUS | Brook Livin is awarded “D&B TOP Elite SME Award” in year 2021-2022. Thanks to all for ZEROPLUS Global Customers, Distributors, Fans and Friends with constant and unwavering support, for this highest honor of SMEs enterprises in Taiwan.')
    meta(property='og:site_name' content='Year 2021-2022 D&B TOP Elite SME Award for ZEROPLUS TECHNOLOGY | Brook Livin')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 Year 2021-2022 D&B TOP Elite SME Award for ZEROPLUS TECHNOLOGY | Brook Livin
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#') #ZEROPLUS
                                a.tag.t-primary.mr-2(href='#') #Brook Livin
                                a.tag.t-primary.mr-2(href='#') #D&B TOP Elite SME Award
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/11/12
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.mx-auto.img-fluid(src='../styles/images/news/en/new-02/content.png', alt='圖片' style='max-width: 800px;')
                            br
                            br
                            p So honor to share that ZEROPLUS | Brook Livin is awarded “D&B TOP Elite SME Award” in year 2021-2022.
                            p Thanks to all for ZEROPLUS Global Customers, Distributors, Fans and Friends with constant and unwavering support, for this highest honor of SMEs enterprises in Taiwan.
                            p ZEROPLUS | Brook Livin will never take this honor for granted; let’s cherish every moment in coming future.
                            br
                            h5.t-primary < About Dun & Bradstreet SME Elite Award >
                            p “Dun & Bradstreet SME Elite Award” is based on the comparison of international SMEs’ export data in Dun & Bradstreet's unique big data database.
                            p The award is based on candidates’ #[b Payment Records, Financial Pressure Index, Payment Index, Purchasing Power Index, Export Growth Rate, Export Level Distance, Brand Equity, Public Relations and Marketing Strategy.]
                            p In market of Taiwan, D&B evaluated more than 1.4 million SMEs enterprises for TOP SMEs with its all competitiveness.
                            br
                            a.t-primary(href="http://www.zeroplus.com.tw/logic-analyzer_en/products.php?pdn=1&product_id=765" target='_blank')
                                h6 《ZEROPLUS Global Official Website》
                            a.t-primary(href="https://reurl.cc/0xymR6" target='_blank')
                                h6 《ZEROPLUS Logic Analyzer on Amazon USA》
                            a.t-primary(href="https://brook-livin.com/en/product/wirecare " target='_blank')
                                h6 《Brook Livin Global Official Website》
                            a.t-primary(href="https://pse.is/3rt4qa " target='_blank')
                                h6 《Brook Livin WIRECARE on Amazon USA》
                            a.t-primary(href="https://www.facebook.com/brooklivin " target='_blank')
                                h6 《Brook Livin Facebook Fan Page》
                            a.t-primary(href="https://www.linkedin.com/company/zeroplus-technology-co-ltd" target='_blank')
                                h6 《ZEROPLUS & Brook Livin: LinkedIn Page》
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="Year 2021-2022 D&B TOP Elite SME Award for ZEROPLUS TECHNOLOGY | Brook Livin" data-description="So honor to share that ZEROPLUS | Brook Livin is awarded “D&B TOP Elite SME Award” in year 2021-2022. Thanks to all for ZEROPLUS Global Customers, Distributors, Fans and Friends with constant and unwavering support, for this highest honor of SMEs enterprises in Taiwan." data-image="https://brook-livin.com/styles/images/news/en/new-02/meta.png")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="Year 2021-2022 D&B TOP Elite SME Award for ZEROPLUS TECHNOLOGY | Brook Livin" data-description="So honor to share that ZEROPLUS | Brook Livin is awarded “D&B TOP Elite SME Award” in year 2021-2022. Thanks to all for ZEROPLUS Global Customers, Distributors, Fans and Friends with constant and unwavering support, for this highest honor of SMEs enterprises in Taiwan." data-image="https://brook-livin.com/styles/images/news/en/new-02/meta.png")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="Year 2021-2022 D&B TOP Elite SME Award for ZEROPLUS TECHNOLOGY | Brook Livin" data-description="So honor to share that ZEROPLUS | Brook Livin is awarded “D&B TOP Elite SME Award” in year 2021-2022. Thanks to all for ZEROPLUS Global Customers, Distributors, Fans and Friends with constant and unwavering support, for this highest honor of SMEs enterprises in Taiwan." data-image="https://brook-livin.com/styles/images/news/en/new-02/meta.png")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="news") Back to Menu

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 More News
                        +main-card('','../styles/images/news/en/new-01/00_list.png','new-1','2021/10/19','ZEROPLUS steps into household appliance with its expertise in embedded systems products','Starting from 2020, COVID-19 widespread hits the world, and it also grows the demand of work-from-…')
                        +main-card("","../styles/images/news/en/WIRECARE AC Circuit Tester_列表_425x200.png","unboxing","2021/9/16","Brook Livin WIRECARE AC Circuit Tester by The Ganssle Group","The WIRECARE is a small device that evaluates the Wiring in Houses and Buildings. It's a pretty simple... ")
                        //- +main-card('','../styles/images/pic-1.jpg','new')
                        //- +main-card('','../styles/images/pic-2.jpg','new')
                        //- +main-card('','../styles/images/pic-3.jpg','new')