//- index.pug
extends include/new-layout.pug
block meta
    title 在公司上班，與居家生活，如何正確用電？用電安全？ - Brook Livin
    meta(name='description' content='無形的電流，常因企業內與家庭中，各種電器、環境、人為因素，造成電器火災，危及生命健康與財產損壞。')
    meta(property='image' content='https://livin.brookaccessory.com/styles/images/media-1-list.jpg')
    meta(property='og:title' content='在公司上班，與居家生活，如何正確用電？用電安全？ - Brook Livin')
    meta(property='og:url' content='https://livin.brookaccessory.com/media-1')
    meta(property='og:image' content='https://livin.brookaccessory.com/styles/images/media-1-list.jpg')
    meta(property='og:description' content='無形的電流，常因企業內與家庭中，各種電器、環境、人為因素，造成電器火災，危及生命健康與財產損壞。')
    meta(property='og:site_name' content='在公司上班，與居家生活，如何正確用電？用電安全？ - Brook Livin')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 募資WIRECARE 宅電防護員
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#') #居家安全
                                a.tag.t-primary.mr-2(href='#') #用電安全
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 22 APRIL, 2020
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p 我們擴展了Brook Gaming WE BACK YOU UP對玩家的承諾，由遊戲周邊、拓展到生活周邊，延伸出另一支生活周邊品牌 - Brook Livin Enjoy the Tech，致力在生活周邊用品的開發與應用，希望從生活中的小細節發現新的創意。我們求新求變的精神、如同變色龍一般的瞬息萬變，我們觀察市場動脈、帶領潮流，打造不同產品，為您創造時尚品味、便利趣味、豐富科技、多樣化的生活用品；各種您所想的、或意想不到的，都能成為您生活中的一部分，Brook Livin 讓科技更貼近你的生活圈！
                            br
                            img.img-fluid(src='../styles/images/Group.jpg', alt='圖片')
                            br
                            br
                            p 我們擴展了Brook Gaming WE BACK YOU UP對玩家的承諾，由遊戲周邊、拓展到生活周邊，延伸出另一支生活周邊品牌 - Brook Livin Enjoy the Tech，致力在生活周邊用品的開發與應用，希望從生活中的小細節發現新的創意。我們求新求變的精神、如同變色龍一般的瞬息萬變，我們觀察市場動脈、帶領潮流，打造不同產品，為您創造時尚品味、便利趣味、豐富科技、多樣化的生活用品；各種您所想的、或意想不到的，都能成為您生活中的一部分，Brook Livin 讓科技更貼近你的生活圈！
                            p 我們擴展了Brook Gaming WE BACK YOU UP對玩家的承諾，由遊戲周邊、拓展到生活周邊，延伸出另一支生活周邊品牌 - Brook Livin Enjoy the Tech，致力在生活周邊用品的開發與應用，希望從生活中的小細節發現新的創意。我們求新求變的精神、如同變色龍一般的瞬息萬變，我們觀察市場動脈、帶領潮流，打造不同產品，為您創造時尚品味、便利趣味、豐富科技、多樣化的生活用品；各種您所想的、或意想不到的，都能成為您生活中的一部分，Brook Livin 讓科技更貼近你的生活圈！
                            p 我們擴展了Brook Gaming WE BACK YOU UP對玩家的承諾，由遊戲周邊、拓展到生活周邊，延伸出另一支生活周邊品牌 - Brook Livin Enjoy the Tech，致力在生活周邊用品的開發與應用，希望從生活中的小細節發現新的創意。我們求新求變的精神、如同變色龍一般的瞬息萬變，我們觀察市場動脈、帶領潮流，打造不同產品，為您創造時尚品味、便利趣味、豐富科技、多樣化的生活用品；各種您所想的、或意想不到的，都能成為您生活中的一部分，Brook Livin 讓科技更貼近你的生活圈！我們擴展了Brook Gaming WE BACK YOU UP對玩家的承諾，由遊戲周邊、拓展到生活周邊，延伸出另一支生活周邊品牌 - Brook Livin Enjoy the Tech，致力在生活周邊用品的開發與應用，希望從生活中的小細節發現新的創意。我們求新求變的精神、如同變色龍一般的瞬息萬變，我們觀察市場動脈、帶領潮流，打造不同產品，為您創造時尚品味、便利趣味、豐富科技、多樣化的生活用品；各種您所想的、或意想不到的，都能成為您生活中的一部分，Brook Livin 讓科技更貼近你的生活圈！
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="募資WIRECARE 宅電防護員" data-description="我們擴展了Brook Gaming WE BACK YOU UP對玩家的承諾，由遊戲周邊、拓展到生活周邊，延伸出另一支生活周邊品牌" data-image="https://livin.brookaccessory.com/styles/images/Group.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="募資WIRECARE 宅電防護員" data-description="我們擴展了Brook Gaming WE BACK YOU UP對玩家的承諾，由遊戲周邊、拓展到生活周邊，延伸出另一支生活周邊品牌" data-image="https://livin.brookaccessory.com/styles/images/Group.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="募資WIRECARE 宅電防護員" data-description="我們擴展了Brook Gaming WE BACK YOU UP對玩家的承諾，由遊戲周邊、拓展到生活周邊，延伸出另一支生活周邊品牌" data-image="https://livin.brookaccessory.com/styles/images/Group.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="news") Back to Menu
                        
                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 More News
                        //- +main-card('','../styles/images/pic-1.jpg','new')
                        //- +main-card('','../styles/images/pic-2.jpg','new')
                        //- +main-card('','../styles/images/pic-3.jpg','new')