//- index.pug
extends include/layout.pug

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                h2.f-sc-title.mb-3.mb-md-4 Privacy & Terms
                hr.my-3.my-md-4
                h4.f-textTitle Informed matter regarding personal information
                .new-inner.pb-3.pb-md-5
                    p Any personal information collected due to brook website related activities of Zeroplus Technology Co., Ltd., (hereinafter "Our company"), such as:
                    br
                    p Maintenance warranty, Customer Service, or other general services for the members is taken care of with respect to user’s privacy right in an honest and trustworthy manner. The purpose of collecting your personal information is due to Brook website business related activities with marketing, statistical analysis or database management. Our company will only request for your personal information that is necessary for the operation of Brook website related service, including name, sex, and contact detail. The personal information collected by our company will only be processed or used before the agreement, during the period of the agreement or any time period accepted by you, but should be governed by the law. Your personal information in principal will only be processed or used in a form of e-mail document or printed version by our company or outsourced vendor in Taiwan including Taiwan main island, PengHu, Kinmen and Matzu. To further understand how we process and use your personal information, you are welcome to contact us. The acts including collecting, processing and using any personal information all follow the guideline of our company’s data management goal and policy, with a complete security plan with highly secured monitoring and standard operation procedures, so that you can feel at ease to provide your personal information to our company. Based on the privacy protection law, you can exercise the following rights:
                    br
                    p Queries or requests for access to your personal information.#[br]
                    | Requests for a copy of your personal information.#[br]
                    | Requests for adding or correct your personal information.#[br]
                    | Request for stop collecting, processing or using your personal information.#[br]
                    | Requests to delete your personal information.
                    br
                    br
                    br
                    p When you wish to exercise the rights mentioned above, Our Company's service contact window will process your request. You can go to our official website to find our email address (URL: #[a.t-primary(href='http://www.brookaccessory.com/en' target='_blank') http://www.brookaccessory.com/en]). You can choose whether or not to provide the complete personal information when asked by our company for collecting, processing and using your personal information due to the above mentioned reasons. However, if your personal information hasn’t been provided or is incomplete, it is possible that our company may not provide a complete service (such as: maintenance warranty, Customer Service).