extends include/layout.pug

block content
    main#page.wrapper
        .page-hero
            .container
                .page-hero_text
                    h2.f-heroTitle-xs.text-center What’s New
                .page-hero_img
                    img(src='../styles/images/news-banner.png', alt='情境圖')
        #page-nav
            ul.nav.justify-content-center
                li.nav-item.medias-link
                    a.nav-link(href='news') News
                li.nav-item.activities-link
                    a.nav-link(href='activities') Events
                li.nav-item.unboxes-link
                    a.nav-link.active(href='unboxes') Unboxing
        article.page-inner
            //- .filter-row.mb-3.mb-lg-4
            //-     .container
            //-         .row.justify-content-center
            //-             .col-6.col-md-3.col-xl-2
            //-                 .select-box
            //-                     .form-group
            //-                         select.form-control.main-select
            //-                             option Category
            //-                             option Home Safety
            //-             .col-6.col-md-3.col-xl-2
            //-                 .select-box
            //-                     .form-group
            //-                         select.form-control.main-select
            //-                             option Products
            //-                             option WIRECARE
            //-             .col-12.col-md-3.col-xl-2.mt-4.mt-md-0
            //-                 .input-group.search-input
            //-                     input.form-control(type="text" placeholder="Search Products" aria-describedby="button-search")
            //-                     .input-group-append
            //-                         button#button-search(type="button")
            //-                             i.icon-magnifier
            section
                .container
                    .row#medias-inner
                        .col-12.col-lg-4.my-lg-2
                            +main-card("","../styles/images/news/en/WIRECARE AC Circuit Tester_列表_425x200.png","unboxing","2021/9/16","Brook Livin WIRECARE AC Circuit Tester by The Ganssle Group","The WIRECARE is a small device that evaluates the Wiring in Houses and Buildings. It's a pretty simple... ")
            //- +page-navigation