//- index.pug
extends ./include/new-layout.pug
block meta
    title Brook Livin WIRECARE AC Circuit Tester by The Ganssle Group
    meta(name='description' content="The WIRECARE is a small device that evaluates the Wiring in Houses and Buildings. It's a pretty simple unit: you plug WIRECARE directly into an outlet and a series of LEDs flash for a couple of seconds before stabilizing on a color.")
    meta(property='image' content='https://brook-livin/styles/images/news/en/WIRECARE AC Circuit Tester_列表_425x200.png')
    meta(property='og:title' content='Brook Livin WIRECARE AC Circuit Tester by The Ganssle Group')
    meta(property='og:url' content='https://brook-livin/en/unboxing')
    meta(property='og:image' content='https://brook-livin/styles/images/news/en/WIRECARE AC Circuit Tester_列表_425x200.png')
    meta(property='og:description' content="The WIRECARE is a small device that evaluates the Wiring in Houses and Buildings. It's a pretty simple unit: you plug WIRECARE directly into an outlet and a series of LEDs flash for a couple of seconds before stabilizing on a color.")
    meta(property='og:site_name' content='Brook Livin WIRECARE AC Circuit Tester by The Ganssle Group')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 Brook Livin WIRECARE AC Circuit Tester by The Ganssle Group
                        .row
                            .col-8.text-left
                                a.tag.t-primary.mr-2(href='#' title='Brook Livin') #Brook Livin
                                a.tag.t-primary.mr-2(href='#' title='The Ganssle Group') #The Ganssle Group
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='Unboxing') #Unboxing
                            .col-4.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/9/16
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.img-fluid(src='../styles/images/news/en/ZEROPLUS_1_09142021.jpg', alt='圖片')
                            br
                            br
                            p #[b Brook Livin | ZEROPLUS] is an interesting Taiwanese company that makes a great set of ZEROPLUS Logic Analyzers. On Sep/2021, Brook Livin also makes other products, and have a subsidiary that makes Smart Home Devices. Brook Livin recently sent me their new #[b WIRECARE].
                            p About 20 years ago we were #[b renting a house], an old house. The wiring was perhaps to code, once, but clearly didn't conform to the #[b Modern Electrical Code]. I smelled #[b Smoke] and called the #[b Fire Department] who found nothing wrong. But they were less than happy to see how in the office I had #[b Multiple Outlet Strips] plugged into each other to support an #[b Engineering Lab] on the #[b Single Outlet in the room].
                            p As houses get older, all too often their #[b Electrical Systems don't Get Upgraded]. Very old places may have been refitted with wiring that's #[b External to the Walls]. Others might use #[b Knob and Tube Wires], which scares me but I'm told is still legal in many jurisdictions. Here's an example:
                            br
                            br
                            img.img-fluid(src='../styles/images/news/en/ZEROPLUS_2_09142021.jpg', alt='圖片')
                            br
                            br
                            p The #[b WIRECARE] is a small device that #[b evaluates the Wiring in Houses and Buildings]. It's a pretty simple unit: #[b you plug WIRECARE directly into an outlet] and a series of LEDs flash for a couple of seconds before stabilizing on a color. #[b Red means call an Electrician], now; #[b Orange indicates Sub-Par Wiring] and #[b Green indicates everything is Copacetic].
                            br
                            br
                            img.img-fluid(src='../styles/images/news/en/ZEROPLUS_3_09142021.png', alt='圖片')
                            br
                            br
                            p Brook Livin #[b WIRECARE] is shown as #[b 3 stages of Lights], and its correlation to the #[b Impedance Value].
                            p #[b - In light of Red]: Do NOT use the socket, and please arrange the #[b repair / replacement ASAP]
                            p #[b - In light of Orange]: #[b Pay attention to the socket], and please arrange the repair / replacement
                            p #[b - In light of Green]: The socket is good to use, and please #[b measure the Impedance with WIRECARE regularly], recommended at least half of year in every Socket / Extension Cord at home and business
                            br
                            p When we moved into the current house 12 years ago, I ran 220 to a #[b new Circuit Breaker Box] in the garage and then circuits throughout the room. I plugged the WIRECARE into the circuit physically the most distant from the building's main breaker box and was happy to see it indicate green, an OK message.
                            br
                            br
                            img.img-fluid(src='../styles/images/news/en/ZEROPLUS_4_09142021.jpg', alt='圖片')
                            br
                            br
                            p Though our house is 50 years old, all of the circuits tested were green. Wanting to see it indicate a problem I connected it to the far end of a 100 foot extension cord that uses 14 gauge wires. And, voila! #[b The WIRECARE's LEDs showed Orange], I suspect as a result of Impedance value through that long run.
                            br
                            br
                            img.img-fluid(src='../styles/images/news/en/ZEROPLUS_5_09142021.jpg', alt='圖片')
                            br
                            br
                            p #[b At just $100 the WIRECARE] seems like a nice way to be sure #[b Your Circuits are Safe at Home and Business]. Especially now that we too often employ #[b outlet strips galore to support our electronics zoo].
                            br
                            p.mb-1 *Now #[b Brook Livin WIRECARE] available from Amazon:
                            a.t-primary(href="https://www.amazon.com/dp/B09BQT7SF4?ref=myi_title_dp" target="_blank") Amazon
                            br
                            br
                            p.mb-1 *Check【Brook Livin】WIRECARE official website:
                            a.t-primary(href="https://brook-livin/en/product/wirecare" target="_blank") 【Brook Livin】WIRECARE official website
                            br
                            br
                            p.mb-1 *Welcome to be our fans on【Brook Livin】Facebook Page:
                            a.t-primary(href="https://www.facebook.com/brooklivin" target="_blank") 【Brook Livin】Facebook Page
                            br
                            br
                            p.mb-1 *Read the original review on The Ganssle Group
                            a.t-primary(href="http://www.ganssle.com/blog/blog/wirecare.html" target="_blank") The WIRECARE - A nice circuit tester
                            br
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style='font-size: 24px;' data-social="facebook" data-title="Brook Livin WIRECARE AC Circuit Tester by The Ganssle Group" data-description="The WIRECARE is a small device that evaluates the Wiring in Houses and Buildings. It's a pretty simple unit: you plug WIRECARE directly into an outlet and a series of LEDs flash for a couple of seconds before stabilizing on a color." data-image="https://brook-livin/styles/images/news/en/WIRECARE AC Circuit Tester_列表_425x200.png")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="Brook Livin WIRECARE AC Circuit Tester by The Ganssle Group" data-description="The WIRECARE is a small device that evaluates the Wiring in Houses and Buildings. It's a pretty simple unit: you plug WIRECARE directly into an outlet and a series of LEDs flash for a couple of seconds before stabilizing on a color." data-image="https://brook-livin/styles/images/news/en/WIRECARE AC Circuit Tester_列表_425x200.png")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="Brook Livin WIRECARE AC Circuit Tester by The Ganssle Group" data-description="The WIRECARE is a small device that evaluates the Wiring in Houses and Buildings. It's a pretty simple unit: you plug WIRECARE directly into an outlet and a series of LEDs flash for a couple of seconds before stabilizing on a color." data-image="https://brook-livin/styles/images/news/en/WIRECARE AC Circuit Tester_列表_425x200.png")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="https://brook-livin/en/unboxing")
                                    i.icon-link
                            a(href="unboxes") Back to Menu

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 More News
                        +main-card('','../styles/images/news/en/new-02/list.png','new-2','2021/11/12','Year 2021-2022 D&B TOP Elite SME Award for ZEROPLUS','So honor to share that ZEROPLUS | Brook Livin is awarded “D&B TOP Elite SME Award” in year 2021-2022.')
                        +main-card('','../styles/images/news/en/new-01/00_list.png','new-1','2021/10/19','《ZEROPLUS steps into household appliance with its expertise in embedded systems products','Starting from 2020, COVID-19 widespread hits the world, and it also grows the demand of work-from-…')