//- index.pug
extends ../include/product-layout.pug

block page-css
    link(rel='stylesheet' type='text/css' href='../../styles/wirecare.css')
    
block plugins-js
    //- script(src="scripts/plugins/slick.js")
    script(src="../../scripts/data/wirecare.js") 
    
block content
    main#index.wrapper
        section.project-hero
            .project-hero_bg
                img(src="../styles/images/index-banner.jpg", alt="")
            .container
                .project-hero_text.text-center
                    .d-md-flex.justify-content-center.align-items-center
                        div.mx-2.ml-md-0
                            img(src="../styles/images/wirecare-logo.png", alt="")
                        div.f-textTitle.mt-3 宅電防護員
                    h2.f-heroTitle.my-2.mb-lg-4 一鍵解開居家電線檢測
                    //- a.main-btn.btn-white.anchor(href='#buy-now' target='_blank') 前往購買
                    .project-hero_project
                        img(src="../styles/images/wirecare-product.png", alt="")
        section.pb-5
            .container.mx-auto(style='max-width:1100px;')
                .row.align-items-md-center
                    .col-12.col-md-6.pr-md-5
                        .t-primary 智能護電・安心生活
                        h5.f-textTitle-big.fw-600.mt-2.mb-4 簡單步驟輕鬆掌控#[br]守護全家的用電安全fsdfsdfs
                        p 內政部消防署統計，近年起火原因前三名皆為用電不慎所引起的火災，就讓Wirecare為您守護生活科技帶來的用電危機，一鍵即測，輕鬆了解線及插座的用電狀態，打造安心的優質生活。
                    .col-12.col-md-6
                        .wirecare-about-video
                            iframe(src='https://www.youtube.com/embed/p8JrbWgo4jU' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        section.py-5.use-changed
            .use-change-progress
                .progress
                    .progress-bar(role='progressbar' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
            .container
                h2.f-sc-title.text-center.mb-2 家中常見用電危險因素
                .change
                    p.sub-title
                        span.not-use 未使用wirecare，無法察覺隱藏危險
                        span.use 使用wirecare，完美守護用電安全
                    .change-inner.d-flex.align-items-center.justify-content-lg-center.my-5
                        .use-changed-item.flip-container.pic
                            .flipper.pic
                                .front.pic
                                    img(src="../styles/images/not-use.png", alt="")
                                    .note
                                        i.icon-click.t-red
                                        span.f-textSubTitle.t-dark 點我開始檢測
                                .back.pic
                                    img(src="../styles/images/used.png", alt="")
                                    .note
                                        i.icon-click.t-primary
                                        span.f-textSubTitle.t-dark 點我關閉檢測
                        .use-changed-item.flip-container
                            .flipper.use-changed-item
                                .front
                                    .top 觀察不到的
                                    .big.t-dark 插座老化
                                    i.icon-exclamation.danger
                                    .big.danger 出現高溫
                                .back
                                    .top 觀察不到的
                                    .big.t-dark 插座老化
                                    i.icon-icon-11.protect
                                    .big.protect-text 出現高溫
                        .use-changed-item.flip-container
                            .flipper.use-changed-item
                                .front
                                    .top 電池插座鬆弛
                                    .big.t-dark 灰塵滿佈
                                    i.icon-exclamation.danger
                                    .big.danger 電線走火
                                .back
                                    .top 電池插座鬆弛
                                    .big.t-dark 灰塵滿佈
                                    i.icon-icon-11.protect
                                    .big.protect-text 電線走火
                        .use-changed-item.flip-container
                            .flipper.use-changed-item
                                .front
                                    .top 常見過載問題的
                                    .big.t-dark 舊式配電
                                    i.icon-exclamation.danger
                                    .big.danger 舊式配電
                                .back
                                    .f-textSubTitle 常見過載問題的
                                    .big.t-dark 舊式配電
                                    i.icon-icon-11.protect
                                    .big.protect-text 舊式配電

        section.py-4.py-md-5.bg-light
            .container.mx-auto(style='max-width:1100px;')
                .row.align-items-md-center
                    .col-12.col-md-6
                        ul.list-unstyled.pl-md-5.ml-md-5
                            li.my-md-3 
                                i.icon.icon-icon-11.t-primary(style='font-size: 36px;width:36px;')
                                h5.d-inline-block.f-textTitle-big.ml-2 居家電線危機雷達
                            li.my-md-3
                                i.icon.icon-light.t-primary(style='font-size: 36px;width:36px;')
                                h5.d-inline-block.f-textTitle-big.ml-2 10秒解鎖用電狀況
                            li.my-md-3
                                i.icon.icon-wire.t-primary(style='font-size: 36px;width:36px;')
                                h5.d-inline-block.f-textTitle-big.ml-2 住宅必備安全小幫手
                            li.my-md-3
                                i.icon.icon-socket.t-primary(style='font-size: 36px;width:36px;')
                                h5.d-inline-block.f-textTitle-big.ml-2 科技小白用電也不怕
                    .col-12.col-md-6.p-0
                        img(src='../styles/images/wirecare-product-1.png', alt='')
        section.features-block.mb-md-5
            .features_img
                img(src="../styles/images/pic-3.jpg", alt="")
                img(src="../styles/images/pic-3.jpg", alt="")
                img(src="../styles/images/pic-3.jpg", alt="")
            .features_text
                .features_text-item 一插即測 :#[br]MIT研發為你隨時把關用電安全
                .features_text-item 環保x好收納 : #[br]折疊插腳 + 10x3.5輕巧攜帶#[br]測完即收，不佔用電空間
                .features_text-item 簡易辨識 : #[br]用電安全紅綠燈 !
        section.py-4.py-md-5.px-md-2.user-method
            .container
                h2.f-sc-title.text-center.mb-5 使用方式
                ul.user-method-slider.gray-arrows.list-unstyled.pb-5.pb-md-0
                    li
                        .user-method-item
                            .pic.d-flex.align-items-center.justify-content-center
                                img.img-h100(src="../styles/images/flow-1.png", alt="")
                            .num 1
                            .text.text-center
                                p.fw-500.t-dark.f-textSubTitle.mb-0 將WIRECARE#[br]插入欲測試插座
                    li
                        .user-method-item
                            .pic.d-flex.align-items-center.justify-content-center.py-4
                                img.img-h100(src="../styles/images/flow-2.png", alt="")
                            .num 2
                            .text.text-center
                                p.fw-500.t-dark.f-textSubTitle.mb-0 將WIRECARE#[br]插入後即開始檢測，待數秒後呈現檢測結果
                    li
                        .user-method-item
                            .pic.d-flex.align-items-center.justify-content-center
                                img(src="../styles/images/flow-3.png", alt="")
                            .num 3
                            .text.text-center
                                p.fw-500.t-dark.f-textSubTitle 根據8段LED顯示燈，#[br]表示線路測試結果
                                div
                                    p.mb-1 #[span.red 1-2段顯示紅色]，老化警示
                                    p.mb-1 #[span.orange 3-5段顯示橘色]，需檢查
                                    p.mb-1 #[span.green 6-8段顯示綠色]，線路優良
                    li
                        .user-method-item
                            .pic.d-flex.align-items-center.justify-content-center.py-4
                                img.img-h100(src="../styles/images/flow-4.png", alt="")
                            .num 4
                            .text.text-center
                                p.fw-500.t-dark.f-textSubTitle.mb-0 再次檢測插座，則按壓上方檢測按鈕即可再次檢測
        section.py-4.py-md-5
            .container.mx-auto(style='max-width:1000px;')
                .row.format-block
                    .col-12.col-lg-7.col-xl-8
                        .format-block_left-title
                            h2.title WIRECARE
                        .format-block_left
                            .format-block_pic
                                img(src="../styles/images/wirecare-product-2.png", alt="")
                            .format-block_feature
                                ul.list-inline.mb-0
                                    li.list-inline-item.mx-3.my-2
                                        img(src="../styles/images/note-1.png", alt="")
                                        p.f-textSubTitle.fw-500.t-dark.text-center.mb-0.mt-2 折疊插腳
                                    li.list-inline-item.mx-3.my-2
                                        img(src="../styles/images/note-2.png", alt="")
                                        p.f-textSubTitle.fw-500.t-dark.text-center.mb-0.mt-2 台灣製造
                                    br
                                    li.list-inline-item.mx-3.my-2
                                        img(src="../styles/images/note-3.png", alt="")
                                        p.f-textSubTitle.fw-500.t-dark.text-center.mb-0.mt-2 燈號簡易辨識
                                    li.list-inline-item.mx-3.my-2
                                        img(src="../styles/images/note-4.png", alt="")
                                        p.f-textSubTitle.fw-500.t-dark.text-center.mb-0.mt-2 10x3.5輕巧攜帶
                    .col-12.col-lg-5.col-xl-4.pl-md-0
                        .format-block_list
                            h3.f-textTitle-big.fw-600.text-center.p-4 規格說明
                            ul.list-unstyled
                                li
                                    b.fw-500.t-dark 顏色
                                    span 白色
                                li
                                    b.fw-500.t-dark 插頭
                                    span 台灣規格，可折疊收納式
                                li
                                    b.fw-500.t-dark 產品尺寸
                                    span 長10cm x 寬10cm x 高3.5cm
                                li
                                    b.fw-500.t-dark 偵測電壓範圍
                                    span 100 - 240V
                                li
                                    b.fw-500.t-dark 偵測頻率範圍
                                    span 50 - 60Hz
                                li
                                    b.fw-500.t-dark 材質
                                    span PC
                                li
                                    b.fw-500.t-dark 重量
                                    span 165.8克
                                li
                                    b.fw-500.t-dark 產地
                                    span 台灣
        section.py-4.py-md-5
            .container
                h2.f-sc-title.text-center.mb-5 安規認證
                img.d-table.mx-auto(src='../styles/images/approve.png', alt='' style='max-width:920px;')
        section.py-4.py-md-5
            .container
                .wirecare-video
                    iframe(src='https://www.youtube.com/embed/p8JrbWgo4jU' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

        //- section.py-4.py-md-5.bg-light
        //-     .container
        //-         h2.f-sc-title.text-center.mb-5 使用者回饋
        //-         .row.justify-content-center
        //-             .col-12.col-lg-5.my-3.my-lg-0
        //-                 +feedback-item('../styles/images/people-1.png','體驗大使','使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容。','')
        //-             .col-12.col-lg-5.my-3.my-lg-0
        //-                 +feedback-item('../styles/images/people-2.png','體驗大使','使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容。','')
        //-             .col-12.col-lg-5.my-3.my-lg-0
        //-                 +feedback-item('../styles/images/people-1.png','體驗大使','使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容。','')
        //-             .col-12.col-lg-5.my-3.my-lg-0
        //-                 +feedback-item('../styles/images/people-2.png','體驗大使','使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容使用者回饋產品內容。','')
                    
        section#news-section.py-4.py-md-5
            .container
                h2.f-sc-title.text-center 最新消息
                .news-slider.my-4.gray-arrows.pb-3.pb-md-0
                    //- +main-card('','../styles/images/pic-1.jpg','new.html')
                a.main-btn.btn-primary.mt-5(href='news.html' rel='nofollow') 了解更多
        section#activity-section.py-4.py-md-5
            .container
                h2.f-sc-title.text-center 活動特區
                .activity-slider.my-5.gray-arrows.pb-3.pb-md-0
                    +activity-card('activity.html','../styles/images/pic-4.jpg')
                a.main-btn.btn-primary.mt-5(href='activities.html' rel='nofollow') 了解更多

        //- section.py-5.bg-y-light#buy-now
        //-     .container
        //-         h2.f-sc-title.text-center 立即購買
        //-         .row.d-md-flex.align-items-md-center
        //-             .col-12.col-md-6.col-lg-6.px-5.py-3.order-md-2
        //-                 .pic
        //-                     img(src='../styles/images/wirecare-product.png', alt='')
        //-             .col-12.col-md-6.col-lg-6.px-lg-5
        //-                 .d-lg-flex.align-items-center.text-center.text-lg-left.my-3.mb-md-4
        //-                     div.mr-2
        //-                         img.img-no-full(src='../styles/images/wirecare-logo-g.png', alt='' style='width:200px!important;')
        //-                     h5.f-textTitle.t-primary.mt-3.mb-0 宅電防護員
        //-                 p.mb-4 Brook Livin推出WIRECARE 宅電防護員品牌，讓民眾在用電安全的掌控上，可以更方便，簡單步驟就可以測出家中插座與延長線老化程度，安全科技，打造更放心的優質生活！
        //-                 .d-flex.align-items-center.mb-4
        //-                     .f-textSubTitle.mr-3 官方建議售價
        //-                     .f-textTitle-big.f-en NT$ 2,580
        //-                 .d-flex.mt-3.mt-lg-5
        //-                     a.main-btn.btn-primary.ml-0.mr-2(href='' target='_blank') 官方商城
        //-                     a.main-btn.btn-border-primary.ml-2.mr-0(href='store.html' target='_blank') 經銷商據點
                    
        section.py-5.my-lg-2.text-center
            .container
                div.mb-4.d-flex.align-items-center.justify-content-center
                    span.mx-3.d-inline-block
                        img.img-no-full(src='../styles/images/brook-g.png', alt='' style='width:100%;max-width:200px;')
                    span.mx-3.d-inline-block
                        img.img-no-full(src='../styles/images/wirecare-logo-g.png', alt='' style='width:100%;max-width:200px;')
                p.f-textTitle.t-dark.fw-500 以科技守護幸福#[br]智能護電 ‧ 生活安心
