//- index.pug
extends ./include/layout.pug

block content
    main#page.wrapper
        .page-hero
            .container
                .page-hero_text
                    h2.f-heroTitle-xs.text-center 打造安心的科技生活#[br]成為您生活上的小幸福
                .page-hero_img
                    img(src='styles/images/about-banner.jpg', alt='情境圖')

        article.page-inner.pt-5.pb-0
            section.text-center
                .container
                    .d-flex.flex-column.flex-md-row.justify-content-center.align-items-center.mb-4
                        span.mx-3.d-inline-block
                            img.img-no-full(src='styles/images/brook-g.png', alt='' style='width:100%;max-width:200px;')
                    p.px-4.px-md-0 在台深耕 20 餘年的#[a.mx-1.t-primary(href='http://www.zeroplus.com.tw/zp/intro/tw_about.html' target='_blank') 孕龍科技]公司，將研發知識融合新世代創意，開展出全新的科技家居品牌──Brook Livin。#[br]不只生活產品的創新設計，我們也致力環境永續、社會回饋，讓「家」更美好。
                    .after-h-line.mx-auto.mt-3.mt-md-4
            section
                .row.no-gutters
                    .col-12.col-lg-6.order-lg-1
                        .about-pic
                            img.img-fluid(src='styles/images/about-1.jpg', alt='')
                    .col-12.col-lg-6.p-4.px-lg-5.py-lg-0.p-xl-5.order-lg-2
                        .about-text
                            //- .t-primary 2017年
                            h4.f-sc-title.mb-3 匠心獨運
                            p 以豐富的研發經驗，搭配創新的品牌團隊，Brook Livin 不僅用心聆聽您的感受，更能精確掌握您的需求，打造出方便、安全且實用的居家新科技。
                .row.no-gutters
                    .col-12.col-lg-6.order-lg-2
                        .about-pic
                            img.img-fluid(src='styles/images/about-2.jpg', alt='')
                    .col-12.col-lg-6.p-4.px-lg-5.py-lg-0.p-xl-5.order-lg-1
                        .about-text
                            //- .t-primary 2020年 旗下品牌
                            h4.f-sc-title.mb-3 永續社會
                            p 對於 Brook Livin 而言，「家庭」與「家」不只是停留在字面上的意思。我們關心著社會所有需要幫助的群體，利用不同的方式永續這個社會，幫助弱勢朋友的同時，也以生態效益為初衷，打造出一個高品質、對生態低衝擊的生活品牌。