//- index.pug
extends ./include/layout.pug

block content
    main#page.wrapper
        .page-hero
            .container
                .page-hero_text
                    h2.f-heroTitle-xs.text-center 最新消息
                .page-hero_img
                    img(src='styles/images/news-banner.png', alt='情境圖')
        #page-nav
            ul.nav.justify-content-center
                //- li.nav-item.news-link
                //-     a.nav-link(href='news') 品牌消息
                li.nav-item.medias-link
                    a.nav-link(href='medias') 媒體報導
                li.nav-item.activities-link
                    a.nav-link.active(href='activities') 活動特區
                li.nav-item.unboxes-link
                    a.nav-link(href='unboxes') 開箱介紹

        article.page-inner
            .filter-row.mb-3.mb-lg-4
                .container
                    .row.justify-content-center
                        .col-6.col-md-4.col-xl-2
                            .select-box
                                .form-group
                                    select.form-control.main-select
                                        option 類別
                                        option 居家安全
                        .col-6.col-md-4.col-xl-2
                            .select-box
                                .form-group
                                    select.form-control.main-select
                                        option 產品
                                        option WIRECARE 宅電防護員 
                        .col-12.col-md-4.col-xl-2.mt-4.mt-md-0
                            .input-group.search-input
                                input.form-control(type="text" placeholder="搜尋商品" aria-describedby="button-search")
                                .input-group-append
                                    button#button-search(type="button")
                                        i.icon-magnifier
            section
                .container
                    .row#activities-inner
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/中秋幸福慶佳節-列表頁425X200.png','activity-4','2021/9/6','2021年 Brook Livin中秋幸福慶佳節 ','每逢佳節倍思親，今年就讓宅電防護員WIRECARE守護您的家人吧！只要在活動期間內前往 FB 粉絲團按讚，對指定貼文按讚留言分享，就有機會免費獲得<WIRECARE>…！')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/act-3-list.jpg','activity-3','2021/6/29','2021年Brook Livin品牌大使徵選開跑！ ','品牌大使徵選活動開跑囉！您是否喜歡思考，創意滿點，同時又樂於分享呢？7月1日開始，只要參予徵選活動，就有機會成為成為Brook Livin 品牌大使！')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/act-1-list.jpg','activity-1','2021/5/10','水電施工-溝通很重要-其實不用諜對諜','企業與家庭的電器施工，為何水電師傅沒有照要求執行?廠商報價這樣，會不會太貴?')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/act-2-list.jpg','activity-2','2021/5/10','觸電/淹水/高壓電擊/靜電: 如何發生與預防?','淹水時若水淹過插座，人在插座附近觸電機會很高！如果人站遠一點則不會觸電。而水是導體，理論上應該再遠都會電到，那為何只有電源附近的人會電到?')
            //- +page-navigation