//- index.pug
extends ./include/new-layout.pug
block meta
    title 2021年Brook Livin品牌大使徵選開跑！
    meta(name='description' content='品牌大使徵選活動開跑囉！您是否喜歡思考，創意滿點，同時又樂於分享呢？7月1日開始，只要參予徵選活動，就有機會成為成為Brook Livin 品牌大使！')
    meta(property='image' content='https://brook-livin.com/styles/images/act-3-meta.jpg')
    meta(property='og:title' content='2021年Brook Livin品牌大使徵選開跑！')
    meta(property='og:url' content='https://brook-livin.com/activity-3')
    meta(property='og:image' content='https://brook-livin.com/styles/images/act-3-meta.jpg')
    meta(property='og:description' content='品牌大使徵選活動開跑囉！您是否喜歡思考，創意滿點，同時又樂於分享呢？7月1日開始，只要參予徵選活動，就有機會成為成為Brook Livin 品牌大使！')
    meta(property='og:site_name' content='2021年Brook Livin品牌大使徵選開跑！')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 2021年Brook Livin品牌大使徵選開跑！
                        .row
                            .col-6.col-md-8.text-left
                                a.tag.t-primary.mr-2(href='#' title='Brook Livin') #Brook Livin
                                a.tag.t-primary.mr-2(href='#' title='品牌大使') #品牌大使
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='防災神器') #防災神器
                            .col-6.col-md-4.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/6/29
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.img-fluid(src='styles/images/act-3-content.jpg', alt='圖片')
                            br
                            br
                            h4 2021  Brook Livin  品牌大使徵選活動，開跑囉！
                            p 我們在尋找Brook Livin品牌大使，您是否喜歡思考，創意滿點，同時又樂於分享呢？2021年7月1日開始，只要參予以下活動，就有機會成為Brook Livin 品牌大使！
                            p 品牌大使不僅能獲得多項好禮，還能獲得Brook Livin產品優先使用權，以及更多品牌互惠合作機會！
                            br
                            b.d-block.mb-1 活動時間：#[br]
                            p 2021年7月1日～8月31日
                            br
                            b.d-block.mb-1 報名資格：#[br]
                            p 需已在經營自媒體，例如：個人網站 / YT頻道 / 部落格 / IG 等等…
                            br
                            b.d-block.mb-1 活動辦法：#[br]
                            ul
                                li
                                    div 上傳1分鐘內 <創意影音作品> 到您的自媒體
                                    p (影片中請用創意表達WIRECARE對您有什麼幫助)
                                li
                                    div 將影片連結Email到 #[a.t-primary(href='mailto:livin@brookaccessory.com') livin@brookaccessory.com]
                                    p (Email中請附上頻道連結、上影音作品連結)
                            br
                            b.d-block.mb-1 獲選獎勵 (10位)#[br]
                            ul
                                li 每人免費獲得1台Brook Livin WIRECARE (市價2,580元)
                            br
                            b.d-block.mb-1 優秀受賞-Brook Livin 品牌大使#[br]
                            ul.mb-0
                                li 獲選2021年Brook Livin品牌大使！
                                li 加贈2台WIRECARE，安全用電由您做起！
                                li 再加贈1台Brook Livin紫外線UVC消毒盒！
                            .row
                                .col-12.col-md-6
                                    img.img-fluid(src='styles/images/act-3-content-1.png', alt='WIRECARE')
                                .col-12.col-md-6
                                    img.img-fluid(src='styles/images/act-3-content-2.png', alt='Brook Livin紫外線UVC消毒盒')
                            p 所有獎項將在#[span.t-primary 10月底]前寄送，#[br]快手刀將您的影音作品連結Email到#[a.t-primary(href='mailto:livin@brookaccessory.com') livin@brookaccessory.com]#[br]2021年Livin品牌大使就是您！
                            br
                            p 歡迎來電洽詢: #[a.t-primary(href='tel:0911172369') 0911-172-369] (Brook Livin 品牌行銷部 高先生)
                            br
                            p.mb-2 #[b 主辦單位：]孕龍科技股份有限公司#[br]
                            p #[b 協力單位：]新電子科技雜誌#[br]
                            br
                            b 注意事項：#[br]
                            p 本公司將保留變更獎項內容以及核准兌換與否之權利，詳細組合明細、寶箱內容及異動說明，本公司將在活動網頁中公告，公告內容均以本活動網頁最後一次公佈之內容為準，請玩家密切注意網頁公佈訊息。
                            br
                            p.mb-2 #[b 了解電線檢測的秘密：]#[a.t-primary(href='https://brook-livin.com/product/wirecare' target='_blank') https://brook-livin.com/product/wirecare]
                            p.mb-2 #[b 來嘖嘖找靈感：]#[a.t-primary(href='https://www.zeczec.com/projects/wirecare?r=6a7b61f2d9' target='_blank') https://www.zeczec.com/projects/wirecare?r=6a7b61f2d9]
                            p.mb-2 #[b 來Facebook按讚：]#[a.t-primary(href='https://www.facebook.com/brooklivin' target='_blank') https://www.facebook.com/brooklivin]
                            br
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="2021年Brook Livin品牌大使徵選開跑！" data-description="品牌大使徵選活動開跑囉！您是否喜歡思考，創意滿點，同時又樂於分享呢？7月1日開始，只要參予徵選活動，就有機會成為成為Brook Livin 品牌大使！" data-image="https://brook-livin.com/styles/images/act-3-meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="2021年Brook Livin品牌大使徵選開跑！" data-description="品牌大使徵選活動開跑囉！您是否喜歡思考，創意滿點，同時又樂於分享呢？7月1日開始，只要參予徵選活動，就有機會成為成為Brook Livin 品牌大使！" data-image="https://brook-livin.com/styles/images/act-3-meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="2021年Brook Livin品牌大使徵選開跑！" data-description="品牌大使徵選活動開跑囉！您是否喜歡思考，創意滿點，同時又樂於分享呢？7月1日開始，只要參予徵選活動，就有機會成為成為Brook Livin 品牌大使！" data-image="https://brook-livin.com/styles/images/act-3-meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="activities") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多活動消息
                        +main-card('','styles/images/act-1-list.jpg','activity-1','2021/5/10','水電施工-溝通很重要-其實不用諜對諜','企業與家庭的電器施工，為何水電師傅沒有照要求執行?廠商報價這樣，會不會太貴?')
                        +main-card('','styles/images/act-2-list.jpg','activity-2','2021/5/10','觸電/淹水/高壓電擊/靜電: 如何發生與預防?','淹水時若水淹過插座，人在插座附近觸電機會很高！如果人站遠一點則不會觸電。而水是導體，理論上應該再遠都會電到，那為何只有電源附近的人會電到?')