//- index.pug
extends include/new-layout.pug
block meta
    title 南投縣政府消防局X宅電防護員 合作辦理電氣火災及防火宣導活動
    meta(name='description' content='《南投縣政府消防局》偕同《孕龍科技公司》辦理民國111年度: 8 ~ 9 月份電氣火災及防火宣導活動。運用「WIRECARE 宅電防護員」提醒居民是否該維修與更換插座，與家中電線管路，以減少電線走火的發生機率。')
    meta(property='image' content='https://brook-livin/styles/images/news/tw/activity-9/meta.jpg')
    meta(property='og:title' content='南投縣政府消防局X宅電防護員 合作辦理電氣火災及防火宣導活動')
    meta(property='og:url' content='https://brook-livin/activity-9')
    meta(property='og:image' content='https://brook-livin/styles/images/news/tw/activity-9/meta.jpg')
    meta(property='og:description' content='《南投縣政府消防局》偕同《孕龍科技公司》辦理民國111年度: 8 ~ 9 月份電氣火災及防火宣導活動。運用「WIRECARE 宅電防護員」提醒居民是否該維修與更換插座，與家中電線管路，以減少電線走火的發生機率。')
    meta(property='og:site_name' content='南投縣政府消防局X宅電防護員 合作辦理電氣火災及防火宣導活動')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 南投縣政府消防局X宅電防護員 合作辦理電氣火災及防火宣導活動
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#' title='居家用電安全') #居家用電安全
                                a.tag.t-primary.mr-2(href='#' title='電氣火災') #電氣火災
                                a.tag.t-primary.mr-2(href='#' title='防火宣導活動') #防火宣導活動
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='宅電防護員') #宅電防護員
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/08/31
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p 根據今年民國 111年5月份公布的〈南投縣消防統計年報〉，於去年 110年度，#[b 南投地區就發生了將近100起的住家與工廠火災。]
                            p 另依據內政部消防署的統計，全台 2020年一月到十一月居家火災成因，#[b 電器引起的火災就超過2600 件，位居第一。除了部分民眾對於高耗電電器的使用習慣不良，也跟家中插座、電線老舊導致走火有很大關係。]
                            br
                            img.img-fluid(src='styles/images/news/tw/activity-9/content-1.jpg', alt='圖片')
                            br
                            br
                            p #[b 為使民眾的用電安全測量，更接近科學化，8 ~9 月份邀請孕龍科技與《南投縣政府消防局》合作，運用孕龍科技公司旗下Brook Livin 品牌產品— 「WIRECARE 宅電防護員」 (電阻值測量儀器)]，測量不同電阻插座，產生綠色、橘色、紅色三色燈號，提醒居民是否該維修與更換插座，與家中電線管路，以減少電線走火的發生機率。
                            p 並且透過實際操作「WIRECARE 宅電防護員」與實驗，提醒民眾使用家中電器時，遵守5不1沒有原則：
                            ul.ml-0.pl-4
                                li 用電不超過負載
                                li 電線不綑綁折損
                                li 插頭不潮濕污損
                                li 電源插座不常插
                                li 電器旁不放物品
                                li 没有安全標章電器勿使用
                            p 並建議民眾家中，加裝住宅式火災警報器；當電器或插座冒煙，儘速拔除電器插頭，並勿使用水撲滅火源。
                            br
                            p 夏日炎炎，家中用火及用電的機會增加，火災風險相對提高，因此#[b 「多分防災準備，少一分財產損失」]。唯有落實有「防災勝於搶救」的觀念，才能讓各項災害的損失降至最低！
                            p 藉由各消防分隊加強科學化之用火用電安全宣導，讓民眾多學習防火、防災及逃生技能，不斷充實自身防災意識，強化災害應變技能，才能確保生命財產安全。
                            br
                            img.img-fluid(src='styles/images/news/tw/activity-9/content-2.jpg', alt='圖片')
                            br
                            br
                            b 感謝 Brook Livin 品牌 「WIRECARE 宅電防護員」#[br]合作公家單位與消防弟兄  全力支持:#[br]
                            ul.ml-0.pl-4
                                li #[b 南投縣政府]
                                li #[b 南投縣政府消防局]
                                li #[b 南投縣政府消防局《火災預防科》]
                                li #[b 火災預防科科員《簡宏儒先生》]
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="南投縣政府消防局X宅電防護員 合作辦理電氣火災及防火宣導活動" data-description="《南投縣政府消防局》偕同《孕龍科技公司》辦理民國111年度: 8 ~ 9 月份電氣火災及防火宣導活動。運用「WIRECARE 宅電防護員」提醒居民是否該維修與更換插座，與家中電線管路，以減少電線走火的發生機率。" data-image="https://brook-livin/styles/images/news/tw/activity-9/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="南投縣政府消防局X宅電防護員 合作辦理電氣火災及防火宣導活動" data-description="《南投縣政府消防局》偕同《孕龍科技公司》辦理民國111年度: 8 ~ 9 月份電氣火災及防火宣導活動。運用「WIRECARE 宅電防護員」提醒居民是否該維修與更換插座，與家中電線管路，以減少電線走火的發生機率。" data-image="https://brook-livin/styles/images/news/tw/activity-9/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="南投縣政府消防局X宅電防護員 合作辦理電氣火災及防火宣導活動" data-description="《南投縣政府消防局》偕同《孕龍科技公司》辦理民國111年度: 8 ~ 9 月份電氣火災及防火宣導活動。運用「WIRECARE 宅電防護員」提醒居民是否該維修與更換插座，與家中電線管路，以減少電線走火的發生機率。" data-image="https://brook-livin/styles/images/news/tw/activity-9/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="activities") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多活動消息
                        +main-card('','styles/images/news/tw/activity-8/list.jpg','activity-8','2022/03/31','中保無限+時尚滅火器、WIRECARE宅電防護員守護雙享組！重磅推出！','中保無限家 X Brook Livin品牌聯名！守護雙享組合，獨家限時優惠中。')
                        +main-card('','styles/images/news/tw/activity-7/list.jpg','activity-7','2022/01/27','Brook Livin孕龍科技X全國電子 到店拍照 【WIRECARE 宅電防護員】讓您免費抽回家！','到全國電子拍照，WIRECARE 宅電防護員讓您免費抽回家！')