//- index.pug
extends include/new-layout.pug
block meta
    title 第九屆美商鄧白氏中小企業菁英獎出爐 ZEROPLUS 孕龍科技公司榮獲「年度企業MVP獎」
    meta(name='description' content='台灣具指標性的中小企業年度盛事「第九屆鄧白氏中小企業菁英獎」， ZEROPLUS 孕龍科技公司」連續 3 年出口值成長、ESG 表現優異且資訊透明度高，獲「年度企業 MVP 獎」。')
    meta(property='image' content='https://brook-livin.com/styles/images/news/tw/activity-11/meta.jpg')
    meta(property='og:title' content='第九屆美商鄧白氏中小企業菁英獎出爐 ZEROPLUS 孕龍科技公司榮獲「年度企業MVP獎」')
    meta(property='og:url' content='https://brook-livin.com/activity-11')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/tw/activity-11/meta.jpg')
    meta(property='og:description' content='台灣具指標性的中小企業年度盛事「第九屆鄧白氏中小企業菁英獎」， ZEROPLUS 孕龍科技公司」連續 3 年出口值成長、ESG 表現優異且資訊透明度高，獲「年度企業 MVP 獎」。')
    meta(property='og:site_name' content='第九屆美商鄧白氏中小企業菁英獎出爐 ZEROPLUS 孕龍科技公司榮獲「年度企業MVP獎」')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 第九屆美商鄧白氏中小企業菁英獎出爐 ZEROPLUS 孕龍科技公司榮獲「年度企業MVP獎」
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#' title='ZEROPLUS') #ZEROPLUS
                                a.tag.t-primary.mr-2(href='#' title='孕龍科技') #孕龍科技
                                a.tag.t-primary.mr-2(href='#' title='鄧白氏中小企業菁英獎') #鄧白氏中小企業菁英獎
                                a.tag.t-primary.mr-2(href='#' title='年度企業MVP') #年度企業MV
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/11/21
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.img-fluid(src='styles/images/news/tw/activity-11/content-1.jpeg', alt='圖片')
                            br
                            br
                            p 台灣具指標性的中小企業年度盛事「第九屆鄧白氏中小企業菁英獎」，11月份在台北文華東方酒店舉行頒獎典禮。今年得獎企業包含「ZEROPLUS 孕龍科技公司」，今年度評選機制也特別納入ESG評比指數。
                            p 副總統賴清德特別蒞臨致詞與頒獎，並給予得獎企業鼓勵與支持，美國在台協會（AIT），美商鄧白氏臺灣區總經理孫偉真，以及外貿協會董事長黃志芳也親臨致詞頒獎。
                            br
                            img.img-fluid(src='styles/images/news/tw/activity-11/content-2.jpeg', alt='圖片')
                            br
                            br
                            p 賴清德指出，感謝鄧白氏協助企業升級轉型，今年「鄧白氏第九屆中小企業菁英獎」也將氣候危機納入獲獎評比，如果公司治理不夠成功，又或者是沒有善盡企業社會責任、沒有辦法永續經營的話，都不可能得到。
                            p 最近三年來台灣的經濟表現，跟其他國家比較上表現得不錯，是全世界前 30 大經濟體的表現第一名，也是亞洲四小龍的第一名，且在今年九月前，總共有 26 個月外銷呈正成長，寫下台灣一張非常好的經濟發展的成績。
                            br
                            img.img-fluid(src='styles/images/news/tw/activity-11/content-3.jpeg', alt='圖片')
                            br
                            br
                            p 2050 淨零轉型也是台灣的使命，且通過台灣 2050 淨零轉型路徑希望建立氣候法治跟科技基礎，朝四大轉型邁進，預計在 2030 年前，台灣會投入 8000 億台幣，號召民間的力量一起響應，往 2050 年的目標持續邁進，珍愛地球同時讓台灣產業升級轉型。
                            br
                            img.img-fluid(src='styles/images/news/tw/activity-11/content-4.png', alt='圖片')
                            br
                            br
                            p 鄧白氏台灣第九屆中小企業菁英獎遴選乃依據 2021 年數據，自超過 146 萬家企業中評選出最具出口貿易競爭力之企業，產業分佈以製造業 67% 佔大宗。顯示得獎的「ZEROPLUS 孕龍科技公司」，在近年疫情衝擊下仍出口成長，營運動能十分強勁。
                            br
                            img.img-fluid(src='styles/images/news/tw/activity-11/content-5.png', alt='圖片')
                            br
                            p 今年度得獎企業中，「年度企業 MVP 獎」更是頒予連續 3 年出口值成長、ESG 表現優異且資訊透明度高的「ZEROPLUS 孕龍科技公司」，符合供應鏈韌性成長、數位轉型與永續循環經濟等國際趨勢表率。更多報導，詳見中華民國總統府網站新聞- #[a.t-primary(href='https://www.president.gov.tw/News/27121' target="_blank") https://www.president.gov.tw/News/27121]
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="第九屆美商鄧白氏中小企業菁英獎出爐 ZEROPLUS 孕龍科技公司榮獲「年度企業MVP獎」" data-description="台灣具指標性的中小企業年度盛事「第九屆鄧白氏中小企業菁英獎」， ZEROPLUS 孕龍科技公司」連續 3 年出口值成長、ESG 表現優異且資訊透明度高，獲「年度企業 MVP 獎」。" data-image="https://brook-livin.com/styles/images/news/tw/activity-11/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="第九屆美商鄧白氏中小企業菁英獎出爐 ZEROPLUS 孕龍科技公司榮獲「年度企業MVP獎」" data-description="台灣具指標性的中小企業年度盛事「第九屆鄧白氏中小企業菁英獎」， ZEROPLUS 孕龍科技公司」連續 3 年出口值成長、ESG 表現優異且資訊透明度高，獲「年度企業 MVP 獎」。" data-image="https://brook-livin.com/styles/images/news/tw/activity-11/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="第九屆美商鄧白氏中小企業菁英獎出爐 ZEROPLUS 孕龍科技公司榮獲「年度企業MVP獎」" data-description="台灣具指標性的中小企業年度盛事「第九屆鄧白氏中小企業菁英獎」， ZEROPLUS 孕龍科技公司」連續 3 年出口值成長、ESG 表現優異且資訊透明度高，獲「年度企業 MVP 獎」。" data-image="https://brook-livin.com/styles/images/news/tw/activity-11/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="activities") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多活動消息
                        +main-card('','styles/images/news/tw/activity-9/list.jpg','activity-9','2022/08/31','第九屆美商鄧白氏中小企業菁英獎出爐 ZEROPLUS 孕龍科技公司榮獲「年度企業MVP獎」','台灣具指標性的中小企業年度盛事「第九屆鄧白氏中小企業菁英獎」， ZEROPLUS 孕龍科技公司」連續 3 年出口值成長、ESG 表現優異且資訊透明度高，獲「年度企業 MVP 獎」。')
                        +main-card('','styles/images/news/tw/activity-8/list.jpg','activity-8','2022/03/31','中保無限+時尚滅火器、WIRECARE宅電防護員守護雙享組！重磅推出！','中保無限家 X Brook Livin品牌聯名！守護雙享組合，獨家限時優惠中。')
                        +main-card('','styles/images/news/tw/activity-7/list.jpg','activity-7','2022/01/27','Brook Livin孕龍科技X全國電子 到店拍照 【WIRECARE 宅電防護員】讓您免費抽回家！','到全國電子拍照，WIRECARE 宅電防護員讓您免費抽回家！')