//- index.pug
extends include/new-layout.pug
block meta
    title 與 Brook Livin 孕龍科技公司一起提升台灣產業競爭力，共同邁向永續台灣
    meta(name='description' content='總統蔡英文女士於三月份接見 Brook Livin 孕龍科技公司團隊，及所有第19屆國家品牌玉山獎獲獎企業。')
    meta(property='image' content='https://brook-livin.com/styles/images/news/tw/activity-12/meta.jpg')
    meta(property='og:title' content='與 Brook Livin 孕龍科技公司一起提升台灣產業競爭力，共同邁向永續台灣')
    meta(property='og:url' content='https://brook-livin.com/activity-12')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/tw/activity-12/meta.jpg')
    meta(property='og:description' content='總統蔡英文女士於三月份接見 Brook Livin 孕龍科技公司團隊，及所有第19屆國家品牌玉山獎獲獎企業。')
    meta(property='og:site_name' content='與 Brook Livin 孕龍科技公司一起提升台灣產業競爭力，共同邁向永續台灣')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 與 Brook Livin 孕龍科技公司一起提升台灣產業競爭力，共同邁向永續台灣
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#' title='BrookLivin') #BrookLivin
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='國家品牌玉山獎') #國家品牌玉山獎
                                a.tag.t-primary.mr-2(href='#' title='淨零轉型') #淨零轉型
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2023/3/15
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.img-fluid(src='styles/images/news/tw/activity-12/content-1.png', alt='圖片')
                            br
                            br
                            p 中華民國總統蔡英文女士，於三月份接見 Brook Livin 孕龍科技公司團隊，及所有「2023-2024年度國家品牌玉山獎: 全國首獎」企業時表示，「淨零轉型」是具有高度挑戰性的工作，政府會傾全力整合各界量能投入，並期盼所有得獎企業繼續支持國家政策，在未來的發展策略中融入「減碳淨零」的具體行動。
                            br
                            img.img-fluid(src='styles/images/news/tw/activity-12/content-2.png', alt='圖片')
                            br
                            br
                            p 蔡總統致詞時，首先歡迎全國首獎企業來到總統府，並恭喜大家從激烈的競爭中脫穎而出；她要謝謝國家企業競爭力發展協會，國家品牌玉山獎項已經舉辦約有20年歷史，不僅促進業界的良性競爭，也為消費者做品質把關。
                            br
                            img.img-fluid(src='styles/images/news/tw/activity-12/content-3.png', alt='圖片')
                            br
                            br
                            p Brook Livin 孕龍科技公司團隊及所有全國首獎企業先進，於三月份偕同「中華民國國家企業競爭力發展協會」主任委員、總統府秘書長林佳龍、立法委員鍾佳濱、經濟部次長陳正祺、內政部次長吳堂安等，前來總統府晉見總統蔡英文女士。蔡總統於活動中表示，「淨零轉型」是具有高度挑戰性的工作，為了國家長遠的進步、永續的發展，我們一定要做，也一定會做。政府會傾全力，跨部會整合各界的量能，一起來投入。
                            p 蔡總統指出，中小企業是臺灣經濟發展的火車頭，過去這幾年來，政府持續推動各項政策，來協助中小企業升級。今年，中華民國政府也規劃透過「疫後特別預算」，進一步協助產業及中小企業的升級轉型，包括提供貸款跟利息補貼，推進生產型態的轉型跟再造，來達到智慧化、低碳化，以及模組化目的。
                            br
                            img.img-fluid(src='styles/images/news/tw/activity-12/content-4.png', alt='圖片')
                            br
                            br
                            p 最後，蔡總統再次恭喜所有得獎廠商，「讓我們一起提升臺灣產業競爭力，共同邁向永續的臺灣，我們一起加油」。
                            br
                            br
                            p 總統蔡英文女士，接見「2023-2024年度國家品牌玉山獎得獎代表」-  #[a.t-primary(href='https://www.president.gov.tw/NEWS/27369' target="_blank") https://www.president.gov.tw/NEWS/27369]
                            br
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="與 Brook Livin 孕龍科技公司一起提升台灣產業競爭力，共同邁向永續台灣" data-description="總統蔡英文女士於三月份接見 Brook Livin 孕龍科技公司團隊，及所有第19屆國家品牌玉山獎獲獎企業。" data-image="https://brook-livin.com/styles/images/news/tw/activity-12/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="與 Brook Livin 孕龍科技公司一起提升台灣產業競爭力，共同邁向永續台灣" data-description="總統蔡英文女士於三月份接見 Brook Livin 孕龍科技公司團隊，及所有第19屆國家品牌玉山獎獲獎企業。" data-image="https://brook-livin.com/styles/images/news/tw/activity-12/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="與 Brook Livin 孕龍科技公司一起提升台灣產業競爭力，共同邁向永續台灣" data-description="總統蔡英文女士於三月份接見 Brook Livin 孕龍科技公司團隊，及所有第19屆國家品牌玉山獎獲獎企業。" data-image="https://brook-livin.com/styles/images/news/tw/activity-12/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="activities") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多活動消息
                        +main-card('','styles/images/news/tw/activity-11/list.jpg','activity-11','2022/11/21','第九屆美商鄧白氏中小企業菁英獎出爐 ZEROPLUS 孕龍科技公司榮獲「年度企業MVP獎」','台灣具指標性的中小企業年度盛事「第九屆鄧白氏中小企業菁英獎」， ZEROPLUS 孕龍科技公司」連續 3 年出口值成長、ESG 表現優異且資訊透明度高，獲「年度企業 MVP 獎」。')
                        +main-card('','styles/images/news/tw/activity-10/list.jpg','activity-10','2022/09/02','ZEROPLUS孕龍科技公司X國際電商夥伴Newegg 生態圈博覽會','ZEROPLUS【孕龍科技公司】受邀參與2022年度國際電商夥伴【Newegg 生態圈博覽會】為 ZEROPLUS & Brook Livin 雙品牌跨境電商生意，打造最強力後盾! ')
                        +main-card('','styles/images/news/tw/activity-9/list.jpg','activity-9','2022/08/31','南投縣政府消防局X宅電防護員 合作辦理電氣火災及防火宣導活動','《南投縣政府消防局》偕同《孕龍科技公司》辦理民國111年度: 8 ~ 9 月份電氣火災及防火宣導活動。運用「WIRECARE 宅電防護員」提醒居民是否該維修與更換插座，與家中電線管路，以減少電線走火的發生機率。')