//- index.pug
extends ./include/new-layout.pug
block meta
    title 2021年 Brook Livin中秋幸福慶佳節
    meta(name='description' content='每逢佳節倍思親，今年就讓宅電防護員WIRECARE守護您的家人吧！只要在活動期間內前往 FB 粉絲團按讚，對指定貼文按讚留言分享，就有機會免費獲得<WIRECARE>…')
    meta(property='image' content='https://brook-livin.com/styles/images/news/中秋幸福慶佳節-META500X262.png')
    meta(property='og:title' content='2021年 Brook Livin中秋幸福慶佳節')
    meta(property='og:url' content='https://brook-livin.com/activity-4')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/中秋幸福慶佳節-META500X262.png')
    meta(property='og:description' content='每逢佳節倍思親，今年就讓宅電防護員WIRECARE守護您的家人吧！只要在活動期間內前往 FB 粉絲團按讚，對指定貼文按讚留言分享，就有機會免費獲得<WIRECARE>…')
    meta(property='og:site_name' content='2021年 Brook Livin中秋幸福慶佳節')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 2021年 Brook Livin中秋幸福慶佳節
                        .row
                            .col-8.text-left
                                a.tag.t-primary.mr-2(href='#' title='按讚加留言抽獎') #按讚加留言抽獎
                                a.tag.t-primary.mr-2(href='#' title='標記兩位好友') #標記兩位好友
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='宅電守護') #宅電守護
                            .col-4.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/9/6
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.img-fluid(src='styles/images/news/中秋幸福慶佳節-內容頁900x506.png', alt='圖片')
                            br
                            br
                            br
                            p 每逢佳節倍思親，疫情當下格外應景，#[br]今年就讓電力消防安全品牌【Brook Livin】，#[br]所推出的最新科技產品 WIRECARE宅電防護員，成為家人好友最好的宅電守護！#[br]道盡您的思念之情，表達滿滿心意。
                            p 這次將限量提供10台 WIRECARE進行抽獎! (每台市價台幣2,580元)#[br]請依照以下 天龍八步驟 進行抽獎:
                            br
                            br
                            p.t-primary 以下步驟缺一不可
                            ol
                                li 請先按讚加入 Brook Livin FB 粉絲頁: #[br]#[a.t-primary(href="https://www.facebook.com/brooklivin" target="_blank") https://www.facebook.com/brooklivin]
                                li 此篇FB貼文請按讚 (按愛心也歡迎!) #[br]#[a.t-primary(href='https://www.facebook.com/brooklivin/posts/2979723935604507' target='_blank') https://www.facebook.com/brooklivin/posts/2979723935604507]
                                li 請在FB貼文下留言 #[.t-primary #企業居家消防神器就是WIRECARE宅電防護員]
                                li 務必於留言裡, 標記 @2位好友。
                                li 若可標記 @4位好友, 請分兩則留言, 以增加中獎機會;請依此類推標記6位, 8位好友等等…
                                li 活動將於 9/15(周三) 中午12點截止,【Brook Livin】將抽出留言中的10名幸運粉絲
                                li 抽中的10位粉絲, Brook Livin 將透過FB訊息通知; 10月份陸續寄出:
                                    ul
                                        li 請中獎者提供 真實姓名 / 手機號碼 / 收件地址, 以利後續寄件
                                        li Brook Livin 將全額支付, 到中獎者地址的運送費用
                                        li 粉絲與消費者所提供的個資, 僅供商品運送用途, 送達後將不保留
                                li 本次活動獎品, 僅限運送台灣本島地址。
                            br
                            br
                            p.t-primary.mb-0 讓 WIRECARE宅電防護員, 成為您用電與消防安全的守護神!
                            p.mb-0 手刀前往台灣電商三兄弟，訂購 WIRECARE 宅電防護員 !
                            p.mb-0 #[a.t-primary(href='https://tinyurl.com/yzbs3jfu' target="_blank") 蝦皮購物 https://tinyurl.com/yzbs3jfu]
                            p.mb-0 #[a.t-primary(href='https://www.ruten.com.tw/item/show?22128699567434' target="_blank") 露天拍賣 https://www.ruten.com.tw/item/show?22128699567434]
                            p.mb-0 #[a.t-primary(href='https://tw.bid.yahoo.com/item/101115795364' target="_blank") yahoo!拍賣 https://tw.bid.yahoo.com/item/101115795364]
                            br
                            br
                            p.mb-0 北美電商龍頭亞馬遜【Amazon USA】, 即日起WIRECARE正式開賣!
                            p.mb-0 Order NOW & check <Amazon USA> for more WIRECARE info!
                            p #[a.t-primary(href='https://www.amazon.com/dp/B09BQT7SF4/ref=cm_sw_em_r_mt_dp_89K72HRH8GWC7MC7Y6CW' target="_blank") Amazon https://www.amazon.com/dp/B09BQT7SF4/ref=cm_sw_em_r_mt_dp_89K72HRH8GWC7MC7Y6CW]
                            br
                            p.mb-0 Check Brook Livin official website and see how WIRECARE secures your life
                            p #[a.t-primary(href='https://brook-livin.com/en' target="_blank") https://brook-livin.com/en]
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="2021年 Brook Livin中秋幸福慶佳節" data-description="每逢佳節倍思親，今年就讓宅電防護員WIRECARE守護您的家人吧！只要在活動期間內前往 FB 粉絲團按讚，對指定貼文按讚留言分享，就有機會免費獲得<WIRECARE>…" data-image="https://brook-livin.com/styles/images/news/中秋幸福慶佳節-META500X262.png")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="2021年 Brook Livin中秋幸福慶佳節" data-description="每逢佳節倍思親，今年就讓宅電防護員WIRECARE守護您的家人吧！只要在活動期間內前往 FB 粉絲團按讚，對指定貼文按讚留言分享，就有機會免費獲得<WIRECARE>…" data-image="https://brook-livin.com/styles/images/news/中秋幸福慶佳節-META500X262.png")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="2021年 Brook Livin中秋幸福慶佳節" data-description="每逢佳節倍思親，今年就讓宅電防護員WIRECARE守護您的家人吧！只要在活動期間內前往 FB 粉絲團按讚，對指定貼文按讚留言分享，就有機會免費獲得<WIRECARE>…" data-image="https://brook-livin.com/styles/images/news/中秋幸福慶佳節-META500X262.png")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="activities") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多活動消息
                        +main-card('','styles/images/news/tw/activity-5/list_425x200.png','activity-5','2021/10/29','WIRECARE 嘖嘖贊助粉絲感謝祭開跑！','歡慶 「WIRECARE 宅電防護員」，全球銷售突破5千台！限定回饋 Brook Livin「嘖嘖ZecZec」贊助者！好康再加碼！Brook Livin 讓水電師傅，到府插座免費換！')
                        +main-card('','styles/images/act-3-list.jpg','activity-3','2021/6/29','2021年Brook Livin品牌大使徵選開跑！ ','品牌大使徵選活動開跑囉！您是否喜歡思考，創意滿點，同時又樂於分享呢？7月1日開始，只要參予徵選活動，就有機會成為成為Brook Livin 品牌大使！')
                        +main-card('','styles/images/act-2-list.jpg','activity-2','2021/5/10','觸電/淹水/高壓電擊/靜電: 如何發生與預防?','淹水時若水淹過插座，人在插座附近觸電機會很高！如果人站遠一點則不會觸電。而水是導體，理論上應該再遠都會電到，那為何只有電源附近的人會電到?')