//- index.pug
extends ./include/new-layout.pug
block meta
    title WIRECARE 嘖嘖贊助粉絲感謝祭開跑！
    meta(name='description' content='歡慶 「WIRECARE 宅電防護員」，全球銷售突破5千台！限定回饋 Brook Livin「嘖嘖ZecZec」贊助者！好康再加碼！Brook Livin 讓水電師傅，到府插座免費換！')
    meta(property='image' content='https://livin.brookaccessory.com/styles/images/news/tw/activity-5/meta_500x262.png')
    meta(property='og:title' content='WIRECARE 嘖嘖贊助粉絲感謝祭開跑！')
    meta(property='og:url' content='https://livin.brookaccessory.com/activity-5')
    meta(property='og:image' content='https://livin.brookaccessory.com/styles/images/news/tw/activity-5/meta_500x262.png')
    meta(property='og:description' content='歡慶 「WIRECARE 宅電防護員」，全球銷售突破5千台！限定回饋 Brook Livin「嘖嘖ZecZec」贊助者！好康再加碼！Brook Livin 讓水電師傅，到府插座免費換！')
    meta(property='og:site_name' content='WIRECARE 嘖嘖贊助粉絲感謝祭開跑！')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 WIRECARE 嘖嘖贊助粉絲感謝祭開跑！
                        .row
                            .col-8.text-left
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='銷售突破五千台') #銷售突破五千台
                                a.tag.t-primary.mr-2(href='#' title='嘖嘖贊助者') #嘖嘖贊助者
                                a.tag.t-primary.mr-2(href='#' title='到府插座免費換') #到府插座免費換
                            .col-4.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/10/29
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.img-fluid(src='styles/images/news/tw/activity-5/content_900x450.png', alt='圖片')
                            br
                            br
                            p.mb-4 歡慶 「WIRECARE 宅電防護員」，全球銷售突破5千台！限定回饋 Brook Livin「嘖嘖ZecZec」贊助者！好康再加碼！#[br]#[br]Brook Livin 讓水電師傅，到府插座免費換！#[br]公司與家裡有測量出 《橘燈》與《紅燈》 插座？！免驚！Brook Livin全額補助更換插座修繕費用！
                            h5.t-primary.mt-2 《 插座影音投稿活動，參與 4 步驟 》
                            ul.list-unstyled
                                li 活動時間：即日起至 (周五) 12/17, 中午12點截止
                                li 參加條件：限前10位完成任務之「嘖嘖ZecZec」贊助者
                            b Step1. 請錄製1分鐘左右的短片。
                            p 短片內容：使用「WIRECARE 宅電防護員」，量測出家中有《橘燈》與《紅燈》插座。
                            p 範例影片：#[a(href='https://fb.watch/8B1j702kmH/ ' target='_blank') https://fb.watch/8B1j702kmH/] #[br]* 感謝「嘖嘖募資」贊助者《理查哥》提供範例影片
                            b Step2. 請將影片上傳到「Brook Livin」FB 粉絲專頁
                            p 上傳方式如下，請擇一上傳即可#[br]•於指定貼文的留言內上傳 : #[a(href='https://pse.is/3la6jp' target='_blank') https://pse.is/3la6jp] #[br]• 於評論內上傳 : #[a(href='https://pse.is/3rac7t' target='_blank') https://pse.is/3rac7t ]
                            b.mb-2.d-block Step3. Brook Livin 小編確認過影音投稿後，將透過FB私訊與前10名完成任務者聯繫！
                            b.mb-3.d-block Step4. 請10名獲獎者聯繫您居住地就近的水電師傅，針對有問題的插座，修繕與更換。
                            br
                            h5.t-primary 《 插座修繕費用補助SOP 》
                            ul.list-unstyled
                                li • 水電師傅插座修繕費用NT$3,000元以內，由「孕龍科技股份有限公司」全額補助！
                                li • 若插座修繕總金額超過NT$3,000元，請聯繫 《Brook Livin FB 小編》 討論插座修繕項目。
                                li • 請務必紙本郵寄插座修繕發票或收據，供核銷修繕費用與領取補助。
                                    ul.list-unstyled.ml-4.mt-2.mb-3
                                        li 請以郵局平信寄出，寄件資訊如下：
                                        li - 收件人：高仲廷 先生
                                        li - 收件地址：新北市中和區建八路123號2樓
                                        li - 洽詢專線：0911-172-369 (高先生)
                                li • Brook Livin FB 小編確認您的收款銀行帳號資訊，並收到紙本發票或收據後，於60天以內透過銀行電匯方式，將插座修繕費用給您。
                            br
                            h5.t-primary 《 貼心加碼 : 提供電力健檢 》
                            p 手速太慢沒擠到前10名，別傷心！#[br]若更換新插座後，使用「WIRECARE」仍顯示《橘燈》與《紅燈》，請聯繫小編！#[br]由 Brook Livin 品牌大使 「田茂智能互聯公司」，為公司與住家電力健檢！
                            br
                            h5 《 八大電商火熱出貨中！手刀訂購用電安全 》
                            ul.list-unstyled
                                li
                                    a.t-primary(href='https://pse.is/3qwxvh' target='_blank') - 經銷合作
                                li
                                    a.t-primary(href='https://tinyurl.com/yg28wgkk' target='_blank') - 蝦皮購物
                                li
                                    a.t-primary(href='https://pse.is/3rf73q' target='_blank') - PChome
                                li
                                    a.t-primary(href='https://pse.is/3qxhza' target='_blank') - 良興電子
                                li
                                    a.t-primary(href='https://pse.is/3qutr7' target='_blank') - uDesign
                                li
                                    a.t-primary(href='https://pse.is/3rt4qa' target='_blank') - Amazon USA (亞馬遜北美站)
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="WIRECARE 嘖嘖贊助粉絲感謝祭開跑！" data-description="歡慶 「WIRECARE 宅電防護員」，全球銷售突破5千台！限定回饋 Brook Livin「嘖嘖ZecZec」贊助者！好康再加碼！Brook Livin 讓水電師傅，到府插座免費換！" data-image="https://livin.brookaccessory.com/styles/images/news/tw/activity-5/meta_500x262.png")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="WIRECARE 嘖嘖贊助粉絲感謝祭開跑！" data-description="歡慶 「WIRECARE 宅電防護員」，全球銷售突破5千台！限定回饋 Brook Livin「嘖嘖ZecZec」贊助者！好康再加碼！Brook Livin 讓水電師傅，到府插座免費換！" data-image="https://livin.brookaccessory.com/styles/images/news/tw/activity-5/meta_500x262.png")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="WIRECARE 嘖嘖贊助粉絲感謝祭開跑！" data-description="歡慶 「WIRECARE 宅電防護員」，全球銷售突破5千台！限定回饋 Brook Livin「嘖嘖ZecZec」贊助者！好康再加碼！Brook Livin 讓水電師傅，到府插座免費換！" data-image="https://livin.brookaccessory.com/styles/images/news/tw/activity-5/meta_500x262.png")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="activities") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多活動消息
                        +main-card('','styles/images/act-3-list.jpg','activity-3','2021/6/29','2021年Brook Livin品牌大使徵選開跑！ ','品牌大使徵選活動開跑囉！您是否喜歡思考，創意滿點，同時又樂於分享呢？7月1日開始，只要參予徵選活動，就有機會成為成為Brook Livin 品牌大使！')
                        +main-card('','styles/images/act-2-list.jpg','activity-2','2021/5/10','觸電/淹水/高壓電擊/靜電: 如何發生與預防?','淹水時若水淹過插座，人在插座附近觸電機會很高！如果人站遠一點則不會觸電。而水是導體，理論上應該再遠都會電到，那為何只有電源附近的人會電到?')