//- index.pug
extends include/new-layout.pug
block meta
    title Brook Livin孕龍科技X全國電子 到店拍照 【WIRECARE 宅電防護員】讓您免費抽回家！
    meta(name='description' content='到全國電子拍照，WIRECARE 宅電防護員讓您免費抽回家！')
    meta(property='image' content='https://livin.brookaccessory.com/styles/images/news/tw/activity-7/meta.jpg')
    meta(property='og:title' content='Brook Livin孕龍科技X全國電子 到店拍照 【WIRECARE 宅電防護員】讓您免費抽回家！')
    meta(property='og:url' content='https://livin.brookaccessory.com/activity-7')
    meta(property='og:image' content='https://livin.brookaccessory.com/styles/images/news/tw/activity-7/meta.jpg')
    meta(property='og:description' content='到全國電子拍照，WIRECARE 宅電防護員讓您免費抽回家！')
    meta(property='og:site_name' content='Brook Livin孕龍科技X全國電子 到店拍照 【WIRECARE 宅電防護員】讓您免費抽回家！')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 2022年【Brook Livin 孕龍科技 X 全國電子】到店拍照【WIRECARE 宅電防護員】讓您免費抽回家！
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#' title='全國電子') #全國電子
                                a.tag.t-primary.mr-2(href='#' title='用電安全') #用電安全
                                a.tag.t-primary.mr-2(href='#' title='按讚加拍照抽獎') #按讚加拍照抽獎
                                a.tag.t-primary.mr-2(href='#' title='標記兩位好友') #標記兩位好友
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/01/27
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p 農曆新年大掃除時，別忘記檢查家中用電安全！#[br]定期使用WIRECARE 宅電防護員，檢測家中與公司的插座及電線健康，確保居住更安心，平安過好年！
                            br
                            img.img-fluid(src='styles/images/news/tw/activity-7/content.png', alt='圖片')
                            br
                            p 【Brook Livin 孕龍科技】限量提供6台【WIRECARE 宅電防護員】抽獎！（市價台幣2,580元）
                            br
                            p 請依照抽獎「幸運7步驟」如下：#以下步驟缺一不可
                            p 1. 先「按讚」加入【Brook Livin FB 粉絲專頁】#[a.t-primary(href="https://www.facebook.com/brooklivin" target='_blank') https://www.facebook.com/brooklivin]
                            p 2.此篇FB貼文請「按讚」！#[a.t-primary(href="https://www.facebook.com/brooklivin/posts/3087081724868727" target="_blank") https://www.facebook.com/brooklivin/posts/3087081724868727]
                            p 3.請到【全國電子】任一門市，拍照【WIRECARE 宅電防護員】，並上傳到本FB貼文！（可以請全國電子的揪感心店員介紹喔！）
                            p 4.務必於照片內，#標記與@2位好友，並留言「#買宅電防護員到全國電子」
                            p 5.抽獎活動時間: 自即日起到 2022年2月21日（周一）中午12點，抽獎活動截止；#[br]Brook Livin將抽出本FB貼文留言中的6名幸運粉絲。
                            p 6.抽中的6位幸運粉絲，Brook Livin將透過FB好友訊息通知；並於3月份陸續寄出獎品。#[br]- 請中獎者提供真實姓名 / 手機號碼 / 收件地址，以利後續寄件#[br]- Brook Livin將全額支付，到中獎者地址的運送費用#[br]- 粉絲與消費者所提供的個資，僅供商品運送用途，送達後將不保留
                            br
                            p 7.本次活動獎品，僅限運送台灣本島地址
                            br
                            br
                            p 就讓 《WIRECARE 宅電防護員》，成為您用電與消防安全的守護神！#[br]快到【全國電子】把《WIRECARE宅電防護員》帶回家：
                            p -線上逛逛搜好物 ➜ #[a.t-primary(href='https://bit.ly/3qWtvq1' target="blank") https://bit.ly/3qWtvq1]
                            p -找找哪裡有門市 ➜ #[a.t-primary(href='https://bit.ly/2M1RUZj' target="blank") https://bit.ly/2M1RUZj]
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="Brook Livin孕龍科技X全國電子 到店拍照 【WIRECARE 宅電防護員】讓您免費抽回家！" data-description="到全國電子拍照，WIRECARE 宅電防護員讓您免費抽回家！" data-image="https://livin.brookaccessory.com/styles/images/news/tw/activity-7/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="Brook Livin孕龍科技X全國電子 到店拍照 【WIRECARE 宅電防護員】讓您免費抽回家！" data-description="到全國電子拍照，WIRECARE 宅電防護員讓您免費抽回家！" data-image="https://livin.brookaccessory.com/styles/images/news/tw/activity-7/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="Brook Livin孕龍科技X全國電子 到店拍照 【WIRECARE 宅電防護員】讓您免費抽回家！" data-description="到全國電子拍照，WIRECARE 宅電防護員讓您免費抽回家！" data-image="https://livin.brookaccessory.com/styles/images/news/tw/activity-7/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="activities") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多活動消息
                        +main-card('','styles/images/act-3-list.jpg','activity-3','2021/6/29','2021年Brook Livin品牌大使徵選開跑！ ','品牌大使徵選活動開跑囉！您是否喜歡思考，創意滿點，同時又樂於分享呢？7月1日開始，只要參予徵選活動，就有機會成為成為Brook Livin 品牌大使！')
                        +main-card('','styles/images/act-2-list.jpg','activity-2','2021/5/10','觸電/淹水/高壓電擊/靜電: 如何發生與預防?','淹水時若水淹過插座，人在插座附近觸電機會很高！如果人站遠一點則不會觸電。而水是導體，理論上應該再遠都會電到，那為何只有電源附近的人會電到?')