//- index.pug
extends include/new-layout.pug
block meta
    title ZEROPLUS孕龍科技公司X國際電商夥伴Newegg 生態圈博覽會
    meta(name='description' content='《ZEROPLUS【孕龍科技公司】受邀參與2022年度國際電商夥伴【Newegg 生態圈博覽會】為 ZEROPLUS & Brook Livin 雙品牌跨境電商生意，打造最強力後盾!')
    meta(property='image' content='https://brook-livin/styles/images/news/tw/activity-10/meta.jpg')
    meta(property='og:title' content='ZEROPLUS孕龍科技公司X國際電商夥伴Newegg 生態圈博覽會')
    meta(property='og:url' content='https://brook-livin/activity-10')
    meta(property='og:image' content='https://brook-livin/styles/images/news/tw/activity-10/meta.jpg')
    meta(property='og:description' content='《ZEROPLUS【孕龍科技公司】受邀參與2022年度國際電商夥伴【Newegg 生態圈博覽會】為 ZEROPLUS & Brook Livin 雙品牌跨境電商生意，打造最強力後盾!')
    meta(property='og:site_name' content='ZEROPLUS孕龍科技公司X國際電商夥伴Newegg 生態圈博覽會')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 ZEROPLUS孕龍科技公司X國際電商夥伴Newegg 生態圈博覽會
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#' title='國際電商') #國際電商
                                a.tag.t-primary.mr-2(href='#' title='Newegg') #Newegg
                                a.tag.t-primary.mr-2(href='#' title='新蛋') #新蛋
                                a.tag.t-primary.mr-2(href='#' title='Newegg生態圈博覽會') #Newegg生態圈博覽會
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/09/02
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p ZEROPLUS 孕龍科技公司的國際電商夥伴 Newegg (美國那斯達克股票代號- NASDAQ: NEGG)，在台灣市場結合超過20家的跨境生態服務供應商，包含電商平台政策、帳號營運、金流收款、物流倉儲、商標註冊、安規認證、品牌行銷，於9月份在台北市SYNTREND三創生活園區，舉行2022年度國際電商夥伴【Newegg 生態圈博覽會】。
                            p ZEROPLUS孕龍科技與「Newegg新蛋」，於9月份聯手為美國市場消費者，並針對《Smart Home 智慧家庭領域》的消費性電子產品需求，合作打造解決方案；與全球領先的國際電商平台Newegg新蛋合作，以流量賺銷量，聯手提升美國市場品牌心佔率！
                            br
                            img.img-fluid(src='styles/images/news/tw/activity-10/content-1.jpg', alt='圖片')
                            br
                            br
                            p Newegg新蛋鼓勵台灣品牌公司，投身跨境並深耕海外市場。同時，美國市場亦開放社群直播銷售，為品牌公司打造更完整的銷售生態圈。未來Newegg持續看好台灣品牌公司的發展潛力，持續擴大團隊規模，助攻台灣品牌公司搶占海外商機。
                            p Newegg 台灣總經理林惠君表示，2021年度 Newegg 有許多里程碑，包括成功在美國那斯達克上市，並將台灣市場定位為亞太區賣家招募中心，啟動品牌元年策略，攜手許多台灣合作夥伴，並協助台灣賣家取得海外市場佳績；此次透過【Newegg 生態圈博覽會】除了邀約年度優秀賣家分享成功案例，更希望透過其分享的經營心法，號召潛在賣家掌握海外商機。
                            br
                            img.img-fluid(src='styles/images/news/tw/activity-10/content-2.jpg', alt='圖片')
                            br
                            br
                            p 尤其台灣市場，還有許多具備國際競爭力的產業，包括持續拓展多元品類，涵蓋智慧家庭、消費性電子產品、汽車及自行車零配件、遊戲、電競、運動用品等，期待跨領域的企業，一起加入跨境電商行列，讓世界看到更多優質的MIT商品！
                            br
                            img.img-fluid(src='styles/images/news/tw/activity-10/content-3.jpg', alt='圖片')
                            br
                            br
                            h6 【Brook Livin WIRECARE - Home Electrical Resistance Monitor】on Newegg USA:
                            p #[a.t-primary(href='https://www.newegg.com/p/35B-00EE-00001 ' target="_blank") https://www.newegg.com/p/35B-00EE-00001 ]
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="ZEROPLUS孕龍科技公司X國際電商夥伴Newegg 生態圈博覽會" data-description="《ZEROPLUS【孕龍科技公司】受邀參與2022年度國際電商夥伴【Newegg 生態圈博覽會】為 ZEROPLUS & Brook Livin 雙品牌跨境電商生意，打造最強力後盾!" data-image="https://brook-livin/styles/images/news/tw/activity-10/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="ZEROPLUS孕龍科技公司X國際電商夥伴Newegg 生態圈博覽會" data-description="《ZEROPLUS【孕龍科技公司】受邀參與2022年度國際電商夥伴【Newegg 生態圈博覽會】為 ZEROPLUS & Brook Livin 雙品牌跨境電商生意，打造最強力後盾!" data-image="https://brook-livin/styles/images/news/tw/activity-10/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="ZEROPLUS孕龍科技公司X國際電商夥伴Newegg 生態圈博覽會" data-description="《ZEROPLUS【孕龍科技公司】受邀參與2022年度國際電商夥伴【Newegg 生態圈博覽會】為 ZEROPLUS & Brook Livin 雙品牌跨境電商生意，打造最強力後盾!" data-image="https://brook-livin/styles/images/news/tw/activity-10/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="activities") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多活動消息
                        +main-card('','styles/images/news/tw/activity-9/list.jpg','activity-9','2022/08/31','ZEROPLUS孕龍科技公司X國際電商夥伴Newegg 生態圈博覽會','《ZEROPLUS【孕龍科技公司】受邀參與2022年度國際電商夥伴【Newegg 生態圈博覽會】為 ZEROPLUS & Brook Livin 雙品牌跨境電商生意，打造最強力後盾!')
                        +main-card('','styles/images/news/tw/activity-8/list.jpg','activity-8','2022/03/31','中保無限+時尚滅火器、WIRECARE宅電防護員守護雙享組！重磅推出！','中保無限家 X Brook Livin品牌聯名！守護雙享組合，獨家限時優惠中。')
                        +main-card('','styles/images/news/tw/activity-7/list.jpg','activity-7','2022/01/27','Brook Livin孕龍科技X全國電子 到店拍照 【WIRECARE 宅電防護員】讓您免費抽回家！','到全國電子拍照，WIRECARE 宅電防護員讓您免費抽回家！')