//- index.pug
extends ./include/layout.pug

block content
    main#page.wrapper
        .page-hero
            .container
                .page-hero_text
                    h2.f-heroTitle-xs.text-center 最新消息
                .page-hero_img
                    img(src='styles/images/news-banner.png', alt='情境圖')
        #page-nav
            ul.nav.justify-content-center
                //- li.nav-item.news-link
                //-     a.nav-link(href='news') 品牌消息
                li.nav-item.medias-link
                    a.nav-link(href='medias') 媒體報導
                li.nav-item.activities-link
                    a.nav-link.active(href='activities') 活動特區
                li.nav-item.unboxes-link
                    a.nav-link(href='unboxes') 開箱介紹

        article.page-inner
            .filter-row.mb-3.mb-lg-4
                .container
                    .row.justify-content-center
                        .col-6.col-md-4.col-xl-2
                            .select-box
                                .form-group
                                    select.form-control.main-select
                                        option 類別
                                        option 居家安全
                        .col-6.col-md-4.col-xl-2
                            .select-box
                                .form-group
                                    select.form-control.main-select
                                        option 產品
                                        option WIRECARE 宅電防護員
                        .col-12.col-md-4.col-xl-2.mt-4.mt-md-0
                            .input-group.search-input
                                input.form-control(type="text" placeholder="搜尋商品" aria-describedby="button-search")
                                .input-group-append
                                    button#button-search(type="button")
                                        i.icon-magnifier
            section
                .container
                    .row#activities-inner
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/activity-11/list.jpg','activity-11','2022/11/21','第九屆美商鄧白氏中小企業菁英獎出爐 ZEROPLUS 孕龍科技公司榮獲「年度企業MVP獎」','台灣具指標性的中小企業年度盛事「第九屆鄧白氏中小企業菁英獎」， ZEROPLUS 孕龍科技公司」連續 3 年出口值成長、ESG 表現優異且資訊透明度高，獲「年度企業 MVP 獎」。')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/activity-10/list.jpg','activity-10','2022/09/02','ZEROPLUS孕龍科技公司X國際電商夥伴Newegg 生態圈博覽會','ZEROPLUS【孕龍科技公司】受邀參與2022年度國際電商夥伴【Newegg 生態圈博覽會】為 ZEROPLUS & Brook Livin 雙品牌跨境電商生意，打造最強力後盾! ')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/activity-9/list.jpg','activity-9','2022/08/31','南投縣政府消防局X宅電防護員 合作辦理電氣火災及防火宣導活動','《南投縣政府消防局》偕同《孕龍科技公司》辦理民國111年度: 8 ~ 9 月份電氣火災及防火宣導活動。運用「WIRECARE 宅電防護員」提醒居民是否該維修與更換插座，與家中電線管路，以減少電線走火的發生機率。')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/activity-8/list.jpg','activity-8','2022/03/31','中保無限+時尚滅火器、WIRECARE宅電防護員守護雙享組！重磅推出！','中保無限家 X Brook Livin品牌聯名！守護雙享組合，獨家限時優惠中。')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/activity-7/list.jpg','activity-7','2022/01/27','Brook Livin孕龍科技X全國電子 到店拍照 【WIRECARE 宅電防護員】讓您免費抽回家！','到全國電子拍照，WIRECARE 宅電防護員讓您免費抽回家！')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/activity-6/list.jpg','activity-6','2021/12/23','WIRECARE於紐約時代廣場路透社大樓 重磅登場！','智慧家庭創新品牌【Brook Livin】，在Times Square 美國紐約時代廣場，正式宣佈於全美推出《WIRECARE宅電防護員》，守護全美消費者的居家與企業用電安全。')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/activity-5/list_425x200.png','activity-5','2021/10/29','WIRECARE 嘖嘖贊助粉絲感謝祭開跑！','歡慶 「WIRECARE 宅電防護員」，全球銷售突破5千台！限定回饋 Brook Livin「嘖嘖ZecZec」贊助者！好康再加碼！Brook Livin 讓水電師傅，到府插座免費換！')
                        //- .col-12.col-lg-4.my-lg-2
                        //-     +main-card('','styles/images/news/中秋幸福慶佳節-列表頁425X200.png','activity-4','2021/9/6','2021年 Brook Livin中秋幸福慶佳節 ','每逢佳節倍思親，今年就讓宅電防護員WIRECARE守護您的家人吧！只要在活動期間內前往 FB 粉絲團按讚，對指定貼文按讚留言分享，就有機會免費獲得<WIRECARE>…！')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/act-3-list.jpg','activity-3','2021/6/29','2021年Brook Livin品牌大使徵選開跑！ ','品牌大使徵選活動開跑囉！您是否喜歡思考，創意滿點，同時又樂於分享呢？7月1日開始，只要參予徵選活動，就有機會成為成為Brook Livin 品牌大使！')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/act-1-list.jpg','activity-1','2021/5/10','水電施工-溝通很重要-其實不用諜對諜','企業與家庭的電器施工，為何水電師傅沒有照要求執行?廠商報價這樣，會不會太貴?')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/act-2-list.jpg','activity-2','2021/5/10','觸電/淹水/高壓電擊/靜電: 如何發生與預防?','淹水時若水淹過插座，人在插座附近觸電機會很高！如果人站遠一點則不會觸電。而水是導體，理論上應該再遠都會電到，那為何只有電源附近的人會電到?')
            //- +page-navigation