//- index.pug
extends ./include/layout.pug
block plugins-meta
    meta(name="facebook-domain-verification", content="mrsqta5eri8hlnymt8hy4b9224smfr")
block page-css
    link(rel="stylesheet" type="text/css" href="styles/index.css")

block content
    main#index.wrapper
        section.full-hero.dots-inner
            mixin full-hero-item
                .full-hero_item
                    .full-hero_bg
                        img(src="styles/images/index-banner.jpg", alt="")
                    .full-hero_inner
                        .container
                            .row
                                .col-12.col-xl-5.offset-xl-1.d-flex.align-items-center
                                    .full-hero_product
                                        img(src="styles/images/wirecare-product.png", alt="")
                                .col-12.col-xl-6
                                    .full-hero_text
                                        .f-textTitle-big.hight-light 新品上市
                                        h1.f-heroTitle-big.full-hero_text-title 一鍵解開#[br]居家電線檢測
                                        h5.full-hero_text-text 內政部消防署統計，用電不慎引起火災是起火原因前三名，簡單步驟就可以測出家中插座與延長線老化程度，安全科技，打造更放心的優質生活！
                                        a.main-btn.btn-white.ml-auto.mr-5(href="product/wirecare") 了解更多
            .full-hero_item.RWD_Banner
                a.full-hero_bg(href="product/wirecare")
                    img.pc(src="styles/images/twBanner/Banner_WIRECARE_1920x1080.jpg", alt="")
                    img.pad(src="styles/images/twBanner/Banner_WIRECARE_768x1024.jpg", alt="")
                    img.mobile(src="styles/images/twBanner/Banner_WIRECARE_480x800.jpg", alt="")
            .full-hero_item
                .full-hero_bg
                    img(src="styles/images/index-banner.jpg", alt="")
                .full-hero_inner
                    .container
                        .row
                            .col-12.col-xl-5.offset-xl-1.d-flex.align-items-center
                                .full-hero_product
                                    img(src="styles/images/product/pdw/index-product.png", alt="")
                            .col-12.col-xl-6
                                .full-hero_text
                                    //- .f-textTitle-big.hight-light 即將上市
                                    h1.f-heroTitle-big.full-hero_text-title.d-none.d-xl-block 電力強勁到底#[br]高效循環壽命
                                    h1.f-heroTitle-big.full-hero_text-title.d-block.d-xl-none 電力強勁到底
                                    h5.full-hero_text-text 新一代「鋰離子充電電池」與一般充電電池相比，充電時間更短能節省更多等待時間，同時也具備長效續航，且穩定的電壓輸出，讓充電電池使用安心又長久。
                                    a.main-btn.btn-white.ml-auto.mr-5(href="product/powganite") 了解更多
        section#news-section.py-4.py-lg-5.mt-3.mt-lg-5
            .container.highlight-bg
                h2.f-sc-title.text-center.mb-0 最新消息
                .news-slider.slider-3.greenBorder-arrows.my-lg-5.px-lg-4.pb-3.pb-lg-0
                    +main-card('','styles/images/news/tw/media-21/list.jpg','media-21','2023/3/16','孕龍科技持續創新電玩周邊與智慧家庭，協同政府逐步投入「淨零轉型」，邁向永續台灣！','孕龍科技公司榮獲雙料大獎的殊榮，受邀至中華民國總統府，接受總統覲見與企業會談；孕龍科技公司也將整合跨部門量能，逐步投入「淨零轉型」於產品的研發流程，與政府組織和企業夥伴共同邁向永續台灣。')
                    +main-card('','styles/images/news/tw/media-20/list.jpg','media-20','2022/11/24','「新加坡亞太傑出企業獎」表彰孕龍科技公司旗下 Brook Livin為年度優異品牌！','由亞洲企業商會舉辦的「2022亞太傑出企業獎(APEA)」，孕龍科技公司榮獲「優異勵志品牌獎」殊榮。')
                    +main-card('','styles/images/news/tw/media-19/list.jpg','media-19','2022/10/28','看見台灣的驕傲！孕龍科技公司Brook Livin勇奪國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎！','孕龍科技公司以WIRECARE宅電防護員勇奪第19屆國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎。')
                    +main-card('','styles/images/news/tw/media-18/list.jpg','media-18','2022/10/19','「WIRECARE宅電防護員」 10秒檢測用電安全！','有「居家用電檢查神器」美名之稱的「WIRECARE宅電防護員」，以簡單且有效的檢查方式，預防老屋牆壁內的電線與家中插座，因年久失修可能增加的電線走火風險。')
                    +main-card('','styles/images/news/tw/media-17/list.jpg','media-17','2022/10/05','品牌+代工雙引擎！孕龍科技擁抱宅經濟商機！','財經媒體《今周刊》獨家專訪報導；孕龍科技屢獲大獎肯定，攜手通路商行銷雙贏。')
                    +main-card('','styles/images/news/tw/media-16/list.jpg','media-16','2022/09/30','WIRECARE 宅電防護員 榮獲第19屆國家品牌玉山獎 「最佳產品獎」！','孕龍科技公司旗下品牌《Brook Livin》產品「WIRECARE宅電防護員」在500多家國內績優企業中脫穎而出，獲第19屆國家品牌玉山獎 「最佳產品獎」。')
                    +main-card('','styles/images/news/tw/media-15/list.jpg','media-15','2022/09/29','防災新法寶「宅電防護員」 電氣安全維護好 居家安全住到老','平時消防人員居家訪視時向民眾宣導老舊電氣設備應汰換，民眾非自身經歷，所以反應平平無感，這次由第二大隊防火宣導教官團使用「宅電防護員」實際測試讓民眾了解。')
                    +main-card('','styles/images/news/tw/media-14/list.jpg','media-14','2022/09/01','守護居家用電安全 南投縣政府將啟用宅電防護員協助檢測','南投縣政府消防局為維護民眾居家安全，特與孕龍科技合作發表「宅電防護員」，透過科學化防災技術，協助民眾檢視居家用電安全，事先找出導致電器引起火災的危險因素。')
                    +main-card('','styles/images/news/tw/media-13/list.jpg','media-13','2022/07/13','又沒電了？電池超燙又漏液？小孩玩具中的電池真的安全嗎？內建安全晶片的新一代「鋰離子充電電池」解決電池痛點 打造安全居家生活','Brook Livin孕龍科技推出耐能鋰離子充電電池  內建智慧晶片的穩壓快充技術3000mWh大電量長效續航與10年儲存壽命 同時滿足效能與環保訴求')
                    +main-card('','styles/images/news/tw/media-12/list.jpg','media-12','2022/03/28','降低電線走火風險的最佳解方 WIRECARE 宅電防護員','Brook Livin 《WIRECARE 宅電防護員》，以最便利的阻抗量測方式，讓消費者能知道插座線路是否處於危險使用狀態。')
                    +main-card('','styles/images/news/tw/media-11/list.jpg','media-11','2022/02/21','2022年華人創業家大獎 孕龍科技Brook Livin獲台灣優質產品金牌獎','2022《華人創業家大獎》頒獎典禮現場冠蓋雲集，眾多優秀企業家榮獲此一殊榮。在後疫情時代，仍能讓公司穩定成長、獲獎勝出的廠商，更是台灣社會的指標企業。')
                    +main-card('','styles/images/news/tw/media-10/list.jpg','media-10','2022/02/16','Brook Livin & WIRECARE宅電防護員 榮獲台灣優質產品金牌獎國際肯定','透過台灣優良精品廠商協進會多月來的嚴格評選，Brook Livin 孕龍科技公司&WIRECARE 宅電防護員於2月份榮獲「台灣優質產品金牌獎」國際肯定！')
                    +main-card('','styles/images/news/tw/media-9/list.jpg','media-9','2022/01/10','孕龍科技 Brook Livin品牌董事長鄭秋豪先生 獲聘「台灣優良精品廠商協進會」榮譽委員','孕龍科技公司 Brook Livin品牌董事長鄭秋豪先生獲聘，擔任「台灣優良精品廠商協進會」 (Taiwan Best Manufacturer Committee) 榮譽委員，與協會理事長及協會團隊，共同創造臺灣產品的核心競爭力！')
                    +main-card('','styles/images/news/tw/media-8/list.jpg','media-8','2022/01/04','WIRECARE宅電防護員 榮獲台灣優質產品金牌獎','孕龍科技公司旗下智慧家庭創新品牌「Brook Livin」以《WIRECARE宅電防護員》用電安全檢測產品，榮獲 2021-2022 年度《台灣優質產品金牌獎》！')
                a.main-btn.btn-primary(href='medias') 了解更多
        section#activity-section.py-4.py-lg-5
            .container
                h2.f-sc-title.text-center 活動特區
                .activity-slider.slider-2.my-lg-4.gray-arrows.pb-4.pb-lg-0
                    +main-card('','styles/images/news/tw/activity-12/list.jpg','activity-12','2023/3/15','與 Brook Livin 孕龍科技公司一起提升台灣產業競爭力，共同邁向永續台灣','總統蔡英文女士於三月份接見 Brook Livin 孕龍科技公司團隊，及所有第19屆國家品牌玉山獎獲獎企業。')
                    +main-card('','styles/images/news/tw/activity-11/list.jpg','activity-11','2022/11/21','第九屆美商鄧白氏中小企業菁英獎出爐 ZEROPLUS 孕龍科技公司榮獲「年度企業MVP獎」','台灣具指標性的中小企業年度盛事「第九屆鄧白氏中小企業菁英獎」， ZEROPLUS 孕龍科技公司」連續 3 年出口值成長、ESG 表現優異且資訊透明度高，獲「年度企業 MVP 獎」。')
                    +main-card('','styles/images/news/tw/activity-10/list.jpg','activity-10','2022/09/02','ZEROPLUS孕龍科技公司X國際電商夥伴Newegg 生態圈博覽會','ZEROPLUS【孕龍科技公司】受邀參與2022年度國際電商夥伴【Newegg 生態圈博覽會】為 ZEROPLUS & Brook Livin 雙品牌跨境電商生意，打造最強力後盾! ')
                    +main-card('','styles/images/news/tw/activity-9/list.jpg','activity-9','2022/08/31','南投縣政府消防局X宅電防護員 合作辦理電氣火災及防火宣導活動','《南投縣政府消防局》偕同《孕龍科技公司》辦理民國111年度: 8 ~ 9 月份電氣火災及防火宣導活動。運用「WIRECARE 宅電防護員」提醒居民是否該維修與更換插座，與家中電線管路，以減少電線走火的發生機率。')
                    +main-card('','styles/images/news/tw/activity-8/list.jpg','activity-8','2022/03/31','中保無限+時尚滅火器、WIRECARE宅電防護員守護雙享組！重磅推出！','中保無限家 X Brook Livin品牌聯名！守護雙享組合，獨家限時優惠中。')
                    +main-card('','styles/images/news/tw/activity-7/list.jpg','activity-7','2022/01/27','Brook Livin孕龍科技X全國電子 到店拍照 【WIRECARE 宅電防護員】讓您免費抽回家！','到全國電子拍照，WIRECARE 宅電防護員讓您免費抽回家！')
                    +main-card('','styles/images/news/tw/activity-6/list.jpg','activity-6','2021/12/23','WIRECARE於紐約時代廣場路透社大樓 重磅登場！','智慧家庭創新品牌【Brook Livin】，在Times Square 美國紐約時代廣場，正式宣佈於全美推出《WIRECARE宅電防護員》，守護全美消費者的居家與企業用電安全。')
                    +main-card('','styles/images/news/tw/activity-5/list_425x200.png','activity-5','2021/10/29','WIRECARE 嘖嘖贊助粉絲感謝祭開跑！','歡慶 「WIRECARE 宅電防護員」，全球銷售突破5千台！限定回饋 Brook Livin「嘖嘖ZecZec」贊助者！好康再加碼！Brook Livin 讓水電師傅，到府插座免費換！')
                    +main-card('','styles/images/act-3-list.jpg','activity-3','2021/6/29','2021年Brook Livin品牌大使徵選開跑！ ','品牌大使徵選活動開跑囉！您是否喜歡思考，創意滿點，同時又樂於分享呢？7月1日開始，只要參予徵選活動，就有機會成為成為Brook Livin 品牌大使！')
                    +main-card('','styles/images/act-1-list.jpg','activity-1','2021/5/10','水電施工-溝通很重要-其實不用諜對諜','企業與家庭的電器施工，為何水電師傅沒有照要求執行?廠商報價這樣，會不會太貴?')
                    +main-card('','styles/images/act-2-list.jpg','activity-2','2021/5/10','觸電/淹水/高壓電擊/靜電: 如何發生與預防?','淹水時若水淹過插座，人在插座附近觸電機會很高！如果人站遠一點則不會觸電。而水是導體，理論上應該再遠都會電到，那為何只有電源附近的人會電到?')
                a.main-btn.btn-primary.mt-5(href='activities') 了解更多

        //- section.py-4.py-lg-5.px-2.px-lg-0
            .container
                .banner-slider.greenBorder-arrows.dots-inner
                    .banner-slider_item
                        .row.no-gutters
                            .col-12
                                .banner-ad
                                    .row.no-gutters
                                        .col-12.col-lg-6
                                            .banner-ad_text.mt-4.mt-lg-0
                                                h5.f-bannerTitle.t-dark.fw-600 Brook紫外線消毒盒#[br]安心除菌  隨手可淨
                                                p.mt-2.mb-lg-5 生活中看不見的隱形殺手，總悄悄的稍一不留意就入侵我們的體內，然而將隨身物品用紫外線殺菌，可避免病菌經物體表面傳播，進而減少細菌對我們身體的危害，BROOK 紫外線消毒盒因此誕生。
                                                a.main-btn.btn-primary.ml-0.d-none.d-xl-table 了解更多
                                        .col-12.col-lg-6
                                            .banner-ad_pic
                                                img(src='styles/images/product-1a.png', alt='產品圖')
                                        .col-12.d-lg-none.mb-5.px-3.pb-2
                                            a.main-btn.btn-primary 了解更多
                    .banner-slider_item
                        .row.no-gutters
                            .col-12
                                .banner-ad
                                    .row.no-gutters
                                        .col-12.col-lg-6
                                            .banner-ad_text
                                                h5.f-bannerTitle.t-dark.fw-600 Brook紫外線消毒盒#[br]安心除菌  隨手可淨
                                                p.mt-2.mb-lg-5 生活中看不見的隱形殺手，總悄悄的稍一不留意就入侵我們的體內，然而將隨身物品用紫外線殺菌，可避免病菌經物體表面傳播，進而減少細菌對我們身體的危害，BROOK 紫外線消毒盒因此誕生。
                                                a.main-btn.btn-primary.ml-0.d-none.d-xl-table 了解更多
                                        .col-12.col-lg-6
                                            .banner-ad_pic
                                                img(src='styles/images/product-1a.png', alt='產品圖')
                                        .col-12.d-lg-none.mb-5.px-3.pb-2
                                            a.main-btn.btn-primary 了解更多
                .banner-ad-slider
                    div
                        .row.no-gutters
                            .col-12.col-lg-6
                                +activity-card('','styles/images/pic-4.jpg')
                            .col-12.col-lg-6
                                +activity-card('','styles/images/pic-2.jpg')
                    div
                        .row.no-gutters
                            .col-12.col-lg-6
                                +activity-card('','styles/images/pic-4.jpg')
                            .col-12.col-lg-6
                                +activity-card('','styles/images/pic-2.jpg')

        //- section#media-section.py-4.py-lg-5.mb-3.mb-lg-5
        //-     .container
        //-         h2.f-sc-title.text-center 媒體報導
        //-         .media-slider.slider-3.my-lg-4.gray-arrows.pb-3.pb-lg-0
        //-             +main-card('','styles/images/pic-1.jpg','media')
        //-             +main-card('','styles/images/pic-2.jpg','media')
        //-             +main-card('','styles/images/pic-3.jpg','media')
        //-             +main-card('','styles/images/pic-1.jpg','media')
        //-             +main-card('','styles/images/pic-2.jpg','media')
        //-             +main-card('','styles/images/pic-3.jpg','media')
        //-         a.main-btn.btn-primary(href='medias') 了解更多