//- index.pug
extends ./include/layout.pug

block content
    main#page.wrapper
        .page-hero
            .container
                .page-hero_text
                    h2.f-heroTitle-xs.text-center 最新消息
                .page-hero_img
                    img(src='styles/images/news-banner.png', alt='情境圖')
        #page-nav
            ul.nav.justify-content-center
                //- li.nav-item.news-link
                //-     a.nav-link(href='news') 品牌消息
                li.nav-item.medias-link
                    a.nav-link(href='medias') 媒體報導
                li.nav-item.activities-link
                    a.nav-link(href='activities') 活動特區
                li.nav-item.unboxes-link
                    a.nav-link(href='unboxes') 開箱介紹
                li.nav-item.unboxes-link
                    a.nav-link.active(href='knowledges') Livin 知識家

        article.page-inner
            .filter-row.mb-3.mb-lg-4
                .container
                    .row.justify-content-center
                        .col-6.col-md-4.col-xl-3
                            .select-box
                                .form-group
                                    select.form-control.main-select
                                        option 居家安全
                        .col-6.col-md-4.col-xl-3
                            .select-box
                                .form-group
                                    select.form-control.main-select
                                        option WIRECARE 宅電防護員
                        .col-12.col-md-4.col-xl-3.mt-4.mt-md-0
                            .input-group.search-input
                                input.form-control(type="text" placeholder="搜尋商品" aria-describedby="button-search")
                                .input-group-append
                                    button#button-search(type="button")
                                        i.icon-magnifier
            section
                .container
                    .row#medias-inner
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-18/list.jpg','knowledge-18','2023/4/27','用電安全小知識 | 預防電器火災（下集）','預防勝過救火，日常用電安全的管理絕對不能偷懶，必須調整的用電習慣已經整理好，快筆記下來吧！')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-17/list.jpg','knowledge-17','2023/4/20','用電安全小知識 | 預防電器火災（上集）','大家都知道電器因素是台灣常見的火災因素，而有哪些是因為用電習慣所導致得的電器火災危機呢？')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-16/list.jpg','knowledge-16','2023/4/7','用電安全小知識 | 用電安全注意了梅','即將來襲的梅雨季也有走火危機？快速幫大家科普 「積污導電」與走火的關聯！')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-15/list.jpg','knowledge-15','2023/3/31','防災安全小知識 | 清明掃墓用火注意四步驟','火點遺留為常見火災的因素之一，清明掃墓用火更要注意！')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-14/list.jpg','knowledge-14','2023/3/23','用電安全小知識 |電子類產品常見安規','電器上那些各種小ICON到底是什麼意思呢？選購安全認證的電器，提升用電安全！')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-13/list.jpg','knowledge-13','2023/3/2','電阻檢測大PK | WIRECARE和三用電錶的差別','檢測電阻用三用電錶不就可以了嗎？讓小編告訴大家電阻檢測儀器的差別！')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-12/list.jpg','knowledge-12','2023/2/23','用電安全小知識 | 五步驟簡單DIY換插座','已有神夥伴WIRECARE檢測用電安全狀況，需要換插座該怎麼辦？別擔心！小編奉上易懂插座安裝教學，用電安全就交給Brook Livin！ ')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-11/list.jpg','knowledge-11','2023/2/16','用電安全小知識 | 插座又黃又髒怎麼清？','直接濕抹布清潔？千萬不要，因為濕抹布的水份容易使插孔潮濕而引發短路。 ')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-10/list.jpg','knowledge-10','2022/12/29','WIRECARE 常見Q&A | 能搭配外國轉接頭用嗎？','WIRECARE外國轉接頭也可以用？')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-9/list.jpg','knowledge-9','2022/12/22','用電安全小知識 | 家電遇上高電阻就會火災？','電阻學問涉及廣闊，小編精心整理電器及電阻來幫大家科普囉！')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-8/list.jpg','knowledge-8','2022/11/24','防災安全小知識 | 層層把關防火用品','災害預防及發生該怎麼準備呢？提高居家安全這樣選就對了！')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-7/list.jpg','knowledge-7','2022/11/1','用電安全小知識 |入冬暖氣這樣選好安心','早晚溫差大，暖冬家電買起來！先等等，購買前須知錯誤用電的潛在危機！')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-6/list.jpg','knowledge-6','2022/10/20','預防電氣火災| 5不1沒有','用電超載、電線綑綁、電源常插可能提高電器走火機率！搭配消防用電守則，居住安全輕鬆GET。')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-5/list.jpg','knowledge-5','2022/10/6','震後居家安全檢測 | 四步驟檢測，居家更安全','地震結束後就沒事了嗎？頻繁地震後更需要逐一確認居家安全狀態。')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-4/list.jpg','knowledge-4','2022/9/29','在家好安心 | WIRECARE 宅電防護員 心得調查回饋','WIRECARE宅電防護員網友使用心得調查回饋來了!收集數百名使用者心得，一起來看看真實數據分享。')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-3/list.jpg','knowledge-3','2022/05/06','疫起宅在家注意用電量 | 高功率電器篇','近5年全台住宅及商業用電量上升7%，注意高功率家電的使用、把關用電量，不僅節能省電外，也能降低插座的消耗。')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-2/list.jpg','knowledge-2','2022/04/28','WIRECARE 常見Q&A | 檢測延長線卻出現橘燈代表什麼','用WIRECARE檢測延長線卻出現橘燈表示什麼？問題是在延長線？還是插座呢？')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/knowledge-1/list.jpg','knowledge-1','2022/04/26','居家用電量指南 | 檢測區域懶人包','高功率電器提高使用電量，將導致電阻過高產生火災風險！WIRECARE宅電防護員10秒即測各區用電安全。')
            //- +page-navigation