//- index.pug
extends ./include/new-layout.pug
block meta
    title WIRECARE 常見Q&A | 檢測延長線卻出現橘燈代表什麼
    meta(name='description' content='用WIRECARE檢測延長線卻出現橘燈表示什麼？問題是在延長線？還是插座呢？')
    meta(property='image' content='https://brook-livin.com/styles/images/news/tw/knowledge-2/meta.jpg')
    meta(property='og:title' content='WIRECARE 常見Q&A | 檢測延長線卻出現橘燈代表什麼')
    meta(property='og:url' content='https://brook-livin.com/knowledge-2')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/tw/knowledge-2/meta.jpg')
    meta(property='og:description' content='用WIRECARE檢測延長線卻出現橘燈表示什麼？問題是在延長線？還是插座呢？')
    meta(property='og:site_name' content='WIRECARE 常見Q&A | 檢測延長線卻出現橘燈代表什麼')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 WIRECARE 常見Q&A | 檢測延長線卻出現橘燈代表什麼
                        .row
                            .col-12.col-md-9.text-left
                                a.tag.t-primary.mr-2(href='#' title='BrookLivin') #BrookLivin
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='用電安全') #用電安全
                                a.tag.t-primary.mr-2(href='#' title='延長線') #延長線
                                a.tag.t-primary.mr-2(href='#' title='插座檢測') #插座檢測
                                a.tag.t-primary.mr-2(href='#' title='用電安全') #用電安全
                            .col-12.col-md-3.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/4/28
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p 用WIRECARE檢測延長線卻出現橘燈表示？#[br]問題是在延長線？還是插座呢？
                            p 小編下凡來解答：
                            br
                            h5 一、請先確認牆上插座老化程度
                            p 確認牆上插座狀態為健康（建議為綠燈）後，拔除延長線上所有電器，逐一檢測延長線所有插座
                            p 延長線檢測範圍：延長線+插座及牆後管線的阻抗總和#[br]也就是插座到延長線中間老化的程度#[br]阻抗越高將導致通電時，阻抗高內部產生熱能，進而可能衍生走火的危機！！
                            br
                            h5 二、若檢測結果為橘/紅燈代表？
                            p 代表該延長線使用於此插座時阻抗偏高#[br]也就是老化程度偏高！
                            p #[span(style='display:inline-block;width:14px; height:14px;border-radius:50%; background-color: orange;')] 橘燈 : 該延長線避免使用高功率電器#[br]#[span(style='display:inline-block;width:14px; height:14px;border-radius:50%; background-color: red;')] 紅燈 : 不建議繼續結合使用該延長線至該插座
                            img(src='../styles/images/news/tw/knowledge-2/content.jpg', alt='圖片')
                            br
                            br
                            p 貼心提醒 :#[br]WIRECARE設計為檢測插座老化，並非針對新買延長線的穩定度檢測喔！#[br]延長線價差大，品質及產品穩定度也參差不齊，#[br]挑選延長線時，建議購買經合格認證款式，降低影響檢測結果。
                            br
                            h6.t-primary 馬上購買WIRECARE宅電防護員：
                            a(href="https://www.brook-livin.com/store" target='_blank') - https://www.brook-livin.com/store
                            br
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="WIRECARE 常見Q&A | 檢測延長線卻出現橘燈代表什麼" data-description="用WIRECARE檢測延長線卻出現橘燈表示什麼？問題是在延長線？還是插座呢？" data-image="https://brook-livin.com/styles/images/news/tw/knowledge-2/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="WIRECARE 常見Q&A | 檢測延長線卻出現橘燈代表什麼" data-description="用WIRECARE檢測延長線卻出現橘燈表示什麼？問題是在延長線？還是插座呢？" data-image="https://brook-livin.com/styles/images/news/tw/knowledge-2/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="WIRECARE 常見Q&A | 檢測延長線卻出現橘燈代表什麼" data-description="用WIRECARE檢測延長線卻出現橘燈表示什麼？問題是在延長線？還是插座呢？" data-image="https://brook-livin.com/styles/images/news/tw/knowledge-2/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/news/tw/knowledge-3/list.jpg','knowledge-3','2022/05/06','疫起宅在家注意用電量 | 高功率電器篇','近5年全台住宅及商業用電量上升7%，注意高功率家電的使用、把關用電量，不僅節能省電外，也能降低插座的消耗。')
                        +main-card('','styles/images/news/tw/knowledge-1/list.jpg','knowledge-1','2022/04/26','居家用電量指南 | 檢測區域懶人包','高功率電器提高使用電量，將導致電阻過高產生火災風險！WIRECARE宅電防護員10秒即測各區用電安全。')