//- index.pug
extends ./include/new-layout.pug
block meta
    title 內建安全晶片的新一代「鋰離子充電電池」解決電池痛點 打造安全居家生活
    meta(name='description' content='Brook Livin孕龍科技推出耐能鋰離子充電電池  內建智慧晶片的穩壓快充技術3000mWh大電量長效續航與10年儲存壽命 同時滿足效能與環保訴求')
    meta(property='image' content='https://livin.brookaccessory.com/styles/images/news/tw/media-13/meta.jpg')
    meta(property='og:title' content='內建安全晶片的新一代「鋰離子充電電池」解決電池痛點 打造安全居家生活')
    meta(property='og:url' content='https://livin.brookaccessory.com/media-13')
    meta(property='og:image' content='https://livin.brookaccessory.com/styles/images/news/tw/media-13/meta.jpg')
    meta(property='og:description' content='Brook Livin孕龍科技推出耐能鋰離子充電電池  內建智慧晶片的穩壓快充技術3000mWh大電量長效續航與10年儲存壽命 同時滿足效能與環保訴求')
    meta(property='og:site_name' content='內建安全晶片的新一代「鋰離子充電電池」解決電池痛點 打造安全居家生活')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 又沒電了？電池超燙又漏液？小孩玩具中的電池真的安全嗎？內建安全晶片的新一代「鋰離子充電電池」解決電池痛點 打造安全居家生活
                        .row
                            .col-12.col-md-9.text-left
                                a.tag.t-primary.mr-2(href='#' title='鋰離子充電電池') #鋰離子充電電池
                                a.tag.t-primary.mr-2(href='#' title='鋰電池') #鋰電池
                                a.tag.t-primary.mr-2(href='#' title='充電電池') #充電電池
                                a.tag.t-primary.mr-2(href='#' title='三號電池') #三號電池
                            .col-12.col-md-3.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/07/13
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p 聲光效果十足的玩具最能吸引小孩的喜愛，但同時也非常耗電，若使用一般鹼性電池或碳鋅電池總是很快就沒電，使用在電子玩具中的傳統電池，更常有漏液問題造成安全疑慮；如何選購同時擁有「安全性」及「壽命持久」的電池，也成為了父母們的一大煩惱。孕龍科技旗下智慧家庭品牌【Brook Livin】今日宣布，在台灣率先推出【#[a.t-primary(href='https://www.brook-livin.com/product/powganite' target='_blank') POWGANITE 耐能鋰離子充電電池]】，擁有高效穩定電力，與內建安全技術核心功能，消費者除可免去頻繁更換及購買新電池的煩惱，亦能確保充電安全。
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-13/content-1.jpg', alt='圖片')
                            br
                            p 【POWGANITE 耐能鋰離子充電電池】即日起於國內通路雲城娛樂、旺群儀器、杰鼎奧拉數位館、采風國際以及Yahoo!購物、東森購物、博客來與friDay購物正式開賣，一盒電池共4入，售價990 元；另外販售充電電池組包含專用充電器、電池4入、充電線與電池收納盒，售價1,490元，讓消費者享受高效且環保的用電體驗。
                            p Brook Livin 孕龍科技總經理鄭秋豪表示：「Brook Livin致力於打造創新永續的居家科技產品，透過孕龍科技深耕台灣25年強大技術研發能力，洞察全球消費者的電池使用痛點，推出可循環使用的POWGANITE 耐能鋰離子充電電池；解決民眾因兒童玩具與其他電子商品，因耗電量大需囤積電池的情形，同時更減少廢棄電池對環境帶來的負擔。Brook Livin在今年榮獲《台灣優質產品金牌獎》及《華人創業家大獎》雙料品牌大獎，更於7月份獲得新加坡2022年度《亞太傑出企業獎》及《國家品牌玉山獎》雙料傑出企業提名。Brook Livin未來亦將秉持創新設計的理念，推出更多環境永續的居家科技產品。」
                            br
                            b 【POWGANITE 耐能鋰離子充電電池】五大核心功能 智慧高效又永續的電力選擇
                            br
                            p 消費者使用一般充電電池的困擾，不外乎於電力匱乏、電壓不足、充電緩慢以及壽命短暫四大痛點。新一代鋰離子充電電池與一般充電電池相比，具備長效續航且穩定的電壓輸出，讓充電電池使用上能安心又長久。產品主要有五大核心功能：
                            ul.ml-0.pl-4
                                li #[b 電壓穩定，長效續航：]【POWGANITE 耐能鋰離子充電電池】提供全程1.5V的穩定電壓，同時擁有長效續航功能，為需要高電壓、大電流的產品提供穩定輸出。
                                li #[b 智慧晶片，安全充電：] 使用內建智慧晶片，並採用穩壓充電技術，【POWGANITE 耐能鋰離子充電電池】可以在電池溫度過高時自動保護，無論是家裡或是辦公室使用，都能用的開心又安心。
                                li #[b 強大能量，強勁持久：]【POWGANITE 耐能鋰離子充電電池】擁有比一般充電電池高出0.6倍的能量，高達3000mWh，強大的能量輕鬆使用，電量不足再也不是問題！。
                                li #[b 成分安全，兼顧環保：] 成分不含鉛汞的【POWGANITE 耐能鋰離子充電電池】，除了擁有10年儲存壽命，還可以循環充電高達1,000次，同時兼顧永續發展與環保理念。
                                li #[b 低自放電，無記憶效應：]【POWGANITE 耐能鋰離子充電電池】擁有低自放電的設計，長時間放置不使用，一年後仍可保持90%電量，達到耐用又高效的多重效果！
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-13/content-2.jpg', alt='圖片')
                            br
                            b 放眼智慧家庭市場需求 【WIRECARE 宅電防護員】 守護居家用電安全
                            br
                            p 除了需要使用電池的電器與玩具外，一般家庭的用電量也相當可觀。超過30年以上的老房，占台灣整體房屋的比重接近一半，而因「電氣因素」導致失火，也是全年度火災主因的前三名。由此可見，定期檢查家中插座與管線使用狀況至關重要。Brook Livin全球熱賣的居家科技產品【WIRECARE 宅電防護員】，就是有效保障家庭與企業消費者的最佳利器，能夠讓家中插座不因耗電過量或用電不慎，導致電線走火的憾事。
                            p 【WIRECARE 宅電防護員】繼2021年度在台灣市場，單月銷售突破420萬元的佳績後，於今年1月份在日本市場募資平台《GREEN FUNDING》，更一舉突破610萬元的募資紀錄。孕龍科技也將集結旗下【Brook Livin】與【Brook Gaming】兩大消費性電子與電玩周邊品牌，及永續能源等創新商品，於2023年1月份的CES (Consumer Electronics Show，美國拉斯維加斯國際消費電子展)，向全球通路商與科技媒體，首次揭露明年度的ESG (企業永續發展) 系列商品與品牌計劃。
                            p 消費者即日起可在實體家電龍頭《全國電子》和《良興電子》，與透過momo購物網、PChome24h購物、蝦皮購物、樂天市場等各大電商平台，選購Brook Livin【WIRECARE 宅電防護員】與品牌系列產品，滿足智慧家庭所需的無限想像，並持續提升消費者居住安全與品質。此外，【Brook Livin】品牌即將於8月份與知名募資平台《貝殼放大》，旗下台北市迪化街的實體店《貝殼好室》，展開【WIRECARE 宅電防護員】預防電線走火的品牌聯名推廣活動，透過與消費者互動交流，提升大眾對於用電安全議題的重視。
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-13/content-3.jpg', alt='圖片')
                            br
                            b 關於【Brook Livin】品牌
                            p 在台深耕 25 年的 ZEROPLUS 孕龍科技公司，將多年深厚研發知識，融合年輕世代的創意，開展出全新的智慧家庭品牌Brook Livin，不只著力於生活產品的創新設計，更關注每一個家庭裡大大小小的細節，並致力於環境永續、社會回饋，讓我們的「家」更美好。如需更多資訊，請造訪#[a.t-primary(href='https://www.brook-livin.com/' target='_blank') 官方網站]與#[a.t-primary(href='https://www.facebook.com/brooklivin' target='_blank') FB 粉絲專頁]
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="內建安全晶片的新一代「鋰離子充電電池」解決電池痛點 打造安全居家生活" data-description="Brook Livin孕龍科技推出耐能鋰離子充電電池  內建智慧晶片的穩壓快充技術3000mWh大電量長效續航與10年儲存壽命 同時滿足效能與環保訴求" data-image="https://livin.brookaccessory.com/styles/images/news/tw/media-13/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="內建安全晶片的新一代「鋰離子充電電池」解決電池痛點 打造安全居家生活" data-description="Brook Livin孕龍科技推出耐能鋰離子充電電池  內建智慧晶片的穩壓快充技術3000mWh大電量長效續航與10年儲存壽命 同時滿足效能與環保訴求" data-image="https://livin.brookaccessory.com/styles/images/news/tw/media-13/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="內建安全晶片的新一代「鋰離子充電電池」解決電池痛點 打造安全居家生活" data-description="Brook Livin孕龍科技推出耐能鋰離子充電電池  內建智慧晶片的穩壓快充技術3000mWh大電量長效續航與10年儲存壽命 同時滿足效能與環保訴求" data-image="https://livin.brookaccessory.com/styles/images/news/tw/media-13/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/news/tw/media-9/list.jpg','media-9','2022/01/10','內建安全晶片的新一代「鋰離子充電電池」解決電池痛點 打造安全居家生活','Brook Livin孕龍科技推出耐能鋰離子充電電池  內建智慧晶片的穩壓快充技術3000mWh大電量長效續航與10年儲存壽命 同時滿足效能與環保訴求')
                        +main-card('','styles/images/news/tw/media-0/00_lists.png','media-0','2021/10/12','從嵌入式到家庭式，孕龍科技 實現居家守護計畫','走過24年來，2020-2021年度，是台灣與全球市場，因應新冠肺炎疫情變化最大的時間點。孕龍科技運用多…')
                        +main-card('','styles/images/media-5-list.png','media-5','2021/5/24','疫情期間客服調整公告','因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…')
                        +main-card('','styles/images/media-4-list.jpg','media-4','2021/5/12','Brook Livin 成功研發全國第一台「居家用電防災神器」','一週以來，全台高溫直飆 30 度，使民眾居家用電量大增。依據消防署最新火災統計數據，「電氣走火案件…')
