//- index.pug
extends ./include/new-layout.pug
block meta
    title 從嵌入式到家庭式，孕龍科技 實現居家守護計畫 - Brook Livin
    meta(name='description' content='走過24年來，2020-2021年度，是台灣與全球市場，因應新冠肺炎疫情變化最大的時間點。孕龍科技運用多年累積的嵌入式電子產品技術，打造企業與居家專用防災產品「WIRECARE宅電防護員」，實現居家守護計畫。')
    meta(property='image' content='https://livin.brookaccessory.com/styles/images/news/tw/media-0/00_META.png')
    meta(property='og:title' content='從嵌入式到家庭式，孕龍科技 實現居家守護計畫 - Brook Livin')
    meta(property='og:url' content='https://livin.brookaccessory.com/media-0')
    meta(property='og:image' content='https://livin.brookaccessory.com/styles/images/news/tw/media-0/00_META.png')
    meta(property='og:description' content='走過24年來，2020-2021年度，是台灣與全球市場，因應新冠肺炎疫情變化最大的時間點。孕龍科技運用多年累積的嵌入式電子產品技術，打造企業與居家專用防災產品「WIRECARE宅電防護員」，實現居家守護計畫。')
    meta(property='og:site_name' content='從嵌入式到家庭式，孕龍科技 實現居家守護計畫 - Brook Livin')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 從嵌入式到家庭式，孕龍科技 實現居家守護計畫
                        .row
                            .col-8.text-left
                                a.tag.t-primary.mr-2(href='#' title='孕龍科技') #孕龍科技
                                a.tag.t-primary.mr-2(href='#' title='ZEROPLUS') #ZEROPLUS
                                a.tag.t-primary.mr-2(href='#' title='Brook Livin') #Brook Livin
                                a.tag.t-primary.mr-2(href='#' title='邏輯分析儀') #邏輯分析儀
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='宅電防護員') #宅電防護員
                            .col-4.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/10/12
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p.text-center
                                img.mx-auto.img-fluid(src='styles/images/news/tw/media-0/01_content.png', alt='圖片' style='max-width: 500px;')
                            p 走過24年來，2020-2021年度，無疑是台灣與全球市場，因應新冠肺炎疫情變化最劇烈的時間點。很幸運地，由於孕龍科技公司，多年來在各種嵌入式電子產品研發，大量投入的軟硬體基礎，讓孕龍科技旗下的品牌電子產品，得以能在短時間商轉化，透過全球的經銷夥伴，策略性銷售各國市場。
                            br
                            p.text-center
                                img.mx-auto.img-fluid(src='styles/images/news/tw/media-0/02_content.png', alt='圖片' style='max-width: 500px;')
                            p 從2021年5月份孕龍科技公司，與北美嵌入式大會 ( #[a(href='http://www.embeddedonlineconference.com/' target='_blank') 2021 Embedded Online Conference | www.embeddedonlineconference.com/] ) 的全球性贊助合作，目的就是讓孕龍科技公司，逐步成為台灣的電子科技業，嵌入式的技術與研發的後盾；尤其在孕龍邏輯分析儀 (ZEROPLUS Logic Analyzer) 的品牌事業群，透過與產業工程師的交流與解惑，到2021年「孕龍邏輯分析儀」已具備超過130種的匯流排訊號解碼能力，不但讓台灣的半導體與IC設計產業客戶，大量縮短訊號解碼與除錯時間，新的IC設計與電子業客戶，更在美國、荷蘭、日本、韓國、馬來西亞、新加坡、俄羅斯等科技大國，陸續受惠於孕龍邏輯分析儀的強大功能，加速全球企業客戶在半導體製程、IC設計與新電子產品研發的進展。
                            br
                            p.text-center
                                img.mx-auto.img-fluid(src='styles/images/news/tw/media-0/03_content.png', alt='圖片' style='max-width: 800px;')
                            p 孕龍科技公司的各項子品牌主要市場，大致分為兩大類，分別為「企業用戶」與「生活娛樂」。例如ZEROPLUS品牌的「孕龍邏輯分析儀」，就是研發工程師的必備訊號解碼工具，屬於「企業用戶」的市場導向；而Brook Gaming品牌出品的遊戲手把、跨遊戲平台的轉接器、遊戲電源裝置、寶可夢手遊周邊等多樣化遊戲周邊產品，則是在全球「生活娛樂」的市場，穩健發展與持續成長。
                            br
                            p.text-center
                                img.mx-auto.img-fluid(src='styles/images/news/tw/media-0/04_content.png', alt='圖片' style='max-width: 800px;')
                            p 因應從2020年開始的全球新冠肺炎疫情，在各國如野火燎原般的接力爆發，消費者在居家生活，遠距辦公，災害預防等家用電子需求漸趨成熟。與新品牌事業團隊「Brook Livin」，開始整合與開發公司內外部資源，並於2021年6月份透過台灣市場的「 #[a(href='https://www.zeczec.com/projects/wirecare' targer='_blank') 嘖嘖 zeczec群眾集資 |  www.zeczec.com/projects/wirecare] 」，正式推出Brook Livin品牌的企業與居家專用防災商品，「WIRECARE 宅電防護員」。
                            br
                            p.text-center
                                img.mx-auto.img-fluid(src='styles/images/news/tw/media-0/05_content.png', alt='圖片' style='max-width: 400px;')
                            br
                            br
                            p 「WIRECARE 宅電防護員」，憑藉著消費者可簡易直觀的硬體設計，搭配高效軟體與電力系統演算法，真正達到2021年孕龍科技公司所訂下的新品牌目標：「Brook Livin品牌將從嵌入式邁向家庭式，以唾手可得的生活科技產品，打造居家消防守護」。
                            p.text-center
                                img.mx-auto.img-fluid(src='styles/images/news/tw/media-0/06_content.png', alt='圖片') 
                            p 「WIRECARE 宅電防護員」以簡易的「綠 / 橘 / 紅」三色LED燈號，讓消費者輕鬆得知企業與居家插座與電路安全狀況，即時更換插座與檢修電路系統，將能有效預防電線走火，與用電過量導致火災等各國消防機構痛點，減少台灣與全球國家，因為無法預期火災發生而損失的人力與物業資源，真正達成「防災神器」的WIRECARE使用者體驗。
                            p.text-center
                                img.mx-auto.img-fluid(src='styles/images/news/tw/media-0/07_content.png', alt='圖片')
                            p 「WIRECARE 宅電防護員」從台灣的6大電商市場出發，到北美市場正式透過亞馬遜美國站 (Amazon USA) 銷售的5個月過程中，除了感謝孕龍科技與Brook Livin團隊一路以來的用心經營與付出，更要感謝「嘖嘖 zeczec群眾集資」的2,166位支持者，首月在台銷售就能突破台幣420萬的佳績；此外，孕龍科技公司也會持續深耕國內外經銷商，科技媒體與社群領袖，透過Brook Livin品牌即將陸續推出的企業與家用電子產品，擴大多元服務，積累信賴孕龍科技公司，ZEROPLUS品牌，Brook Gaming品牌與Brook Livin品牌的多樣化消費者，與全球合作夥伴。
                            br
                            br
                            br
                            p 作者：孕龍科技公司總經理  鄭秋豪先生
                            br
                            br
                            h5 < 歡迎到ZEROPLUS孕龍科技官方網站，了解與購買精選商品 >
                            a.t-primary(href='http://www.zeroplus.com.tw/logic-analyzer_tw/products.php?pdn=1&product_id=761' target='_blank') - 孕龍邏輯分析儀 | LAP-C Pro 32256M
                            br
                            br
                            h5 < Brook Livin | WIRECARE 宅電防護員 >
                            a.t-primary(href='https://livin.brookaccessory.com/store') - 7大電商火熱出貨中 -
                            br
                            a.t-primary(href='https://www.amazon.com/dp/B09BQT7SF4?ref=myi_title_dp' target='_blank') - Amazon USA (亞馬遜北美站) – 
                            br
                            br
                            h5 < 歡迎Email聯繫，ZEROPLUS孕龍科技業務團隊 >
                            a.t-primary(href='mailto:Sales@zeroplus.com.tw >' target='_blank') Sales@zeroplus.com.tw >
                            br
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="從嵌入式到家庭式，孕龍科技 實現居家守護計畫 - Brook Livin" data-description="走過24年來，2020-2021年度，是台灣與全球市場，因應新冠肺炎疫情變化最大的時間點。孕龍科技運用多年累積的嵌入式電子產品技術，打造企業與居家專用防災產品「WIRECARE宅電防護員」，實現居家守護計畫。" data-image="https://livin.brookaccessory.com/styles/images/news/tw/media-0/00_META.png")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="從嵌入式到家庭式，孕龍科技 實現居家守護計畫 - Brook Livin" data-description="走過24年來，2020-2021年度，是台灣與全球市場，因應新冠肺炎疫情變化最大的時間點。孕龍科技運用多年累積的嵌入式電子產品技術，打造企業與居家專用防災產品「WIRECARE宅電防護員」，實現居家守護計畫。" data-image="https://livin.brookaccessory.com/styles/images/news/tw/media-0/00_META.png")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="從嵌入式到家庭式，孕龍科技 實現居家守護計畫 - Brook Livin" data-description="走過24年來，2020-2021年度，是台灣與全球市場，因應新冠肺炎疫情變化最大的時間點。孕龍科技運用多年累積的嵌入式電子產品技術，打造企業與居家專用防災產品「WIRECARE宅電防護員」，實現居家守護計畫。" data-image="https://livin.brookaccessory.com/styles/images/news/tw/media-0/00_META.png")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表
                        
                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/media-7-list.jpg','media-7','2021/7/23','提早出貨 x 貼心加碼，贈三色圓點貼紙','支持WIRECARE 宅電防護員的朋友們，久等了！酷熱的暑季，宅小編為大家帶來2個好消息！因最近全台各地進入酷暑階段，居家用電量也直直升')
                        +main-card('','styles/images/media-6-list.png','media-6','2021/5/28','《𝙒𝙄𝙍𝙀𝘾𝘼𝙍𝙀 宅電防護員》募資衝破160萬，產品Q&A大公開！','感謝大家的熱烈支持！讓我們守護用電安全的初心更加堅定！這幾天，陸續有些朋友對產品提出疑問，宅電…')
                        +main-card('','styles/images/media-5-list.png','media-5','2021/5/24','疫情期間客服調整公告','因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…')