//- index.pug
extends ./include/new-layout.pug
block meta
    title 孕龍科技 Brook Livin品牌董事長鄭秋豪先生 獲聘「台灣優良精品廠商協進會」榮譽委員
    meta(name='description' content='孕龍科技公司 Brook Livin品牌董事長鄭秋豪先生獲聘，擔任「台灣優良精品廠商協進會」 (Taiwan Best Manufacturer Committee) 榮譽委員，與協會理事長及協會團隊，共同創造臺灣產品的核心競爭力！')
    meta(property='image' content='https://livin.brookaccessory.com/styles/images/news/tw/media-9/meta.jpg')
    meta(property='og:title' content='孕龍科技 Brook Livin品牌董事長鄭秋豪先生 獲聘「台灣優良精品廠商協進會」榮譽委員')
    meta(property='og:url' content='https://livin.brookaccessory.com/media-9')
    meta(property='og:image' content='https://livin.brookaccessory.com/styles/images/news/tw/media-9/meta.jpg')
    meta(property='og:description' content='孕龍科技公司 Brook Livin品牌董事長鄭秋豪先生獲聘，擔任「台灣優良精品廠商協進會」 (Taiwan Best Manufacturer Committee) 榮譽委員，與協會理事長及協會團隊，共同創造臺灣產品的核心競爭力！')
    meta(property='og:site_name' content='孕龍科技 Brook Livin品牌董事長鄭秋豪先生 獲聘「台灣優良精品廠商協進會」榮譽委員')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 孕龍科技公司Brook Livin品牌董事長鄭秋豪先生獲聘「台灣優良精品廠商協進會」榮譽委員
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#' title='台灣優質產品金牌獎') #台灣優質產品金牌獎
                                a.tag.t-primary.mr-2(href='#' title='台灣優良精品廠商協進會') #台灣優良精品廠商協進會
                                a.tag.t-primary.mr-2(href='#' title='TaiwanBestManufacturerCommittee') #TaiwanBestManufacturerCommittee
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/01/10
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p 恭賀！孕龍科技公司 Brook Livin品牌董事長鄭秋豪先生自2022年起獲聘，擔任「台灣優良精品廠商協進會」 (Taiwan Best Manufacturer Committee) 榮譽委員，與吳理事長及協會團隊，共同創造臺灣產品的核心競爭力！
                            br
                            img.img-fluid(src='../styles/images/news/tw/media-9/content.jpg', alt='圖片')
                            br
                            br
                            p 孕龍科技公司將以全球思維，與協會密切合作，促進會員交換市場佈局經驗；Brook Livin將運用臺灣自有品牌，結合優良產品品質，持續培育人才，優化生產及國內外行銷優勢。
                            p 與協會會員緊密合作，跨產業資訊連結及全球商機交流，結合孕龍科技公司25年來，產官學研的優勢經驗，與企業間交換打造品牌經驗。
                            br
                            br
                            a.t-primary(href="https://pse.is/3rt4qa" target='_blank')
                                h6 ※ 北美電商龍頭亞馬遜【Amazon USA】, WIRECARE 正式開賣! 全球消防我們把關!
                            br
                            a.t-primary(href="https://www.facebook.com/brooklivin" target='_blank')
                                h6 ※ 按讚加入【Brook Livin FB 粉絲專頁】，參加粉絲專屬活動
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="孕龍科技 Brook Livin品牌董事長鄭秋豪先生 獲聘「台灣優良精品廠商協進會」榮譽委員" data-description="孕龍科技公司 Brook Livin品牌董事長鄭秋豪先生獲聘，擔任「台灣優良精品廠商協進會」 (Taiwan Best Manufacturer Committee) 榮譽委員，與協會理事長及協會團隊，共同創造臺灣產品的核心競爭力！" data-image="https://livin.brookaccessory.com/styles/images/news/tw/media-9/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="孕龍科技 Brook Livin品牌董事長鄭秋豪先生 獲聘「台灣優良精品廠商協進會」榮譽委員" data-description="孕龍科技公司 Brook Livin品牌董事長鄭秋豪先生獲聘，擔任「台灣優良精品廠商協進會」 (Taiwan Best Manufacturer Committee) 榮譽委員，與協會理事長及協會團隊，共同創造臺灣產品的核心競爭力！" data-image="https://livin.brookaccessory.com/styles/images/news/tw/media-9/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="孕龍科技 Brook Livin品牌董事長鄭秋豪先生 獲聘「台灣優良精品廠商協進會」榮譽委員" data-description="孕龍科技公司 Brook Livin品牌董事長鄭秋豪先生獲聘，擔任「台灣優良精品廠商協進會」 (Taiwan Best Manufacturer Committee) 榮譽委員，與協會理事長及協會團隊，共同創造臺灣產品的核心競爭力！" data-image="https://livin.brookaccessory.com/styles/images/news/tw/media-9/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/news/tw/media-9/list.jpg','media-9','2022/01/10','孕龍科技 Brook Livin品牌董事長鄭秋豪先生 獲聘「台灣優良精品廠商協進會」榮譽委員','孕龍科技公司 Brook Livin品牌董事長鄭秋豪先生獲聘，擔任「台灣優良精品廠商協進會」 (Taiwan Best Manufacturer Committee) 榮譽委員，與協會理事長及協會團隊，共同創造臺灣產品的核心競爭力！')
                        +main-card('','styles/images/news/tw/media-0/00_lists.png','media-0','2021/10/12','從嵌入式到家庭式，孕龍科技 實現居家守護計畫','走過24年來，2020-2021年度，是台灣與全球市場，因應新冠肺炎疫情變化最大的時間點。孕龍科技運用多…')
                        +main-card('','styles/images/media-5-list.png','media-5','2021/5/24','疫情期間客服調整公告','因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…')
                        +main-card('','styles/images/media-4-list.jpg','media-4','2021/5/12','Brook Livin 成功研發全國第一台「居家用電防災神器」','一週以來，全台高溫直飆 30 度，使民眾居家用電量大增。依據消防署最新火災統計數據，「電氣走火案件…')
