//- index.pug
extends ./include/new-layout.pug
block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 在公司上班，與居家生活，如何正確用電？用電安全？
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#' title='企業用電') #企業用電
                                a.tag.t-primary.mr-2(href='#' title='居家用電') #居家用電
                                a.tag.t-primary.mr-2(href='#' title='用電安全') #用電安全
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/5/10
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p Brook Livin 的品牌核心，在於協助全球的企業與家庭，透過Brook Livin新創產品系列，與不斷進化的研發技術；讓所有消費者，了解#[b 「正確用電，用電安全」]，進而養成正確用電，防止意外發生的價值。
                            br
                            img.img-fluid(src='styles/images/media-1-content.jpg', alt='圖片')
                            br
                            br
                            p 在企業與家用的電子設備中，最常使用的「電燈」，往往成為發生電氣火災的「無形殺手」；常見發生的原因如下：
                            ul
                                li 各種電燈的電源線，已鬆脫外露，但插頭未及時拔除
                                li 未定期由合格電器承裝業者，進行檢測 / 電氣保養 / 更換新品
                                li 電燈的電線，由於穿過桌面與牆面間，造成壓迫
                                li 插頭未完全插入插座，導致鬆脫與接觸不良，易造成電源線短路起火
                                li 未透過專業儀器，或電氣人員，定期檢查與保養企業與家庭的插座
                                li 牆壁內的電線管路，電源線老化、外皮龜裂破損，未立即淘汰更新
                            br
                            br
                            p ※ 部份資料與圖片來源: 財團法人資訊工業策進會 | 內政部消防署
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="在公司上班，與居家生活，如何正確用電？用電安全？ - Brook Livin" data-description="無形的電流，常因企業內與家庭中，各種電器、環境、人為因素，造成電器火災，危及生命健康與財產損壞。" data-image="styles/images/media-1-list.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="在公司上班，與居家生活，如何正確用電？用電安全？ - Brook Livin" data-description="無形的電流，常因企業內與家庭中，各種電器、環境、人為因素，造成電器火災，危及生命健康與財產損壞。" data-image="styles/images/media-1-list.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="在公司上班，與居家生活，如何正確用電？用電安全？ - Brook Livin" data-description="無形的電流，常因企業內與家庭中，各種電器、環境、人為因素，造成電器火災，危及生命健康與財產損壞。" data-image="styles/images/media-1-list.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表
                        
                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/media-4-list.jpg','media-4','2021/5/12','Brook Livin 成功研發全國第一台「居家用電防災神器」','一週以來，全台高溫直飆 30 度，使民眾居家用電量大增。依據消防署最新火災統計數據，「電氣走火案件…')
                        +main-card('','styles/images/media-2-list.jpg','media-2','2021/5/09','冬天在家吃火鍋很溫暖！但「用電超載」可不妙！','民眾當時正在煮火鍋，因為同時使用電磁爐、烤箱等大功率電器產品，導致用電過量，引發電線走火。')
                        +main-card('','styles/images/media-3-list.jpg','media-3','2021/5/08','隨手可及的導電物品，也會讓孩子暴露於觸電風險','家中常出現的勺子、剪刀、甚至筆等導電物品，也會讓孩子暴露於觸電風險…')
                        
