//- index.pug
extends ./include/new-layout.pug
block meta
    title 守護居家用電安全 南投縣政府將啟用宅電防護員協助檢測
    meta(name='description' content='南投縣政府消防局為維護民眾居家安全，特與孕龍科技合作發表「宅電防護員」，透過科學化防災技術，協助民眾檢視居家用電安全，事先找出導致電器引起火災的危險因素。')
    meta(property='image' content='https://brook-livin.com/styles/images/news/tw/media-14/meta.jpg')
    meta(property='og:title' content='守護居家用電安全 南投縣政府將啟用宅電防護員協助檢測')
    meta(property='og:url' content='https://brook-livin.com/media-14')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/tw/media-14/meta.jpg')
    meta(property='og:description' content='南投縣政府消防局為維護民眾居家安全，特與孕龍科技合作發表「宅電防護員」，透過科學化防災技術，協助民眾檢視居家用電安全，事先找出導致電器引起火災的危險因素。')
    meta(property='og:site_name' content='守護居家用電安全 南投縣政府將啟用宅電防護員協助檢測')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 守護居家用電安全 南投縣政府將啟用宅電防護員協助檢測
                        .row
                            .col-12.col-md-9.text-left
                                a.tag.t-primary.mr-2(href='#' title='居家用電安全') #居家用電安全
                                a.tag.t-primary.mr-2(href='#' title='電器火災') #電器火災
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='宅電防護員') #宅電防護員
                            .col-12.col-md-3.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/09/01
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p 有鑑於電器引起的火災，位居國內火災類型第一名，《南投縣政府消防局》於民國111年9月份與《孕龍科技公司》合作，透過居家訪視，使用「WIRECARE宅電防護員 (電阻值測量儀器)」，協助民眾檢視家中用電迴路安全。降低因為電器使用不當，引起火災造成損害風險，守護南投縣民居家生命財產安全。
                            p 消防局表示，根據今年民國111年5月份公布的南投縣消防統計年報，於去年 110 年度，南投地區就發生了將近100起的住家與工廠火災。
                            p 另外根據內政部消防署的統計，全台 2020 年1月到11月居家火災成因，電器引起的火災就超過 2600 件，位居第一。
                            br
                            img.mx-auto(src='../styles/images/news/tw/media-14/content-1.jpg', alt='圖片')
                            p 除了部分民眾對於高耗電電器的使用習慣不良，也跟家中插座、電線老舊導致走火有很大關係。為維護民眾居家安全，特與孕龍科技合作發表「宅電防護員」，透過科學化防災技術，協助民眾檢視居家用電安全，事先找出導致電器引起火災的危險因素，提早改善老舊插座及不當使用之延長線插座，降低電線走火風險。
                            p 消防局也指出，「宅電防護員」係測量插座的電阻值大小，來判斷家中插座及牆壁內線路，是否已老舊危險，透過該檢測器產生綠色 / 橘色 / 紅色等三色燈號，提醒居民是否該維修、更換插座與家中電線管路，以減少電線走火的發生機率。
                            p 未來《南投縣政府消防局》，將透過居家訪視宣導，以實際操作「宅電防護員」及實驗方式，提醒民眾使用家中電器時，務必遵守5不1沒有原則：
                            ul.ml-0.pl-4
                                li 用電不超過負載
                                li 電線不綑綁折損
                                li 插頭不潮濕污損
                                li 電源插座不常插
                                li 電器旁不放物品
                                li 没有安全標章電器勿使用
                            br
                            img.mx-auto(src='../styles/images/news/tw/media-14/content-2.png', alt='圖片')
                            br
                            p 消防局提醒民眾，夏日炎炎，家中用火用電機會增加，火災風險相對提高，因此『多一分防災準備，少一分財產損失』，唯有落實有「防災勝於搶救」的觀念，才能讓各項災害的損失降至最低！
                            p 藉由消防分隊加強科學化之用火用電宣導，讓民眾多學習防火、防災及逃生技能，不斷充實自身防災意識，強化災害應變技能，才能確保生命財產安全。
                            br
                            img.mx-auto(src='../styles/images/news/tw/media-14/content-3.jpg', alt='圖片')
                            br
                            br
                            b 感謝 Brook Livin 品牌 「WIRECARE 宅電防護員」#[br]合作公家單位與消防弟兄  全力支持:#[br]
                            ul.ml-0.pl-4
                                li #[b 南投縣政府]
                                li #[b 南投縣政府《新聞及行政處》]
                                li #[b 南投縣政府消防局]
                                li #[b 南投縣政府消防局《火災預防科》]
                                li #[b 火災預防科科員《簡宏儒先生》]
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="守護居家用電安全 南投縣政府將啟用宅電防護員協助檢測" data-description="南投縣政府消防局為維護民眾居家安全，特與孕龍科技合作發表「宅電防護員」，透過科學化防災技術，協助民眾檢視居家用電安全，事先找出導致電器引起火災的危險因素。" data-image="https://brook-livin.com/styles/images/news/tw/media-14/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="守護居家用電安全 南投縣政府將啟用宅電防護員協助檢測" data-description="南投縣政府消防局為維護民眾居家安全，特與孕龍科技合作發表「宅電防護員」，透過科學化防災技術，協助民眾檢視居家用電安全，事先找出導致電器引起火災的危險因素。" data-image="https://brook-livin.com/styles/images/news/tw/media-14/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="守護居家用電安全 南投縣政府將啟用宅電防護員協助檢測" data-description="南投縣政府消防局為維護民眾居家安全，特與孕龍科技合作發表「宅電防護員」，透過科學化防災技術，協助民眾檢視居家用電安全，事先找出導致電器引起火災的危險因素。" data-image="https://brook-livin.com/styles/images/news/tw/media-14/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/news/tw/media-9/list.jpg','media-9','2022/01/10','守護居家用電安全 南投縣政府將啟用宅電防護員協助檢測','南投縣政府消防局為維護民眾居家安全，特與孕龍科技合作發表「宅電防護員」，透過科學化防災技術，協助民眾檢視居家用電安全，事先找出導致電器引起火災的危險因素。')
                        +main-card('','styles/images/news/tw/media-0/00_lists.png','media-0','2021/10/12','從嵌入式到家庭式，孕龍科技 實現居家守護計畫','走過24年來，2020-2021年度，是台灣與全球市場，因應新冠肺炎疫情變化最大的時間點。孕龍科技運用多…')
                        +main-card('','styles/images/media-5-list.png','media-5','2021/5/24','疫情期間客服調整公告','因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…')
                        +main-card('','styles/images/media-4-list.jpg','media-4','2021/5/12','Brook Livin 成功研發全國第一台「居家用電防災神器」','一週以來，全台高溫直飆 30 度，使民眾居家用電量大增。依據消防署最新火災統計數據，「電氣走火案件…')
