//- index.pug
extends ./include/new-layout.pug
block meta
    title 2022年華人創業家大獎 孕龍科技Brook Livin獲台灣優質產品金牌獎
    meta(name='description' content='2022《華人創業家大獎》頒獎典禮圓滿落幕，Brook Livin 孕龍科技公司榮獲台灣優質產品金牌獎！')
    meta(property='image' content='https://brook-livin/styles/images/news/tw/media-10/meta.jpg')
    meta(property='og:title' content='2022年華人創業家大獎 孕龍科技Brook Livin獲台灣優質產品金牌獎')
    meta(property='og:url' content='https://brook-livin/media-10')
    meta(property='og:image' content='https://brook-livin/styles/images/news/tw/media-10/meta.jpg')
    meta(property='og:description' content='2022《華人創業家大獎》頒獎典禮圓滿落幕，Brook Livin 孕龍科技公司榮獲台灣優質產品金牌獎！')
    meta(property='og:site_name' content='2022年華人創業家大獎 孕龍科技Brook Livin獲台灣優質產品金牌獎')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 2022年度華人創業家大獎結果出爐！ Brook Livin 孕龍科技股份有限公司 斬獲台灣優質產品金牌獎
                        .row
                            .col-12.col-md-9.text-left
                                a.tag.t-primary.mr-2(href='#' title='華人創業家大獎') #華人創業家大獎
                                a.tag.t-primary.mr-2(href='#' title='台灣優質產品金牌獎') #台灣優質產品金牌獎
                                a.tag.t-primary.mr-2(href='#' title='孕龍科技') #孕龍科技
                                a.tag.t-primary.mr-2(href='#' title='BrookLivin') #BrookLivin
                                a.tag.t-primary.mr-2(href='#' title='宅電防護員') #宅電防護員
                            .col-12.col-md-3.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/02/21
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-11/content.jpg', alt='圖片' style='max-width: 800px;')
                            br
                            b 【大成報記者 杜忠聰 / 綜合報導】
                            p 2022 年度《華人創業家大獎》頒獎典禮，假台北花園大酒店國際廳舉辦，現場冠蓋雲集。
                            p 在後疫情時代，仍能夠讓公司穩定成長，順利勝出的廠商，更是台灣社會的指標企業。
                            p 「建立產業發展基石，創造高品質、高附加價值之產業創新能量，並整合資源，加速產業知識化，提升國際優質競爭力！」是企業成功的不二法則。國內產業發展趨勢已朝向商品精緻化、分工專業化、經營創新化與國際化之模式。
                            p 《華人創業家大獎》以「前瞻、創新、國際化」三大主軸，作為產、官、學、研間相互支援的平台，引進各界能量與鏈結資源，為政府提供政策建議，並為業者提供全面解決方案。
                            br
                            p 感謝以下產官學研先進，給予【Brook Livin 孕龍科技公司】肯定與指導！
                            p #大成報#[br]#台灣優良精品大獎#[br]#TaiwanBest#[br]#華人創業家大獎#[br]#台灣優良精品廠商協進會#[br]#卓越雜誌#[br]#台北市企業經營管理顧問從業人員職業工會#[br]#台灣線上數位學習協進會
                            br
                            br
                            h6.t-primary ※ 2022華人創業家大獎 【大成報】報導#[br]《孕龍科技股份有限公司》斬獲台灣優質產品金牌獎！
                            a(href="http://www.greatnews.com.tw/home/news_pagein.php?iType=1010&n_id=255441" target='_blank') - http://www.greatnews.com.tw/home/news_pagein.php?iType=1010&n_id=255441#[br]
                            br
                            h6.t-primary ※ 2022華人創業家大獎出爐 【經濟日報】報導
                            a(href="https://money.udn.com/money/story/5635/6107946?from=edn_newestlist_cate_side" target='_blank') - https://money.udn.com/money/story/5635/6107946?from=edn_newestlist_cate_side#[br]
                            br
                            h6.t-primary ※ 挺過艱險疫情！2022年度華人創業家大獎30家企業獲獎！【新唐人】影音報導
                            a(href="https://www.ntdtv.com.tw/b5/20220218/video/319500.html" target='_blank') - https://www.ntdtv.com.tw/b5/20220218/video/319500.html#[br]
                            br
                            h6.t-primary ※ 2022華人創業家大獎 【勁報】報導
                            a(href="http://www.twpowernews.com/home/news_pagein.php?iType=1010&n_id=223345" target='_blank') - http://www.twpowernews.com/home/news_pagein.php?iType=1010&n_id=223345#[br]
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="2022年華人創業家大獎 孕龍科技Brook Livin獲台灣優質產品金牌獎" data-description="2022《華人創業家大獎》頒獎典禮圓滿落幕，Brook Livin 孕龍科技公司榮獲台灣優質產品金牌獎！" data-image="https://brook-livin/styles/images/news/tw/media-10/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="2022年華人創業家大獎 孕龍科技Brook Livin獲台灣優質產品金牌獎" data-description="2022《華人創業家大獎》頒獎典禮圓滿落幕，Brook Livin 孕龍科技公司榮獲台灣優質產品金牌獎！" data-image="https://brook-livin/styles/images/news/tw/media-10/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="2022年華人創業家大獎 孕龍科技Brook Livin獲台灣優質產品金牌獎" data-description="2022《華人創業家大獎》頒獎典禮圓滿落幕，Brook Livin 孕龍科技公司榮獲台灣優質產品金牌獎！" data-image="https://brook-livin/styles/images/news/tw/media-10/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/news/tw/media-9/list.jpg','media-9','2022/01/10','2022年華人創業家大獎 孕龍科技Brook Livin獲台灣優質產品金牌獎','2022《華人創業家大獎》頒獎典禮圓滿落幕，Brook Livin 孕龍科技公司榮獲台灣優質產品金牌獎！')
                        +main-card('','styles/images/news/tw/media-0/00_lists.png','media-0','2021/10/12','從嵌入式到家庭式，孕龍科技 實現居家守護計畫','走過24年來，2020-2021年度，是台灣與全球市場，因應新冠肺炎疫情變化最大的時間點。孕龍科技運用多…')
                        +main-card('','styles/images/media-5-list.png','media-5','2021/5/24','疫情期間客服調整公告','因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…')
                        +main-card('','styles/images/media-4-list.jpg','media-4','2021/5/12','Brook Livin 成功研發全國第一台「居家用電防災神器」','一週以來，全台高溫直飆 30 度，使民眾居家用電量大增。依據消防署最新火災統計數據，「電氣走火案件…')
