//- index.pug
extends ./include/new-layout.pug
block meta
    title 孕龍科技持續創新電玩周邊與智慧家庭，協同政府逐步投入「淨零轉型」，邁向永續台灣！
    meta(name='description' content='孕龍科技公司榮獲雙料大獎的殊榮，受邀至中華民國總統府，接受總統覲見與企業會談；孕龍科技也將整合跨部門量能，逐步投入「淨零轉型」於產品的研發流程，與政府組織和企業夥伴共同邁向永續台灣。')
    meta(property='image' content='https://brook-livin.com/styles/images/news/tw/media-21/meta.jpg')
    meta(property='og:title' content='孕龍科技持續創新電玩周邊與智慧家庭，協同政府逐步投入「淨零轉型」，邁向永續台灣！')
    meta(property='og:url' content='https://brook-livin.com/media-21')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/tw/media-21/meta.jpg')
    meta(property='og:description' content='孕龍科技公司榮獲雙料大獎的殊榮，受邀至中華民國總統府，接受總統覲見與企業會談；孕龍科技也將整合跨部門量能，逐步投入「淨零轉型」於產品的研發流程，與政府組織和企業夥伴共同邁向永續台灣。')
    meta(property='og:site_name' content='孕龍科技持續創新電玩周邊與智慧家庭，協同政府逐步投入「淨零轉型」，邁向永續台灣！')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 孕龍科技持續創新電玩周邊與智慧家庭，協同政府逐步投入「淨零轉型」，邁向永續台灣！
                        .row
                            .col-12.col-md-9.text-left
                                a.tag.t-primary.mr-2(href='#' title='BrookLivin') #BrookLivin
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='孕龍科技') #孕龍科技
                                a.tag.t-primary.mr-2(href='#' title='國家品牌玉山獎') #國家品牌玉山獎
                                a.tag.t-primary.mr-2(href='#' title='雙料大獎') #雙料大獎
                            .col-12.col-md-3.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2023/3/16
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-21/content-1.jpg', alt='圖片' style='max-width: 600px;')
                            br
                            br
                            p 孕龍科技公司自1997年成立以來，深耕全球消費性電子市場，打造電視遊樂器與電玩遊戲周邊品牌「Brook Gaming」，智慧家庭與防災儀器品牌「Brook Livin」，寵物健康照護品牌「Brook Zoo」，孕龍邏輯分析儀品牌「Zeroplus Logic Analyzer」，以及創新儲能品牌「RSLA」，攜手國內外經銷通路商行銷雙贏！
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-21/content-2.jpg', alt='圖片' style='max-width: 300px;')
                            br
                            br
                            p 在國際間新冠疫情壟罩下，孕龍科技公司旗下子品牌，全球逐年整體營收仍能逆勢上升，更在近年來獲得國內外品牌行銷，與產品研發的各項大獎肯定，包含指標性鼓勵企業研發創新的國家品牌玉山獎「全國首獎」及「最佳產品獎」；
                            p 2023-2024 年度孕龍科技公司榮獲雙料大獎的殊榮，更受邀至中華民國總統府，接受總統覲見與企業會談；孕龍科技公司也將整合跨部門量能，逐步投入「淨零轉型」於產品的研發流程，與政府組織和企業夥伴共同邁向永續台灣。
                            br
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-21/content-3.jpg', alt='圖片')
                            br
                            br
                            p 此外，經營孕龍科技各項子品牌，除了享有國際知名度曝光的優勢，也必須面對各種社群傳播管道的按讚肯定與客訴處理；孕龍科技已將各種消費者意見，轉成為優化產品的正能量，不斷傾聽、調整、測試、改良，堅守孕龍商品最佳品質。
                            br
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-21/content-4.jpg', alt='圖片')
                            br
                            br
                            p 身處在競爭激烈的全球消費性電子產業，孕龍科技公司不斷開發國際藍海市場，近幾年積極布局疫後新常態電子商品，除了已在元宇宙遊戲領域佈署專利技術，並將產品研發和國際行銷資源，挹注在智慧家庭新品牌Brook Livin與新商品，例如從鎖定一般家庭消費者的第一代WIRECARE「宅電防護員」，進化到主攻美國、日本、台灣三地的電力修繕利基市場。
                            p 未來 Zeroplus Technology 孕龍科技公司及其創新品牌，將持續多角化經營，囊括電玩遊戲周邊、智慧家庭、寵物管家、環保儲能及電子研發等國際市場，創造穩健營收，培育領袖人才。
                            br
                            br
                            b ※	感謝「中華民國總統府」，提供予本新聞稿照片
                            br
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="孕龍科技持續創新電玩周邊與智慧家庭，協同政府逐步投入「淨零轉型」，邁向永續台灣！" data-description="孕龍科技公司榮獲雙料大獎的殊榮，受邀至中華民國總統府，接受總統覲見與企業會談；孕龍科技也將整合跨部門量能，逐步投入「淨零轉型」於產品的研發流程，與政府組織和企業夥伴共同邁向永續台灣。" data-image="https://brook-livin.com/styles/images/news/tw/media-21/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="孕龍科技持續創新電玩周邊與智慧家庭，協同政府逐步投入「淨零轉型」，邁向永續台灣！" data-description="孕龍科技公司榮獲雙料大獎的殊榮，受邀至中華民國總統府，接受總統覲見與企業會談；孕龍科技也將整合跨部門量能，逐步投入「淨零轉型」於產品的研發流程，與政府組織和企業夥伴共同邁向永續台灣。" data-image="https://brook-livin.com/styles/images/news/tw/media-21/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="孕龍科技持續創新電玩周邊與智慧家庭，協同政府逐步投入「淨零轉型」，邁向永續台灣！" data-description="孕龍科技公司榮獲雙料大獎的殊榮，受邀至中華民國總統府，接受總統覲見與企業會談；孕龍科技也將整合跨部門量能，逐步投入「淨零轉型」於產品的研發流程，與政府組織和企業夥伴共同邁向永續台灣。" data-image="https://brook-livin.com/styles/images/news/tw/media-21/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/news/tw/media-20/list.jpg','media-20','2022/11/24','「新加坡亞太傑出企業獎」表彰孕龍科技公司旗下 Brook Livin為年度優異品牌！','由亞洲企業商會舉辦的「2022亞太傑出企業獎(APEA)」，孕龍科技公司榮獲「優異勵志品牌獎」殊榮。')
                        +main-card('','styles/images/news/tw/media-19/list.jpg','media-19','2022/10/28','看見台灣的驕傲！孕龍科技公司Brook Livin勇奪國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎！','孕龍科技公司以WIRECARE宅電防護員勇奪第19屆國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎。')
                        +main-card('','styles/images/news/tw/media-18/list.jpg','media-18','2022/10/19','「WIRECARE宅電防護員」 10秒檢測用電安全！','有「居家用電檢查神器」美名之稱的「WIRECARE宅電防護員」，以簡單且有效的檢查方式，預防老屋牆壁內的電線與家中插座，因年久失修可能增加的電線走火風險。')