//- index.pug
extends ./include/new-layout.pug
block meta
    title 品牌+代工雙引擎！孕龍科技擁抱宅經濟商機！
    meta(name='description' content='財經媒體《今周刊》獨家專訪報導；孕龍科技屢獲大獎肯定，攜手通路商行銷雙贏。')
    meta(property='image' content='https://brook-livin.com/styles/images/news/tw/media-17/meta.jpg')
    meta(property='og:title' content='品牌+代工雙引擎！孕龍科技擁抱宅經濟商機！')
    meta(property='og:url' content='https://brook-livin.com/media-17')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/tw/media-17/meta.jpg')
    meta(property='og:description' content='財經媒體《今周刊》獨家專訪報導；孕龍科技屢獲大獎肯定，攜手通路商行銷雙贏。')
    meta(property='og:site_name' content='品牌+代工雙引擎！孕龍科技擁抱宅經濟商機！')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 品牌+代工雙引擎！孕龍科技擁抱宅經濟商機！
                        .row
                            .col-12.col-md-9.text-left
                                a.tag.t-primary.mr-2(href='#' title='Brook') #Brook
                                a.tag.t-primary.mr-2(href='#' title='孕龍科技') #孕龍科技
                                a.tag.t-primary.mr-2(href='#' title='鄧白氏中小企業菁英獎') #鄧白氏中小企業菁英獎
                                a.tag.t-primary.mr-2(href='#' title='國家品牌玉山獎') #國家品牌玉山獎
                            .col-12.col-md-3.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/10/05
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p 財經媒體《今周刊》編輯樊語婕小姐／孕龍科技公司獨家專訪報導
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-17/content-1.jpg', alt='圖片' style='max-width: 600px;')
                                p.mt-2.mb-0 圖／孕龍科技國際銷售團隊
                            br
                            br
                            p 新冠肺炎疫情肆虐全球已進入第三個年頭，為人類帶來新常態生活模式，減少群聚、外出的防疫準則帶動宅經濟商機。孕龍科技十年磨一劍，深耕電視遊樂器與電競遊戲周邊商品品牌「Brook Gaming」，攜手通路商行銷雙贏，去(2021)年度整體營收逆勢大增700萬美金(近2.2億新台幣)，較前(2020)年成長逾三成，更在今年獲得「鄧白氏中小企業菁英獎MVP」肯定！
                            p 孕龍科技於1997年創立，初期聚焦於電玩遊戲週邊產品設計，並在2004年擴展事業版圖至電子量測儀器市場，開發出最新專利技術之量測儀器－#[span.t-primary 「PC-Based 孕龍邏輯分析儀」，研發團隊擁有新進微處理控制技術，獨家創新技術獲得多國多項專利技術。]孕龍科技從十年前開始發展自有品牌Brook與眾多子品牌，兼營「生活娛樂」與「企業用戶」兩大主力市場，擁有品牌代工雙引擎成長動能。
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-17/content-2.jpg', alt='圖片' style='max-width: 300px;')
                                p.mt-2.mb-0 圖／孕龍科技總經理鄭秋豪與研發團隊
                            br
                            br
                            b 傾聽消費者意見 攜手通路商雙贏#[br]
                            p 今年孕龍科技屢獲大獎肯定，#[span.t-primary 孕龍科技品牌公關高仲廷分享，除了台灣優良精品的肯定外、享有「居家用電檢查神器」美名的產品WIRECARE「宅電防護員」勇奪國家品牌玉山獎最佳產品獎，孕龍科技更連續兩年獲得鄧白氏中小企業菁英獎殊榮。]在獲獎的背後，有著洞察消費者需求、傾聽意見優化產品、攜手通路商行銷雙贏。
                            p 以洞察消費者需求為例，孕龍科技是全球第一個貼心推出遊戲周邊商品轉接器的廠商，#[span.t-primary 讓玩家可以輕鬆轉接電競手把，優游在PS與XBOX各系列主機。]孕龍科技並且善用客製IC的強大專業力，強化產品功能，#[span.t-primary 提升虛擬世界的極致體驗，例如提供全球玩家，沉浸於超擬真格鬥遊戲。]
                            p 孕龍科技將通路商視為經營夥伴，#[span.t-primary 攜手日本樂天市場、Yahoo等電商以及日本秋葉原實體3C通路等通路商，]共同品牌行銷，串聯通路品牌與自家Brook品牌，達到相輔相成的雙贏局面。此外，#[span.t-primary 經營品牌享有知名度的優勢，也必須面對社群經營的即時回覆與客訴處理，]孕龍科技將各種消費者意見化為優化產品的正能量，不斷傾聽、調整、測試、改良，堅守最佳品質。
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-17/content-3.jpg', alt='圖片')
                                p.mt-2.mb-0 圖／Brook Gaming 品牌2022年度全球熱賣商品
                            br
                            br
                            b 超前部署 求新求變 多元布局藍海#[br]
                            p 對於大多數企業來說，疫情帶來的衝擊極大，而在去(2021)年度全球疫情最嚴峻的時刻，有賴於長期的夥伴互惠關係，孕龍科技提前獲得來自日本與韓國兩大主要市場的重要商情，不僅提前備貨，就連原物料都超前備妥，因此，當宅經濟爆發，合作的經銷商、通路商針對遊戲周邊商品持續大量下單，孕龍科技順勢締造2021年亮眼佳績。
                            p 身處在競爭激烈的消費性電子產業，孕龍科技不斷開發藍海市場，近幾年開始布局疫後新常態相關商品，除了已在元宇宙遊戲領域佈署專利技術，#[span.t-primary 並於今(2022)年將產品研發和國際行銷資源挹注在智慧家庭新品牌Brook Livin與新商品，例如從鎖定一般消費者的第一代WIRECARE「宅電防護員」進化到主攻美國、日本、台灣三地的電力修繕師傅；今年8月正式成立WISCHA 品牌，專攻上班族女性居家快速全身肌膚保養；Brook Zoo 品牌則主打寵物居家健康管理，透過商品整合App，預警寵物慢性疾病，守護毛孩的健康。]未來孕龍科技將多元朝向電玩遊戲周邊、智慧家庭、肌膚保養及寵物管家等市場邁進。
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-17/content-4.jpg', alt='圖片')
                                p.mt-2.mb-0 圖／2022年度國家品牌玉山獎-最佳產品獎：WIRECARE 宅電防護員
                            br
                            br
                            p 孕龍科技去年與今年連續兩年獲得鄧白氏中小企業菁英獎殊榮，除了優異的營收表現，品牌堅持求新求變也是一大助攻要素，#[span.t-primary 高仲廷感性地分享，今年透過「鄧白氏中小企業菁英獎MVP」的肯定，讓孕龍科技的團隊更有信心，也驅動更多的自我期許，希望自家產品的功能、品質永遠超越消費者期待，堅守高水準表現！]
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="品牌+代工雙引擎！孕龍科技擁抱宅經濟商機！" data-description="財經媒體《今周刊》獨家專訪報導；孕龍科技屢獲大獎肯定，攜手通路商行銷雙贏。" data-image="https://brook-livin.com/styles/images/news/tw/media-17/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="品牌+代工雙引擎！孕龍科技擁抱宅經濟商機！" data-description="財經媒體《今周刊》獨家專訪報導；孕龍科技屢獲大獎肯定，攜手通路商行銷雙贏。" data-image="https://brook-livin.com/styles/images/news/tw/media-17/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="品牌+代工雙引擎！孕龍科技擁抱宅經濟商機！" data-description="財經媒體《今周刊》獨家專訪報導；孕龍科技屢獲大獎肯定，攜手通路商行銷雙贏。" data-image="https://brook-livin.com/styles/images/news/tw/media-17/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/news/tw/media-15/list.jpg','media-15','2022/09/29','防災新法寶「宅電防護員」 電氣安全維護好 居家安全住到老','平時消防人員居家訪視時向民眾宣導老舊電氣設備應汰換，民眾非自身經歷，所以反應平平無感，這次由第二大隊防火宣導教官團使用「宅電防護員」實際測試讓民眾了解。')
                        +main-card('','styles/images/news/tw/media-0/00_lists.jpg','media-0','2021/10/12','從嵌入式到家庭式，孕龍科技 實現居家守護計畫','走過24年來，2020-2021年度，是台灣與全球市場，因應新冠肺炎疫情變化最大的時間點。孕龍科技運用多…')
                        +main-card('','styles/images/media-5-list.jpg','media-5','2021/5/24','疫情期間客服調整公告','因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…')
                        +main-card('','styles/images/media-4-list.jpg','media-4','2021/5/12','Brook Livin 成功研發全國第一台「居家用電防災神器」','一週以來，全台高溫直飆 30 度，使民眾居家用電量大增。依據消防署最新火災統計數據，「電氣走火案件…')
