//- index.pug
extends ./include/new-layout.pug
block meta
    title 疫情期間客服調整公告 - Brook Livin
    meta(name='description' content='因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…')
    meta(property='image' content='https://livin.brookaccessory.com/styles/images/media-5-list.png')
    meta(property='og:title' content='疫情期間客服調整公告 - Brook Livin')
    meta(property='og:url' content='https://livin.brookaccessory.com/media-5')
    meta(property='og:image' content='https://livin.brookaccessory.com/styles/images/media-5-list.png')
    meta(property='og:description' content='因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…')
    meta(property='og:site_name' content='疫情期間客服調整公告 - Brook Livin')
    
block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 疫情期間客服調整公告
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#' title='Brook Livin') #Brook Livin
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='居家用電') #居家用電
                                a.tag.t-primary.mr-2(href='#' title='防災神器') #防災神器
                                a.tag.t-primary.mr-2(href='#' title='防疫') #防疫
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/5/24
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            h4 因疫情升溫，企業啟動分流上班，疫情期間提供以下客服管道:
                            br
                            ul
                                li FB訊息： #[a(href='https://www.facebook.com/brooklivin' target='_blank') https://www.facebook.com/brooklivin]
                                li LINE客服： #[a(href='https://page.line.me/589umhkq?openQrModal=true' target='_blank') https://page.line.me/589umhkq?openQrModal=true]
                                li 客服表單： #[a(href='https://livin.brookaccessory.com/contact-us' target='_blank') https://livin.brookaccessory.com/contact-us]
                                li 維修保固服務申請： #[a(href='https://livin.brookaccessory.com/rma' target='_blank') https://livin.brookaccessory.com/rma]
                                li 服務時間：週一至週五 09:00~18:00
                            br
                            p 感謝各位顧客的配合，防疫期間若有不便之處敬請見諒!#[br]客服人員將會儘速回覆您的疑問~

                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="疫情期間客服調整公告" data-description="因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…" data-image="https://livin.brookaccessory.com/styles/images/media-5-list.png")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="疫情期間客服調整公告" data-description="因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…" data-image="https://livin.brookaccessory.com/styles/images/media-5-list.png")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="疫情期間客服調整公告" data-description="因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…" data-image="https://livin.brookaccessory.com/styles/images/media-5-list.png")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表
                        
                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/media-1-list.jpg','media-1','2021/5/10','在公司上班，與居家生活，如何正確用電？用電安全？','無形的電流，常因企業內與家庭中，各種電器、環境、人為因素，造成電器火災，危及生命健康與財產損壞。')
                        +main-card('','styles/images/media-2-list.jpg','media-2','2021/5/09','冬天在家吃火鍋很溫暖！但「用電超載」可不妙！','民眾當時正在煮火鍋，因為同時使用電磁爐、烤箱等大功率電器產品，導致用電過量，引發電線走火。')
                        +main-card('','styles/images/media-3-list.jpg','media-3','2021/5/08','隨手可及的導電物品，也會讓孩子暴露於觸電風險','家中常出現的勺子、剪刀、甚至筆等導電物品，也會讓孩子暴露於觸電風險…')
