//- index.pug
extends ./include/new-layout.pug
block meta
    title 防災新法寶「宅電防護員」 電氣安全維護好 居家安全住到老
    meta(name='description' content='平時消防人員居家訪視時向民眾宣導老舊電氣設備應汰換，民眾非自身經歷，所以反應平平無感，這次由第二大隊防火宣導教官團使用「宅電防護員」實際測試讓民眾了解。')
    meta(property='image' content='https://brook-livin.com/styles/images/news/tw/media-15/meta.jpg')
    meta(property='og:title' content='防災新法寶「宅電防護員」 電氣安全維護好 居家安全住到老')
    meta(property='og:url' content='https://brook-livin.com/media-15')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/tw/media-15/meta.jpg')
    meta(property='og:description' content='平時消防人員居家訪視時向民眾宣導老舊電氣設備應汰換，民眾非自身經歷，所以反應平平無感，這次由第二大隊防火宣導教官團使用「宅電防護員」實際測試讓民眾了解。')
    meta(property='og:site_name' content='防災新法寶「宅電防護員」 電氣安全維護好 居家安全住到老')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 防災新法寶「宅電防護員」 電氣安全維護好 居家安全住到老
                        .row
                            .col-12.col-md-9.text-left
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='高雄市政府消防局') #高雄市政府消防局
                                a.tag.t-primary.mr-2(href='#' title='電氣火災') #電氣火災
                                a.tag.t-primary.mr-2(href='#' title='老舊延長線') #老舊延長線
                                a.tag.t-primary.mr-2(href='#' title='插座外露') #插座外露
                            .col-12.col-md-3.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/09/29
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.mx-auto(src='../styles/images/news/tw/media-15/content-1.png', alt='圖片')
                            br
                            br
                            p #[b 「電」是現今不可或缺的能源，只要使用電氣設備，就會存在有電的危害；所以如何辨識及預防電氣災害，是大家必須了解並遵守，才能達到防災目的。]
                            p 平時消防人員居家訪視時，向民眾宣導老舊電氣設備應汰換，民眾非自身經歷，所以反應平平無感，這次由第二大隊防火宣導教官團，使用「宅電防護員」實際測試讓民眾了解。
                            br
                            img.mx-auto(src='../styles/images/news/tw/media-15/content-2.png', alt='圖片')
                            br
                            br
                            p #[b 現場透過「WIRECARE 宅電防護員」，立即檢測出多個問題插座及延長線，]以下為民眾錯誤使用，及無視毀損而繼續使用電氣，造成的潛在危害案例：
                            ul.ml-0.pl-4
                                li #[b 使用老舊延長線、多個插座]
                                li #[b 使用便宜無安全開關，且無認證的延長線]
                                li #[b 插座插拔錯誤導致鬆動，造成插頭污損]
                                li #[b 插座已燒融但仍繼續使用]
                                li #[b 居住20年以上，住宅室內配線未更新]
                                li #[b 插座外露]
                            br
                            p 所幸透過「WIRECARE 宅電防護員」檢測，在未造成災害前及時發現，否則後果不堪設想！高雄市政府消防局第二大隊宣導教官，提醒民眾，住警器安裝雖然重要，可以提醒火災發生，爭取逃生的時間，但無法做到防範火災。
                            p 防範火災的重點並非災時的應變，而是在事前的預防。#[b 防範於未然，平時應定時檢視電器電線，且應定期汰換老舊電器電線；環境安全，從小地方做起，電氣安全維護好，居家安全住到老。]
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="防災新法寶「宅電防護員」 電氣安全維護好 居家安全住到老" data-description="平時消防人員居家訪視時向民眾宣導老舊電氣設備應汰換，民眾非自身經歷，所以反應平平無感，這次由第二大隊防火宣導教官團使用「宅電防護員」實際測試讓民眾了解。" data-image="https://brook-livin.com/styles/images/news/tw/media-15/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="防災新法寶「宅電防護員」 電氣安全維護好 居家安全住到老" data-description="平時消防人員居家訪視時向民眾宣導老舊電氣設備應汰換，民眾非自身經歷，所以反應平平無感，這次由第二大隊防火宣導教官團使用「宅電防護員」實際測試讓民眾了解。" data-image="https://brook-livin.com/styles/images/news/tw/media-15/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="防災新法寶「宅電防護員」 電氣安全維護好 居家安全住到老" data-description="平時消防人員居家訪視時向民眾宣導老舊電氣設備應汰換，民眾非自身經歷，所以反應平平無感，這次由第二大隊防火宣導教官團使用「宅電防護員」實際測試讓民眾了解。" data-image="https://brook-livin.com/styles/images/news/tw/media-15/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/news/tw/media-16/list.jpg','media-16','2022/09/30','WIRECARE 宅電防護員 榮獲第19屆國家品牌玉山獎 「最佳產品獎」！','孕龍科技公司旗下品牌《Brook Livin》產品「WIRECARE宅電防護員」在500多家國內績優企業中脫穎而出，獲第19屆國家品牌玉山獎 「最佳產品獎」。')
                        +main-card('','styles/images/news/tw/media-0/00_lists.png','media-0','2021/10/12','從嵌入式到家庭式，孕龍科技 實現居家守護計畫','走過24年來，2020-2021年度，是台灣與全球市場，因應新冠肺炎疫情變化最大的時間點。孕龍科技運用多…')
                        +main-card('','styles/images/media-5-list.png','media-5','2021/5/24','疫情期間客服調整公告','因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…')
                        +main-card('','styles/images/media-4-list.jpg','media-4','2021/5/12','Brook Livin 成功研發全國第一台「居家用電防災神器」','一週以來，全台高溫直飆 30 度，使民眾居家用電量大增。依據消防署最新火災統計數據，「電氣走火案件…')
