//- index.pug
extends ./include/new-layout.pug
block meta
    title 「WIRECARE宅電防護員」 10秒檢測用電安全！
    meta(name='description' content='有「居家用電檢查神器」美名之稱的「WIRECARE宅電防護員」，以簡單且有效的檢查方式，預防老屋牆壁內的電線與家中插座，因年久失修可能增加的電線走火風險。')
    meta(property='image' content='https://brook-livin.com/styles/images/news/tw/media-18/meta.jpg')
    meta(property='og:title' content='「WIRECARE宅電防護員」 10秒檢測用電安全！')
    meta(property='og:url' content='https://brook-livin.com/media-18')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/tw/media-18/meta.jpg')
    meta(property='og:description' content='有「居家用電檢查神器」美名之稱的「WIRECARE宅電防護員」，以簡單且有效的檢查方式，預防老屋牆壁內的電線與家中插座，因年久失修可能增加的電線走火風險。')
    meta(property='og:site_name' content='「WIRECARE宅電防護員」 10秒檢測用電安全！')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 防災新法寶「WIRECARE宅電防護員」 10秒檢測用電安全！
                        .row
                            .col-12.col-md-9.text-left
                                a.tag.t-primary.mr-2(href='#' title='BrookLivin') #BrookLivin
                                a.tag.t-primary.mr-2(href='#' title='防災新法寶') #防災新法寶
                                a.tag.t-primary.mr-2(href='#' title='居家用電檢查神器') #居家用電檢查神器
                                a.tag.t-primary.mr-2(href='#' title='預防電線走火') #預防電線走火
                            .col-12.col-md-3.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/10/19
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-18/content-1.jpg', alt='圖片' style='max-width: 600px;')
                                p.mt-2.mb-0 圖／南投消防局推廣宅電防護員至老舊住宅檢測用電安全
                            br
                            br
                            p 電氣安全維護好，居家安全住到老！有鑑於電器引起的火災，位居國內火災類型第一名，孕龍科技公司的智慧家庭新品牌「Brook Livin」，專注居家用電安全趨勢，有鑑於台灣/日本/美國等國家，30年以上的老宅比例逐漸增加，研發設計出#[span.t-primary 有「居家用電檢查神器」美名之稱的「WIRECARE宅電防護員」，以簡單且有效的檢查方式，預防老屋牆壁內的電線與家中插座，因年久失修可能增加的電線走火風險。]
                            p 「WIRECARE宅電防護員」的誕生，也是因應現代人在家中使用的電器項目越來越多，卻忽略高耗能電器若使用在狀態不良的插座與電線，將有很高的機會因為用電過量，讓使用中的電線/插座/電器產生高電阻累積，並且轉換為過高熱能，最終引發住宅失火的憾事。
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-18/content-2.jpg', alt='圖片' style='max-width: 300px;')
                                p.mt-2.mb-0 圖／高耗電電器是潛藏電線走火因素
                            br
                            br
                            p 今年9月份，南投縣政府消防局與孕龍科技公司攜手合作，雙方團隊特別攜帶「WIRECARE宅電防護員」，透過居家訪視，協助民眾檢視家中用電迴路安全，降低電器使用不當，引起火災造成損害風險；長遠守護南投縣民，居家生命財產安全。
                            p 台灣南部地區以高雄市為例，平均屋齡近32年，其中40年以上老屋佔比將近3成，其中室內電氣配線插座未定期汰換，長期使用可能有引發電氣火災疑慮。#[span.t-primary 「電」是現今不可或缺的能源，只要使用電氣設備，就會存在有電的危害；所以如何辨識及預防電氣災害，是大家必須了解並遵守，才能達到防災目的。]
                            p #[span.t-primary 台灣設計製造的防災新法寶「WIRECARE宅電防護員」不僅榮獲2022年度國家品牌玉山獎《最佳產品獎》，孕龍科技公司更連續兩年獲得鄧白氏中小企業MVP菁英獎殊榮。]在獲獎的背後，為洞察消費者需求、傾聽意見優化產品、攜手國際通路商行銷雙贏。#[span.t-primary WIRECARE「宅電防護員」，明年更將進化至第二代，新增更多專業功能與檢測數據，主攻美國、日本、台灣三地的電力修繕師傅。]
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="「WIRECARE宅電防護員」 10秒檢測用電安全！" data-description="有「居家用電檢查神器」美名之稱的「WIRECARE宅電防護員」，以簡單且有效的檢查方式，預防老屋牆壁內的電線與家中插座，因年久失修可能增加的電線走火風險。" data-image="https://brook-livin.com/styles/images/news/tw/media-18/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="「WIRECARE宅電防護員」 10秒檢測用電安全！" data-description="有「居家用電檢查神器」美名之稱的「WIRECARE宅電防護員」，以簡單且有效的檢查方式，預防老屋牆壁內的電線與家中插座，因年久失修可能增加的電線走火風險。" data-image="https://brook-livin.com/styles/images/news/tw/media-18/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="「WIRECARE宅電防護員」 10秒檢測用電安全！" data-description="有「居家用電檢查神器」美名之稱的「WIRECARE宅電防護員」，以簡單且有效的檢查方式，預防老屋牆壁內的電線與家中插座，因年久失修可能增加的電線走火風險。" data-image="https://brook-livin.com/styles/images/news/tw/media-18/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/news/tw/media-19/list.jpg','media-19','2022/10/28','看見台灣的驕傲！孕龍科技公司Brook Livin勇奪國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎！','孕龍科技公司以WIRECARE宅電防護員勇奪第19屆國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎。')
                        +main-card('','styles/images/news/tw/media-15/list.jpg','media-15','2022/09/29','防災新法寶「宅電防護員」 電氣安全維護好 居家安全住到老','平時消防人員居家訪視時向民眾宣導老舊電氣設備應汰換，民眾非自身經歷，所以反應平平無感，這次由第二大隊防火宣導教官團使用「宅電防護員」實際測試讓民眾了解。')
                        +main-card('','styles/images/media-4-list.jpg','media-4','2021/5/12','Brook Livin 成功研發全國第一台「居家用電防災神器」','一週以來，全台高溫直飆 30 度，使民眾居家用電量大增。依據消防署最新火災統計數據，「電氣走火案件…')
