//- index.pug
extends ./include/new-layout.pug
block meta
    title 提早出貨 x 貼心加碼贈三色圓點貼紙！
    meta(name='description' content='支持WIRECARE 宅電防護員的朋友們，久等了！酷熱的暑季，宅小編為大家帶來2個好消息！因最近全台各地進入酷暑階段，居家用電量也直直升，為把關大家的用電安全，我們決定全員趕工提早出貨，並貼心加碼贈三色原點貼紙！')
    meta(property='image' content='https://brook-livin/styles/images/media-7-meta.jpg')
    meta(property='og:title' content='提早出貨 x 貼心加碼贈三色圓點貼紙！')
    meta(property='og:url' content='https://brook-livin/media-7')
    meta(property='og:image' content='https://brook-livin/styles/images/media-7-meta.jpg')
    meta(property='og:description' content='支持WIRECARE 宅電防護員的朋友們，久等了！酷熱的暑季，宅小編為大家帶來2個好消息！因最近全台各地進入酷暑階段，居家用電量也直直升，為把關大家的用電安全，我們決定全員趕工提早出貨，並貼心加碼贈三色原點貼紙！')
    meta(property='og:site_name' content='提早出貨 x 貼心加碼贈三色圓點貼紙！')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 提早出貨 x 貼心加碼贈三色圓點貼紙！
                        .row
                            .col-9.text-left
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE ') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='防災神器') #防災神器
                                a.tag.t-primary.mr-2(href='#' title='提早出貨') #提早出貨
                                a.tag.t-primary.mr-2(href='#' title='貼心加碼') #貼心加碼
                                a.tag.t-primary.mr-2(href='#' title='最即時的守護') #最即時的守護
                            .col-3.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/7/23
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.img-fluid(src='styles/images/media-7-content.jpg', alt='圖片')
                            br
                            br
                            p 支持WIRECARE 宅電防護員的朋友們，久等了#[br]酷熱的暑季，宅小編為大家帶來2個好消息！！
                            br
                            h5.t-primary-dk 好消息1：全員趕工，搶先出貨 !
                            p 因最近全台各地進入酷暑階段，居家用電量也直直升！#[br]身為把關您用電安全的WIRECARE 宅電防護員
                            br
                            p.t-primary-dk ！已 加 速 生 產 並 於 本 周 提 早 出 貨！
                            br
                            p 原定八月、九月出貨計畫，即日起依照贊助方案進行出貨！#[br]只為在最需要的時刻送給您最即時的守護！
                            br
                            br
                            h5 請注意 | 收件資訊最後調整如下 :
                            p.t-primary-dk >>下單日期為5/27前 : 已進入寄送階段，恕無法修改訂單資訊#[br]>>下單日期為5/27後 : 請於7/19(一) 18:00 PM前，聯絡官方客服人員進行修改！
                            p Line@：請搜尋 ID @brook_livin#[br]FB粉絲團：請直接私訊小編
                            br
                            br
                            h5.t-primary-dk 好消息2：貼心加碼贈三色圓點貼紙！
                            p 來自最暖心的老闆臨時加碼
                            p 想必收到《WIRECARE 宅電防護員》時，大家一定馬上檢測所有插座，因擔心各位在大量檢測時，容易忘記每個插座檢測結果，因此附上紅、橘、綠的圓點貼紙，可黏貼對應的顏色至檢測插座旁，可作為本次的檢測紀錄，也方便水電人員修繕時能夠更快速了解各插座狀態。
                            p 雖然近期疫情逐漸減緩，各位仍不可大意！請保持勤洗手、戴口罩、記錄體溫的好習慣喔！#[br]最後，也歡迎大家在收到《WIRECARE 宅電防護員》後，分享心得與回饋給我們！#[br]再次感謝各位給予的支持與信賴！
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="提早出貨 x 貼心加碼贈三色圓點貼紙！" data-description="支持WIRECARE 宅電防護員的朋友們，久等了！酷熱的暑季，宅小編為大家帶來2個好消息！因最近全台各地進入酷暑階段，居家用電量也直直升，為把關大家的用電安全，我們決定全員趕工提早出貨，並貼心加碼贈三色原點貼紙！" data-image="https://brook-livin/styles/images/media-7-meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="提早出貨 x 貼心加碼贈三色圓點貼紙！" data-description="支持WIRECARE 宅電防護員的朋友們，久等了！酷熱的暑季，宅小編為大家帶來2個好消息！因最近全台各地進入酷暑階段，居家用電量也直直升，為把關大家的用電安全，我們決定全員趕工提早出貨，並貼心加碼贈三色原點貼紙！" data-image="https://brook-livin/styles/images/media-7-meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="提早出貨 x 貼心加碼贈三色圓點貼紙！" data-description="支持WIRECARE 宅電防護員的朋友們，久等了！酷熱的暑季，宅小編為大家帶來2個好消息！因最近全台各地進入酷暑階段，居家用電量也直直升，為把關大家的用電安全，我們決定全員趕工提早出貨，並貼心加碼贈三色原點貼紙！" data-image="https://brook-livin/styles/images/media-7-meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/news/tw/media-0/00_lists.png','media-0','2021/10/12','從嵌入式到家庭式，孕龍科技 實現居家守護計畫','走過24年來，2020-2021年度，是台灣與全球市場，因應新冠肺炎疫情變化最大的時間點。孕龍科技運用多…')
                        +main-card('','styles/images/media-5-list.png','media-5','2021/5/24','疫情期間客服調整公告','因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…')
                        +main-card('','styles/images/media-4-list.jpg','media-4','2021/5/12','Brook Livin 成功研發全國第一台「居家用電防災神器」','一週以來，全台高溫直飆 30 度，使民眾居家用電量大增。依據消防署最新火災統計數據，「電氣走火案件…')
