//- index.pug
extends ./include/new-layout.pug
block meta
    title Brook Livin & WIRECARE 榮獲台灣優質產品金牌獎國際肯定
    meta(name='description' content='Brook Livin 孕龍科技公司&WIRECARE 宅電防護員於2月份榮獲「台灣優質產品金牌獎」國際肯定！')
    meta(property='image' content='https://brook-livin.com/styles/images/news/tw/media-10/meta.jpg')
    meta(property='og:title' content='Brook Livin & WIRECARE 榮獲台灣優質產品金牌獎國際肯定')
    meta(property='og:url' content='https://brook-livin.com/media-10')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/tw/media-10/meta.jpg')
    meta(property='og:description' content='Brook Livin 孕龍科技公司&WIRECARE 宅電防護員於2月份榮獲「台灣優質產品金牌獎」國際肯定！')
    meta(property='og:site_name' content='Brook Livin & WIRECARE 榮獲台灣優質產品金牌獎國際肯定')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 【Brook Livin 孕龍科技公司】&【WIRECARE 宅電防護員】於2月份榮獲「台灣優質產品金牌獎」國際肯定！
                        .row
                            .col-12.col-md-9.text-left
                                a.tag.t-primary.mr-2(href='#' title='台灣優質產品金牌獎') #台灣優質產品金牌獎
                                a.tag.t-primary.mr-2(href='#' title='台灣優良精品廠商協進會') #台灣優良精品廠商協進會
                                a.tag.t-primary.mr-2(href='#' title='孕龍科技') #孕龍科技
                                a.tag.t-primary.mr-2(href='#' title='BrookLivin') #BrookLivin
                                a.tag.t-primary.mr-2(href='#' title='宅電防護員') #宅電防護員
                            .col-12.col-md-3.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/02/16
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-10/content-1.jpg', alt='圖片' style='max-width: 500px;')
                            br
                            p 自1997年成立以來，孕龍科技公司為配合政府產業升級政策，致力於提升消費性電子產品競爭力，力求品牌經營穩健，在銷售、行銷、公關、研發、客服及品管各領域，均表現卓越！
                            p 透過【台灣優良精品廠商協進會】多月來的嚴格評選過程，由協會中的產業專家與【Brook Livin 孕龍科技公司】密切交流，也讓孕龍科技公司更加了解自身營運優勢，並經由專家建議與諮詢，使孕龍科技不斷成長，持續增進國際競爭力。
                            p 感謝孕龍科技的國內外消費者，多年來的肯定及認同，建立孕龍科技良好品牌口碑，也請大家一同期待未來，孕龍科技公司即將推出的多樣化電子科技產品！
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-10/content-2.jpg', alt='圖片' style='max-width: 500px;')
                            br
                            br
                            h6.t-primary ※ 快到【全國電子】把 [ WIRECARE 宅電防護員 ] 帶回家:
                            a(href="https://bit.ly/3qWtvq1" target='_blank') - 線上逛逛搜好物➜ https://bit.ly/3qWtvq1#[br]
                            a(href="https://bit.ly/2M1RUZj" target='_blank') - 找找哪裡有門市➜ https://bit.ly/2M1RUZj#[br]
                            br
                            a.t-primary(href="https://www.facebook.com/brooklivin" target='_blank')
                                h6 ※ 按讚加入【Brook Livin FB 粉絲專頁】，參加粉絲專屬活動
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="Brook Livin & WIRECARE 榮獲台灣優質產品金牌獎國際肯定" data-description="Brook Livin 孕龍科技公司&WIRECARE 宅電防護員於2月份榮獲「台灣優質產品金牌獎」國際肯定！" data-image="https://brook-livin.com/styles/images/news/tw/media-10/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="Brook Livin & WIRECARE 榮獲台灣優質產品金牌獎國際肯定" data-description="Brook Livin 孕龍科技公司&WIRECARE 宅電防護員於2月份榮獲「台灣優質產品金牌獎」國際肯定！" data-image="https://brook-livin.com/styles/images/news/tw/media-10/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="Brook Livin & WIRECARE 榮獲台灣優質產品金牌獎國際肯定" data-description="Brook Livin 孕龍科技公司&WIRECARE 宅電防護員於2月份榮獲「台灣優質產品金牌獎」國際肯定！" data-image="https://brook-livin.com/styles/images/news/tw/media-10/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/news/tw/media-11/list.jpg','media-11','2022/02/21','2022年華人創業家大獎 孕龍科技Brook Livin獲台灣優質產品金牌獎','2022《華人創業家大獎》頒獎典禮現場冠蓋雲集，眾多優秀企業家榮獲此一殊榮。在後疫情時代，仍能讓公司穩定成長、獲獎勝出的廠商，更是台灣社會的指標企業。')
                        +main-card('','styles/images/news/tw/media-9/list.jpg','media-9','2022/01/10','Brook Livin & WIRECARE 榮獲台灣優質產品金牌獎國際肯定','Brook Livin 孕龍科技公司&WIRECARE 宅電防護員於2月份榮獲「台灣優質產品金牌獎」國際肯定！')
                        +main-card('','styles/images/news/tw/media-0/00_lists.png','media-0','2021/10/12','從嵌入式到家庭式，孕龍科技 實現居家守護計畫','走過24年來，2020-2021年度，是台灣與全球市場，因應新冠肺炎疫情變化最大的時間點。孕龍科技運用多…')
                        +main-card('','styles/images/media-5-list.png','media-5','2021/5/24','疫情期間客服調整公告','因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…')
                        +main-card('','styles/images/media-4-list.jpg','media-4','2021/5/12','Brook Livin 成功研發全國第一台「居家用電防災神器」','一週以來，全台高溫直飆 30 度，使民眾居家用電量大增。依據消防署最新火災統計數據，「電氣走火案件…')
