//- index.pug
extends ./include/new-layout.pug
block meta
    title 「2022-2023 年度新加坡亞太傑出企業獎」表彰孕龍科技公司旗下 Brook Livin為年度優異品牌！
    meta(name='description' content='由亞洲企業商會舉辦的「2022亞太傑出企業獎(APEA)」，孕龍科技公司榮獲「優異勵志品牌獎」殊榮。')
    meta(property='image' content='https://brook-livin.com/styles/images/news/tw/media-20/meta.jpg')
    meta(property='og:title' content='「2022-2023 年度新加坡亞太傑出企業獎」表彰孕龍科技公司旗下 Brook Livin為年度優異品牌！')
    meta(property='og:url' content='https://brook-livin.com/media-20')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/tw/media-20/meta.jpg')
    meta(property='og:description' content='由亞洲企業商會舉辦的「2022亞太傑出企業獎(APEA)」，孕龍科技公司榮獲「優異勵志品牌獎」殊榮。')
    meta(property='og:site_name' content='「2022-2023 年度新加坡亞太傑出企業獎」表彰孕龍科技公司旗下 Brook Livin為年度優異品牌！')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 「2022-2023 年度新加坡亞太傑出企業獎」表彰孕龍科技公司旗下 Brook Livin為年度優異品牌！
                        .row
                            .col-12.col-md-9.text-left
                                a.tag.t-primary.mr-2(href='#' title='APEA') #APEA
                                a.tag.t-primary.mr-2(href='#' title='APEA2022') #APEA2022
                                a.tag.t-primary.mr-2(href='#' title='亞洲企業商會') #亞洲企業商會
                                a.tag.t-primary.mr-2(href='#' title='亞太傑出企業獎') #亞太傑出企業獎
                                a.tag.t-primary.mr-2(href='#' title='優異勵志品牌獎') #優異勵志品牌獎
                            .col-12.col-md-3.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/11/24
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-20/content-1.jpg', alt='圖片' style='max-width: 600px;')
                            br
                            br
                            p 新加坡「亞洲企業商會」(Enterprise Asia)，盛讚台灣 ICT 實力！亞洲企業商會表示，作為企業家精神的倡導者，企業家精神不僅為個人，提供了一種令人幸福且保障生計的選擇，而且還是促進經濟韌性的重要催化劑。
                            p 亞太傑出企業獎(Asia Pacific Enterprise Awards)，舉辦目的是希望運用這個獎項，來表揚為亞太經濟發展做出卓越貢獻的企業。今年在台北萬豪酒店舉行的頒獎典禮，有超過500位國際嘉賓參與，並接受由國際評審團的嚴格評選過程，全台灣僅有34家企業獲獎，「孕龍科技公司」即為其一。
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-20/content-2.jpg', alt='圖片' style='max-width: 300px;')
                            br
                            br
                            p 評審大獎共分為四個類別，包括孕龍科技Brook Livin榮獲的優異勵志品牌獎 (Inspirational Brand Award)，以及卓越企業領袖獎 (Master Entrepreneur Award)、企業躍進獎 (Fast Enterprise Award) 和卓越企業管理獎 (Corporate Excellence)。
                            p 新加坡亞太傑出企業獎，自 2007 年起，每年在 16 個國家巡迴舉辦，除了榮獲本屆優異勵志品牌獎 (Inspirational Brand Award) 的 Brook Livin 孕龍科技，歷屆獲獎者包括遠東集團的徐旭東董事長，以及新加坡、日本、韓國、香港、越南、泰國、馬來西亞、印度尼西亞、印度和菲律賓等高速發展國家的企業領袖。
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-20/content-3.jpg', alt='圖片')
                            br
                            br
                            p 亞洲企業商會指出，根據國際貨幣基金組織預測，2023 年全球經濟將有3.3% 增長幅度，台灣的國際市場表現，會朝向穩定復甦的道路。台灣擁有強大的 ICT產業鏈，半導體聚落及消費性電子製造業的多元實力，將讓台灣持續處於國際市場優勢地位。
                            p 孕龍科技公司及旗下 Brook Livin 品牌系列商品，可以運用25年的國際行銷經驗，在消費性電子研發領域的實力，與國際優良企業一同引領經濟復甦；另外，孕龍邏輯分析儀在半導體產業，對各領域電子工程師的不間斷支援，也間接地帶動全球熱賣電競商品的競爭優勢。
                            br
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-20/content-4.jpg', alt='圖片')
                            br
                            br
                            h6.t-primary ZEROPLUS 孕龍科技公司是創新搖籃，持續發揮企業彈性，保持研發潛力-
                            a(href="https://www.brook-livin.com/product/powganite" target='_blank') - https://www.brook-livin.com/product/powganite#[br]
                            br
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="「2022-2023 年度新加坡亞太傑出企業獎」表彰孕龍科技公司旗下 Brook Livin為年度優異品牌！" data-description="由亞洲企業商會舉辦的「2022亞太傑出企業獎(APEA)」，孕龍科技公司榮獲「優異勵志品牌獎」殊榮。" data-image="https://brook-livin.com/styles/images/news/tw/media-20/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="「2022-2023 年度新加坡亞太傑出企業獎」表彰孕龍科技公司旗下 Brook Livin為年度優異品牌！" data-description="由亞洲企業商會舉辦的「2022亞太傑出企業獎(APEA)」，孕龍科技公司榮獲「優異勵志品牌獎」殊榮。" data-image="https://brook-livin.com/styles/images/news/tw/media-20/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="「2022-2023 年度新加坡亞太傑出企業獎」表彰孕龍科技公司旗下 Brook Livin為年度優異品牌！" data-description="由亞洲企業商會舉辦的「2022亞太傑出企業獎(APEA)」，孕龍科技公司榮獲「優異勵志品牌獎」殊榮。" data-image="https://brook-livin.com/styles/images/news/tw/media-20/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/news/tw/media-15/list.jpg','media-15','2022/09/29','防災新法寶「宅電防護員」 電氣安全維護好 居家安全住到老','平時消防人員居家訪視時向民眾宣導老舊電氣設備應汰換，民眾非自身經歷，所以反應平平無感，這次由第二大隊防火宣導教官團使用「宅電防護員」實際測試讓民眾了解。')
                        +main-card('','styles/images/media-4-list.jpg','media-4','2021/5/12','Brook Livin 成功研發全國第一台「居家用電防災神器」','一週以來，全台高溫直飆 30 度，使民眾居家用電量大增。依據消防署最新火災統計數據，「電氣走火案件…')
