//- index.pug
extends ./include/new-layout.pug
block meta
    title 看見台灣的驕傲！孕龍科技公司Brook Livin勇奪國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎！
    meta(name='description' content='孕龍科技公司以WIRECARE宅電防護員勇奪第19屆國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎。')
    meta(property='image' content='https://brook-livin.com/styles/images/news/tw/media-19/meta.jpg')
    meta(property='og:title' content='看見台灣的驕傲！孕龍科技公司Brook Livin勇奪國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎！')
    meta(property='og:url' content='https://brook-livin.com/media-19')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/tw/media-19/meta.jpg')
    meta(property='og:description' content='孕龍科技公司以WIRECARE宅電防護員勇奪第19屆國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎。')
    meta(property='og:site_name' content='看見台灣的驕傲！孕龍科技公司Brook Livin勇奪國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎！')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 看見台灣的驕傲！孕龍科技公司Brook Livin勇奪國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎！
                        .row
                            .col-12.col-md-9.text-left
                                a.tag.t-primary.mr-2(href='#' title='ZEROPLUS') #ZEROPLUS
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='預防電線走火') #預防電線走火
                                a.tag.t-primary.mr-2(href='#' title='國家品牌玉山獎') #國家品牌玉山獎
                                a.tag.t-primary.mr-2(href='#' title='國家企業競爭力發展協會') #國家企業競爭力發展協會
                            .col-12.col-md-3.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/10/28
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-19/content-1.jpg', alt='圖片' style='max-width: 600px;')
                            br
                            br
                            p 近年來由於全球經濟因疫情受到衝擊，反觀孕龍科技公司呈現亮麗成長，持續成為支持遊戲周邊商品領域，和智慧家庭產業的關鍵力量。第19屆國家品牌玉山獎大會，於10月份所頒發給孕龍科技公司的「全國首獎」及「最佳產品獎」雙料大獎，目的為鼓勵孕龍科技增加服務的質與量、深度與廣度，並在技術、專利上繼續努力創新研發，透過台灣卓越的品牌價值，將台灣產品推廣到世界各地。
                            p 副總統賴清德在國家品牌玉山獎，頒獎典禮中的演說指出，國內面臨幾個嚴肅的社會問題，例如屋齡超過30年的房子有3、4百萬棟，非常需要大家一起來共同推動都市更新。
                            p 但是這幾年來，新房子蓋得多，都更做得少，希望大家能坐下來一起討論，如何解決台灣老舊房子居住安全的問題。
                            p 若能有效推動都更，對台灣的內需、經濟的推動也很有幫助，更可以因應這一波全球經濟所面臨的種種問題。另外，國內人口老化速度非常快，希望建築可以針對65歲以上長輩的生活需求設計，讓國家的主人可以生活得更幸福、快樂。
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-19/content-2.jpg', alt='圖片' style='max-width: 300px;')
                            br
                            br
                            p 榮獲國家品牌玉山獎「全國首獎」及「最佳產品獎」，雙料大獎的 Brook Livin品牌「WIRECARE宅電防護員」，經過 Brook Livin 孕龍科技公司，3年多的自主研發與產品設計時間，以《簡單實用》為最高原則，讓所有年齡層的消費者使用，都能輕易上手。
                            p 消費者不須具備任何電學或理工相關知識，都能夠運用「WIRECARE宅電防護員」，輕鬆檢測住家/公司/工廠等不同生活場域，以確保用電安全，讓全家人日常的所有電器使用，都能安心無虞。
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-19/content-3.jpg', alt='圖片')
                            br
                            br
                            p 無論台灣/日本/美國的民眾，都很習慣看紅綠燈交通號誌，作為通行指引；「WIRECARE宅電防護員」沿用類似的三色燈號，提供居家/企業/工廠等不同場域的消費者，作為電線與插座健康狀態判斷:
                            p - 紅色燈號: 表示線路電阻值總和非常高，請消費者停止使用該插座，盡早更換#[br]- 橘色燈號: 線路電阻值總和偏高，請消費者停止使用高耗電電器於該插座#[br]- 綠色燈號: 線路電阻值總和在安全範圍內，消費者可安心使用電器於該插座
                            p 「WIRECARE宅電防護員」附有貼心的重測按鈕，方便年長者可能在第一時間，漏看三色燈號呈現結果，可以再次重新測量家中插座的健康狀態。
                            br
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-19/content-4.jpg', alt='圖片')
                            br
                            br
                            p 孕龍科技公司要特別感謝，國家品牌玉山獎主辦單位「中華民國國家企業競爭力發展協會」，及副總統賴清德親自頒獎，以及參與頒獎典禮的行政院副院長沈榮津、立法院秘書長林志嘉、監察院秘書長朱富美、內政部政務次長花敬群、經濟部部長王美花、國發會主委龔明鑫、公共工程委員會副主委顏久榮、營建署副署長陳繼鳴親臨致詞頒獎，並代表政府給予孕龍科技公司，最大的支持與鼓勵，肯定所有國家品牌玉山獎的得獎企業成就，是臺灣的驕傲！
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="看見台灣的驕傲！孕龍科技公司Brook Livin勇奪國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎！" data-description="孕龍科技公司以WIRECARE宅電防護員勇奪第19屆國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎。" data-image="https://brook-livin.com/styles/images/news/tw/media-19/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="看見台灣的驕傲！孕龍科技公司Brook Livin勇奪國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎！" data-description="孕龍科技公司以WIRECARE宅電防護員勇奪第19屆國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎。" data-image="https://brook-livin.com/styles/images/news/tw/media-19/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="看見台灣的驕傲！孕龍科技公司Brook Livin勇奪國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎！" data-description="孕龍科技公司以WIRECARE宅電防護員勇奪第19屆國家品牌玉山獎「全國首獎」及「最佳產品獎」雙料大獎。" data-image="https://brook-livin.com/styles/images/news/tw/media-19/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/news/tw/media-15/list.jpg','media-15','2022/09/29','防災新法寶「宅電防護員」 電氣安全維護好 居家安全住到老','平時消防人員居家訪視時向民眾宣導老舊電氣設備應汰換，民眾非自身經歷，所以反應平平無感，這次由第二大隊防火宣導教官團使用「宅電防護員」實際測試讓民眾了解。')
                        +main-card('','styles/images/media-4-list.jpg','media-4','2021/5/12','Brook Livin 成功研發全國第一台「居家用電防災神器」','一週以來，全台高溫直飆 30 度，使民眾居家用電量大增。依據消防署最新火災統計數據，「電氣走火案件…')
