//- index.pug
extends ./include/new-layout.pug
block meta
    title 降低電線走火風險的最佳解方 WIRECARE 宅電防護員
    meta(name='description' content='Brook Livin 《WIRECARE 宅電防護員》，以最便利的阻抗量測方式，讓消費者能知道插座線路是否處於危險使用狀態。')
    meta(property='image' content='https://brook-livin/styles/images/news/tw/media-12/meta.jpg')
    meta(property='og:title' content='降低電線走火風險的最佳解方 WIRECARE 宅電防護員')
    meta(property='og:url' content='https://brook-livin/media-12')
    meta(property='og:image' content='https://brook-livin/styles/images/news/tw/media-12/meta.jpg')
    meta(property='og:description' content='Brook Livin 《WIRECARE 宅電防護員》，以最便利的阻抗量測方式，讓消費者能知道插座線路是否處於危險使用狀態。')
    meta(property='og:site_name' content='降低電線走火風險的最佳解方 WIRECARE 宅電防護員')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 降低電線走火風險的最佳解方 Brook Livin WIRECARE 宅電防護員
                        .row
                            .col-12.col-md-9.text-left
                                a.tag.t-primary.mr-2(href='#' title='新電子科技雜誌') #新電子科技雜誌
                                a.tag.t-primary.mr-2(href='#' title='媒體專訪') #媒體專訪
                                a.tag.t-primary.mr-2(href='#' title='電線走火') #電線走火
                                a.tag.t-primary.mr-2(href='#' title='線路阻抗') #線路阻抗
                            .col-12.col-md-3.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/03/28
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            b 科技媒體《新電子》主編 廖專崇
                            p 2022年3月份專訪 孕龍科技公司 業務主管 洪鈺雯
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-12/content-1.png', alt='圖片' style='max-width: 800px;')
                            br
                            p 不論是新房或是幾十年的老舊房，最易被忽略的就是藏在牆壁內的線路管線問題，除了看不見的牆壁內部電路，家裡與公司平時在用的插座，也會因為長時間的使用或因為使用環境不佳而造成老化。
                            p 由於市面上插座線路檢測方式複雜，一般消費者無法自行量測，就讓插座一直放著不管了，但是當發現插座不堪使用時，己經是可能有插座線路燒毀的狀況產生。
                            p 而Brook Livin 《WIRECARE 宅電防護員》，就是以最便利的阻抗量測方式，讓消費者能知道插座線路是否處於危險使用狀態。
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-12/content-2.png', alt='圖片' style='max-width: 800px;')
                            p 《WIRECARE 宅電防護員》使用非常簡單，只要輕輕撥開WIRECARE的插頭，直接插入牆壁插座，或是大家常常使用的延長線插座；等待10秒鐘以內，消費者就能看到目前的線路健康狀況。
                            p 以全球銷售狀況來看，受眾範圍很廣泛，各年齡層的族群都有，包含學生、老人、家庭主婦、小資女、木工、建築工程師、房仲、保險業務員等；因為使用上很直覺，即使非專業人士也可放心操作。
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-12/content-3.png', alt='圖片' style='max-width: 800px;')
                            br
                            p 一般民眾很習慣看紅綠燈交通號誌，作為通行的指引；《WIRECARE宅電防護員》沿用了類似的三色燈號概念，提供給居家與企業消費者作線路健康指引：#[br]- 紅色燈號: 表示線路的阻抗值總和非常高，請停止使用該插座，並盡早更換#[br]- 橘色燈號: 線路阻抗值總和偏高，停止使用高耗電電器於該插座，建議更換#[br]- 綠色燈號: 線路阻抗值總和在安全範圍內，可安心使用電器於該插座
                            p 《WIRECARE宅電防護員》能夠精確檢測「線路阻抗值」，並以三色燈號顯示結果，讓消費者使用需要插座的電器，時時刻刻都能夠安心。「線路阻抗值」的觀念，類似人類會中風的概念，生活不健康的狀態下，腦血管會堵塞導致中風；可以想像「線路阻抗」就像是堵塞在電線裡的障礙，當障礙物越來越大，就有可能因為物理現象，導致電線溫度不斷升高，增加電線走火的風險。
                            .text-center
                                img.mx-auto(src='../styles/images/news/tw/media-12/content-4.png', alt='圖片' style='max-width: 800px;')
                            p 《WIRECARE宅電防護員》除了國際上的美國認證FCC，與歐盟CE在產品品質與功能的認證通過以外，也通過歐盟RoHS的產品無毒與環境友善認證；《WIRECARE宅電防護員》也與國立高雄應用科技大學的電子系產學合作，通過嚴密的實驗測試以證明產品有效性；對於產品也加保了台幣3200萬的產品責任險。
                            p 在台灣市場，除了在全國電子與良興電子的實體通路，可實際體驗與購買《WIRECARE宅電防護員》以外；在近20家各大電商都能買到，例如蝦皮/露天/Yahoo/momo/PChome等合作平台；在2021年的銷售首月，就賣出超過2,600台，突破台幣420萬元的銷售額，非常感謝大家對Brook Livin的產品信心與支持！
                            p 在美國市場，目前透過Amazon USA (亞馬遜北美站)，銷售給美國與加拿大的居家消費者；2022年第2季，將與美國電子產業銷售領導者《Digi-Key Electronics》，合作銷售通路。
                            p 在日本市場，2022年的2月份，剛剛結束《WIRECARE宅電防護員》，在日本募資平台GREEN FUNDING的成功專案，單月就超過510台的搶購，突破日幣618萬元的單月銷售；日本市場也與當地的電商夥伴洽談中，合作銷售通路。
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="降低電線走火風險的最佳解方 WIRECARE 宅電防護員" data-description="Brook Livin 《WIRECARE 宅電防護員》，以最便利的阻抗量測方式，讓消費者能知道插座線路是否處於危險使用狀態。" data-image="https://brook-livin/styles/images/news/tw/media-12/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="降低電線走火風險的最佳解方 WIRECARE 宅電防護員" data-description="Brook Livin 《WIRECARE 宅電防護員》，以最便利的阻抗量測方式，讓消費者能知道插座線路是否處於危險使用狀態。" data-image="https://brook-livin/styles/images/news/tw/media-12/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="降低電線走火風險的最佳解方 WIRECARE 宅電防護員" data-description="Brook Livin 《WIRECARE 宅電防護員》，以最便利的阻抗量測方式，讓消費者能知道插座線路是否處於危險使用狀態。" data-image="https://brook-livin/styles/images/news/tw/media-12/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/news/tw/media-9/list.jpg','media-9','2022/01/10','降低電線走火風險的最佳解方 WIRECARE 宅電防護員','Brook Livin 《WIRECARE 宅電防護員》，以最便利的阻抗量測方式，讓消費者能知道插座線路是否處於危險使用狀態。')
                        +main-card('','styles/images/news/tw/media-0/00_lists.png','media-0','2021/10/12','從嵌入式到家庭式，孕龍科技 實現居家守護計畫','走過24年來，2020-2021年度，是台灣與全球市場，因應新冠肺炎疫情變化最大的時間點。孕龍科技運用多…')
                        +main-card('','styles/images/media-5-list.png','media-5','2021/5/24','疫情期間客服調整公告','因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…')
                        +main-card('','styles/images/media-4-list.jpg','media-4','2021/5/12','Brook Livin 成功研發全國第一台「居家用電防災神器」','一週以來，全台高溫直飆 30 度，使民眾居家用電量大增。依據消防署最新火災統計數據，「電氣走火案件…')
