//- index.pug
extends ./include/new-layout.pug
block meta
    title Brook Livin 成功研發全國第一台「居家用電防災神器」 - Brook Livin
    meta(name='description' content='「 WIRECARE 宅電防護員 」使用僅需一步驟，插上插座即能檢測，檢測過程僅約 10 秒，能夠快速得知電線健康狀況。')
    meta(property='image' content='https://livin.brookaccessory.com/styles/images/media-4-list.jpg')
    meta(property='og:title' content='Brook Livin 成功研發全國第一台「居家用電防災神器」 - Brook Livin')
    meta(property='og:url' content='https://livin.brookaccessory.com/media-4')
    meta(property='og:image' content='https://livin.brookaccessory.com/styles/images/media-4-list.jpg')
    meta(property='og:description' content='「 WIRECARE 宅電防護員 」使用僅需一步驟，插上插座即能檢測，檢測過程僅約 10 秒，能夠快速得知電線健康狀況。')
    meta(property='og:site_name' content='Brook Livin 成功研發全國第一台「居家用電防災神器」 - Brook Livin')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 Brook Livin 成功研發全國第一台「居家用電防災神器」
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#' title='Brook Livin') #Brook Livin
                                a.tag.t-primary.mr-2(href='#' title='WIRECARE') #WIRECARE
                                a.tag.t-primary.mr-2(href='#' title='居家用電') #居家用電
                                a.tag.t-primary.mr-2(href='#' title='防災神器') #防災神器
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/5/12
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            h4 10 秒診斷電線走火三大風險
                            br
                            p 一週以來，全台高溫直飆 30 度，使民眾居家用電量大增。依據消防署最新火災統計數據，「電氣走火案件」已超越去年位居第一的爐火烹調，成為建築物火災的主因。
                            p 不久前，國內科技品牌 Brook Livin 成功研發全國第一台能夠檢測居家「插座」與「電線」的輕便裝置，體積僅手掌大小，使民眾能自行進行「宅電健檢」，遠離電線走火風險！
                            p 近根據內政部統計，自民國 109 年 (西元2020年) 起，火災死亡案件的肇因由「電氣因素」位居第一，光是電氣因素所造成的火災就高達 2,875 起，造成 66 人死亡。直至三月底，電氣引發的火災與去年同期相比，電氣走火災情不減反升；等於平均每 3小時，台灣就發生一場電氣火災。
                            br
                            br
                            img.img-fluid(src='styles/images/media-4-content.jpg', alt='圖片')
                            br
                            br
                            p.t-primary-dk 然而，目前檢測插座、電線的過程複雜，往往需專業人士具備特殊儀器到府測量，使民眾難以養成「定期檢測電線」的意識，隨著屋齡老化，居家電線老舊問題日趨嚴重，走火案件因而逐年提升。
                            p.t-primary-dk 據我國消防署指出，造成電線走火的主因為以下三點：（1）插座積塵、鏽蝕，(2) 牆壁內電線受潮破損，（3）老屋配電超過負載，都有可能直接導致住宅發生火災，這些隱藏在牆內的線路危機，消防署呼籲民眾不可輕忽。
                            p.t-primary-dk 因此，國內品牌 Brook Livin 長期關注居家用電安全議題，獨步全球研發「 WIRECARE 宅電防護員 」的輕巧檢測裝置，讓民眾自行測量屋內「電線、插座健康程度」，運用清晰明瞭的三色指示燈，取代專業儀器的繁雜的指針與數字，準確判讀家中的老舊插座、電線，從健康到危險的燈號提醒，讓消費者可決定是否需檢修或更換插座。
                            br
                            p 「 WIRECARE 宅電防護員 」使用僅需一個步驟，插上插座即能檢測，檢測過程僅約 10 秒，能夠快速得知電線健康狀況，相當省時省力。不僅可用於插座，連延長線都能夠檢測，使用範圍相當廣泛。廠商表示，希望能藉由此產品的研發，減少台灣電線走火的遺憾發生。
                            img.img-fluid(src='styles/images/media-4-content2.jpg', alt='圖片')
                            br
                            p.t-primary-dk 「WIRECARE 宅電防護員」已研發完成，預計今年五月於台灣知名群眾集資平台，進行公開募資，預計市售價格為台幣 2,580 元。若募資達標，部分盈餘將捐款「弘道老人基金會」，協助長者居家水電維修。
                            br
                            br
                            p ※ 部份資料與圖片來源: #[a(href='https://www.nfa.gov.tw/cht/index.php?code=list&flag=detail&ids=220&article_id=9996' target='_blank') 消防署全球資訊網]
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 分享至
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="Brook Livin 成功研發全國第一台「居家用電防災神器」 - Brook Livin" data-description="「 WIRECARE 宅電防護員 」使用僅需一步驟，插上插座即能檢測，檢測過程僅約 10 秒，能夠快速得知電線健康狀況。" data-image="https://livin.brookaccessory.com/styles/images/media-4-list.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="Brook Livin 成功研發全國第一台「居家用電防災神器」 - Brook Livin" data-description="「 WIRECARE 宅電防護員 」使用僅需一步驟，插上插座即能檢測，檢測過程僅約 10 秒，能夠快速得知電線健康狀況。" data-image="https://livin.brookaccessory.com/styles/images/media-4-list.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="Brook Livin 成功研發全國第一台「居家用電防災神器」 - Brook Livin" data-description="「 WIRECARE 宅電防護員 」使用僅需一步驟，插上插座即能檢測，檢測過程僅約 10 秒，能夠快速得知電線健康狀況。" data-image="https://livin.brookaccessory.com/styles/images/media-4-list.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 回到列表
                        
                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多最新消息
                        +main-card('','styles/images/media-6-list.png','media-6','2021/5/28','《𝙒𝙄𝙍𝙀𝘾𝘼𝙍𝙀 宅電防護員》募資衝破160萬，產品Q&A大公開！','感謝大家的熱烈支持！讓我們守護用電安全的初心更加堅定！這幾天，陸續有些朋友對產品提出疑問，宅電…')
                        +main-card('','styles/images/media-5-list.png','media-5','2021/5/24','疫情期間客服調整公告','因疫情升溫, 企業啟動分流上班，疫情期間提供以下客服管道…')
                        +main-card('','styles/images/media-1-list.jpg','media-1','2021/5/10','在公司上班，與居家生活，如何正確用電？用電安全？','無形的電流，常因企業內與家庭中，各種電器、環境、人為因素，造成電器火災，危及生命健康與財產損壞。')