//- index.pug
extends ./include/layout.pug

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                h2.f-sc-title.mb-3.mb-md-4 隠私權政策
                hr.my-3.my-md-4
                h4.f-textTitle 個人資料告知事項
                .new-inner.pb-3.pb-md-5
                    p 孕龍科技股份有限公司(下稱”本公司”)因 Brook 網站相關服務，如：維修保固服務、客服信箱或其他的一般會員服務之業務而蒐集、處理或利用之個人資料時，皆以尊重您的權益為基礎，並以誠實信用之方式及以下原則為之。
                    br
                    p 本公司蒐集您個人資料之目的係因 Brook 網站業務所為與行銷、統計調查與分析或資訊資料庫管理之執行，凡依規定辦理與推廣活動之行為皆屬之。本公司僅會請您提供為 Brook 網站相關服務業務之執行而必要之個人資料，包含姓名、性別、聯絡方式等個人資料之類別。 本公司蒐集您之個人資料只會在服務契約成立前階段、契約存續期間或經您同意之期間被處理或利用，惟相關法令另有保存期限規定者從其之。
                    br
                    p 您的個人資料原則上僅會以電子檔或紙本形式於我國台澎金馬等中華民國所轄境內供本公司與本公司之委外廠商處理及利用。若您需要更進一步了解您的個人資料之處理或利用的詳細情形，歡迎您與我們聯繫。
                    br
                    p 本公司對於蒐集、處理或利用任何之個人資料皆以遵循本公司之個人資料管理目標與政策為指導原則，並訂有完善之個人資料檔案安全維護計畫，任何流程皆有嚴格之控管程序及標準作業流程，您可以安心的將您的個人資料提供予本公司。
                    br
                    p 查詢或請求閱覽您的個人資料。#[br]
                    | 請求製給您的個人資料複製本。#[br]
                    | 請求補充或更正您的個人資料。#[br]
                    | 請求停止蒐集、處理或利用您的個人資料。#[br]
                    | 請求刪除您的個人資料。
                    br
                    br
                    br
                    p 您可以在本公司官方網站 (網址：#[a(href='https://brook-livin') https://brook-livin]) 上找到聯繫我們的電子郵件信箱。本公司基於上述原因而需蒐集、處理或利用您的個人資料時，您可以自由選擇是否提供您的個人資料。 若您選擇不提供個人資料或是提供不完全時，基於健全網路業務之執行，本公司將可能無法提供您完善的服務(如：維修保固服務、客服信箱意見回覆)。
