//- index.pug
extends ./include/layout.pug
block plugins-js
    //- script(src="scripts/plugins/slick.js")
    //- script(src="scripts/data/stores.js")

block content
    main#page.wrapper
        .page-hero
            .container
                .page-hero_text
                    h2.f-heroTitle-xs.text-center 客戶服務
                .page-hero_img
                    img(src='styles/images/store.jpg', alt='情境圖')
        #page-nav
            ul.nav.justify-content-center
                li.nav-item
                    a.nav-link.active(href='store' rel='nofollow') 經銷商據點
                li.nav-item
                    a.nav-link(href='warranty' rel='nofollow') 保固資訊
                li.nav-item
                    a.nav-link(href='return' rel='nofollow') 退換貨流程
                li.nav-item
                    a.nav-link(href='qa' rel='nofollow') 常見Q&A

        article.page-inner
            //- .filter-row.mb-3.mb-lg-4
            //-     .container
            //-         .row.justify-content-center
            //-             .col-6.col-md-3.col-xl-2
            //-                 .select-box
            //-                     .form-group
            //-                         select.form-control.main-select
            //-                             option 國家
            //-             .col-6.col-md-3.col-xl-2
            //-                 .select-box
            //-                     .form-group
            //-                         select.form-control.main-select
            //-                             option 地區
            //-             .col-6.col-md-3.col-xl-2.mt-4.mt-md-0
            //-                 .select-box
            //-                     .form-group
            //-                         select.form-control.main-select
            //-                             option 類別
            //-                             option 居家安全
            //-             .col-6.col-md-3.col-xl-2.mt-4.mt-md-0
            //-                 .select-box
            //-                     .form-group
            //-                         select.form-control.main-select
            //-                             option 產品
            //-                             option WIRECARE 宅電防護員
            //-                             option BROOK紫外線消毒盒
            section
                .container#store-inner
                    .row.align-items-lg-center.py-3.py-md-5
                        .col-12.col-lg-6
                            .store-img
                                img(src='styles/images/store/雲城娛樂_LOGO.png' alt='經銷據點圖片')
                        .col-12.col-lg-5.py-3.py-lg-5.pl-lg-5.pr-lg-0
                            h5.f-sc-title 雲城娛樂
                            hr.my-lg-4
                            address.store-list.mb-4
                                ul.list-unstyled
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 電話
                                        a.f-text-big(href='tel:02-2222-5548') 02-2222-5548
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 營業時間(不含例假日)
                                        span.f-text-big 上午10:00 至 下午6:00
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 地址
                                        a.f-text-big(href='https://goo.gl/maps/Ynh7Ab5Bzk7jpo87A' target='_blank') 新北市中和區建八路121號5樓
                            .store-products
                                ul.list-inline
                                    li.list-inline-item WIRECARE 宅電防護員・BROOK 紫外線消毒盒
                            .row
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://tinyurl.com/yzbs3jfu' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span 蝦皮購物
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://www.ruten.com.tw/item/show?22128699567434' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span 露天拍賣
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://tw.bid.yahoo.com/item/101115795364' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span yahoo!拍賣
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://www.momoshop.com.tw/goods/GoodsDetail.jsp?i_code=9157213&osm=Ad07&utm_source=googleshop&utm_medium=googleshop_6-2&utm_content=bn&gclid=EAIaIQobChMIgNuqzfOU8gIVwcqWCh3mkw05EAYYASABEgJY0vD_BwE' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span momo購物
                    .row.align-items-lg-center.py-3.py-md-5
                        .col-12.col-lg-6
                            .store-img
                                img(src='styles/images/store/I-Life 智能生活館_LOGO.png' alt='經銷據點圖片')
                        .col-12.col-lg-5.py-3.py-lg-5.pl-lg-5.pr-lg-0
                            h5.f-sc-title i Life 智能生活館
                            hr.my-lg-4
                            address.store-list.mb-4
                                ul.list-unstyled
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 電話
                                        a.f-text-big(href='tel:0936-927063') 0936-927063
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 營業時間(不含例假日)
                                        span.f-text-big 上午9:00 至 下午5:00
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 地址
                                        a.f-text-big(href='https://goo.gl/maps/WGsK5yto48dRxsmu5' target='_blank') 新北市蘆洲區民權路6之12號6樓
                            .store-products
                                ul.list-inline
                                    li.list-inline-item WIRECARE 宅電防護員
                            .row
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://www.pcstore.com.tw/ilifego/M81131222.htm' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span PChome
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://www.rakuten.com.tw/shop/i-life/product/6i1ho5tsa' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span 樂天市場
                    .row.align-items-lg-center.py-3.py-md-5
                        .col-12.col-lg-6
                            .store-img
                                img(src='styles/images/store/旺群儀器有限公司_LOGO.png' alt='經銷據點圖片')
                        .col-12.col-lg-5.py-3.py-lg-5.pl-lg-5.pr-lg-0
                            h5.f-sc-title 旺群儀器有限公司
                            hr.my-lg-4
                            address.store-list.mb-4
                                ul.list-unstyled
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 電話
                                        a.f-text-big(href='tel:02-2974-2228') 02-2974-2228
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 營業時間(不含例假日)
                                        span.f-text-big 上午9:00 至 下午5:00
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 地址
                                        a.f-text-big(href='https://goo.gl/maps/CQRyL3NEiyX1mZHB8' target='_blank') 新北市三重區重新路四段97號23樓之2
                            .store-products
                                ul.list-inline
                                    li.list-inline-item WIRECARE 宅電防護員
                            .row
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://www.eclife.com.tw/ups/moreinfo_182663.htm' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span 良興電子
                    .row.align-items-lg-center.py-3.py-md-5
                        .col-12.col-lg-6
                            .store-img
                                img(src='styles/images/store/杰鼎奧拉數位館LOGO.png' alt='經銷據點圖片')
                        .col-12.col-lg-5.py-3.py-lg-5.pl-lg-5.pr-lg-0
                            h5.f-sc-title 杰鼎奧拉數位館
                            hr.my-lg-4
                            address.store-list.mb-4
                                ul.list-unstyled
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 電話
                                        a.f-text-big(href='tel:07-226-8080') 07-226-8080
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 營業時間(不含例假日)
                                        span.f-text-big 上午9:00 至 下午6:00
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 地址
                                        a.f-text-big(href='https://goo.gl/maps/dQ6ha2QYxpWcZKd7A' target='_blank') 高雄市前鎮區中山二路91號7F-7
                            .store-products
                                ul.list-inline
                                    li.list-inline-item WIRECARE 宅電防護員
                            .row
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://www.jdingaura.com.tw/products04-01-01.html' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span 奧拉數位館
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://tinyurl.com/ymbayj4f' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span citiesocial
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://24h.pchome.com.tw/prod/preview/DECE1P-A900BWEJL?q=/S/DECE1P' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span PChome 24h
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://tinyurl.com/4s2j8npt' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span uDesign
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://www.books.com.tw/products/N012598303?loc=P_0017_002' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span 博客來
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://www.setddg.com/PV211018009112763' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span 電電購
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://ecshop.payeasy.com.tw/ECShop/Product/ProductDetail/6340189?ut=0283f015446180fe4c0aa736d0c73bde' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span Payeasy
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://www.eslite.com/product/1005352692682094925001' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span 誠品線上
                    .row.align-items-lg-center.py-3.py-md-5
                        .col-12.col-lg-6
                            .store-img
                                img(src='styles/images/store/經銷據點圖片_全國電子.jpg' alt='經銷據點圖片')
                        .col-12.col-lg-5.py-3.py-lg-5.pl-lg-5.pr-lg-0
                            h5.f-sc-title 全國電子
                            hr.my-lg-4
                            address.store-list.mb-4
                                ul.list-unstyled
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 電話
                                        a.f-text-big(href='tel:02-2298-9922') 02-2298-9922
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 營業時間(不含例假日)
                                        span.f-text-big 上午9:00 至 下午6:00
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 地址
                                        a.f-text-big(href='https://goo.gl/maps/CQRyL3NEiyX1mZHB8' target='_blank') 新北市五股區五工六路55號
                            .store-products
                                ul.list-inline
                                    li.list-inline-item WIRECARE 宅電防護員
                            .row
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://www.dcity.com.tw/Life/moreinfo_146978.htm' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span 線上購物
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://web.elifemall.com.tw/zh/store.php' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span 附近門市
                    .row.align-items-lg-center.py-3.py-md-5
                        .col-12.col-lg-6
                            .store-img
                                img(src='styles/images/store/經銷據點圖片_中保無限家.jpg' alt='經銷據點圖片')
                        .col-12.col-lg-5.py-3.py-lg-5.pl-lg-5.pr-lg-0
                            h5.f-sc-title 中保無限家
                            hr.my-lg-4
                            address.store-list.mb-4
                                ul.list-unstyled
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 電話
                                        a.f-text-big(href='tel:0800-735-735') 0800-735-735
                                    li.mb-3
                                        .label.d-inline-block.f-500.f-text-big 營業時間(不含例假日)
                                        span.f-text-big 上午9:00 至 下午6:00
                            .store-products
                                ul.list-inline
                                    li.list-inline-item WIRECARE 宅電防護員
                            .row
                                .col-6.col-lg-4
                                    a.main-btn.btn-border-primary.ml-0.mt-4(href='https://www.livingplus.com.tw/shop/shop/%E5%B1%85%E5%AE%B6%E7%94%A8%E5%93%81/%E5%B1%85%E5%AE%89%E9%98%B2%E8%AD%B7/%E5%B1%85%E5%AE%89%E9%98%B2%E7%81%BD/wirecare%E5%AE%85%E9%9B%BB%E9%98%B2%E8%AD%B7%E5%93%A1%E5%B1%85%E5%AE%B6%E7%94%A8%E9%9B%BB%E6%AA%A2%E6%9F%A5' target='_blank')
                                        //- i.icon-buy(style='font-size: 18px;')
                                        span 線上購物
            //- +page-navigation