//- index.pug
extends ./include/layout.pug
block plugins-js
    //- script(src="scripts/plugins/slick.js")
    script(src="scripts/data/stores.js") 

block content
    main#page.wrapper
        .page-hero
            .container
                .page-hero_text
                    h2.f-heroTitle-xs.text-center 客戶服務
                .page-hero_img
                    img(src='styles/images/store.jpg', alt='情境圖')
        #page-nav
            ul.nav.justify-content-center
                li.nav-item
                    a.nav-link.active(href='store' rel='nofollow') 經銷商據點
                li.nav-item
                    a.nav-link(href='warranty' rel='nofollow') 保固資訊
                li.nav-item
                    a.nav-link(href='return' rel='nofollow') 退換貨流程
                li.nav-item
                    a.nav-link(href='qa' rel='nofollow') 常見Q&A

        article.page-inner
            .filter-row.mb-3.mb-lg-4
                .container
                    .row.justify-content-center
                        .col-6.col-md-3.col-xl-2
                            .select-box
                                .form-group
                                    select.form-control.main-select
                                        option 國家
                        .col-6.col-md-3.col-xl-2
                            .select-box
                                .form-group
                                    select.form-control.main-select
                                        option 地區
                        .col-6.col-md-3.col-xl-2.mt-4.mt-md-0
                            .select-box
                                .form-group
                                    select.form-control.main-select
                                        option 類別
                                        option 居家安全
                        .col-6.col-md-3.col-xl-2.mt-4.mt-md-0
                            .select-box
                                .form-group
                                    select.form-control.main-select
                                        option 產品
                                        option WIRECARE 宅電防護員 
                                        option BROOK紫外線消毒盒
            section
                .container#store-inner
            //- +page-navigation