//- index.pug
extends ./include/new-layout.pug
block meta
    title 3C達人《雲爸》開箱- POWGANITE 耐能鋰離子3000mWh充電電池
    meta(name='description' content='Brook Livin 品牌智慧家庭商品開箱！新一代充電電池，低自放+無記憶+安全穩壓充電')
    meta(property='image' content='https://brook-livin.com/styles/images/news/tw/unboxes-02/meta.jpg')
    meta(property='og:title' content='3C達人《雲爸》開箱- POWGANITE 耐能鋰離子3000mWh充電電池')
    meta(property='og:url' content='https://brook-livin.com/unboxing-2')
    meta(property='og:image' content='https://brook-livin.com/styles/images/news/tw/unboxes-02/meta.jpg')
    meta(property='og:description' content='Brook Livin 品牌智慧家庭商品開箱！新一代充電電池，低自放+無記憶+安全穩壓充電')
    meta(property='og:site_name' content='3C達人《雲爸》開箱- POWGANITE 耐能鋰離子3000mWh充電電池')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 3C達人《雲爸》開箱- POWGANITE 耐能鋰離子3000mWh充電電池
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#' title='雲爸') #雲爸
                                a.tag.t-primary.mr-2(href='#' title='POWGANITE開箱') #POWGANITE開箱
                                a.tag.t-primary.mr-2(href='#' title='耐能鋰離子充電電池開箱') #耐能鋰離子充電電池開箱
                                a.tag.t-primary.mr-2(href='#' title='BrookLivin商品開箱') #BrookLivin商品開箱
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/08/16
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p 這兩天入手2款產品，一個是新一代的充電電池，以及能檢測家中插座安全的神器。
                            p ▼台灣品牌Brook Livin 《POWGANITE 耐能鋰離子3000mWh充電電池》 + 《WIRECARE宅電防護員》
                            br
                            img.img-fluid(src='../styles/images/news/tw/unboxes-02/content-1.jpg', alt='圖片')
                            br
                            br
                            p 簡單說一下《耐能充電電池》的特點 : 電量最大、比一般充電電池高出0.6倍的能量，高達3000mWh。同時電壓穩定、能全程1.5v持續輸出、搭載智慧晶片，穩壓充電技術，以及高達1,000次循環充電次數。
                            p 一盒電池共4入，售價790 元。另外販售充電電池組包含專用充電器、電池4入、充電線與電池收納盒，售價1,090元。
                                a.t-primary(href="https://shope.ee/6pNT6bYDEf" target='_blank')
                                    h6 電池這邊買: https://shope.ee/6pNT6bYDEf
                            br
                            h6 【POWGANITE 耐能鋰離子充電電池】
                            p 適合的電器類型是 “高耗電的產品”
                            br
                            img.img-fluid(src='../styles/images/news/tw/unboxes-02/content-2.jpg', alt='圖片')
                            br
                            br
                            p 例如遙控車、攝影閃光燈，我雖不玩車但每天都有閃燈需求，日常隨身都常備16顆…可謂電池富翁。
                            br
                            img.img-fluid(src='../styles/images/news/tw/unboxes-02/content-3.jpg', alt='圖片')
                            br
                            br
                            p 電池長這樣、淺綠色外皮很好辨識，目前只有3號電池，4號還未推出。
                            br
                            img.img-fluid(src='../styles/images/news/tw/unboxes-02/content-4.jpg', alt='圖片')
                            br
                            br
                            p 充電盒的設計比較有趣，不是直插市電，而是採用Micro USB介面。
                            br
                            img.img-fluid(src='../styles/images/news/tw/unboxes-02/content-5.jpg', alt='圖片')
                            br
                            br
                            p 這組電池是內建安全晶片的新一代電池，具備長效續航且穩定的電壓輸出。
                            br
                            b Ø 智慧晶片，安全充電：使用內建智慧晶片，並採用穩壓充電技術，【POWGANITE 耐能鋰離子充電電池】可以在電池溫度過高時自動保護，無論是家裡或是辦公室使用，都能用的開心又安心。
                            br
                            br
                            img.img-fluid(src='../styles/images/news/tw/unboxes-02/content-6.jpg', alt='圖片')
                            br
                            br
                            b Ø 電壓穩定，長效續航：【POWGANITE 耐能鋰離子充電電池】提供全程1.5V的穩定電壓，同時擁有長效續航功能，為需要高電壓、大電流的產品提供穩定輸出。
                            br
                            img.img-fluid(src='../styles/images/news/tw/unboxes-02/content-7.jpg', alt='圖片')
                            br
                            br
                            b Ø 強大能量，強勁持久：【POWGANITE 耐能鋰離子充電電池】擁有比一般充電電池高出0.6倍的能量，高達3000mWh，強大的能量輕鬆使用，電量不足再也不是問題！。
                            br
                            img.img-fluid(src='../styles/images/news/tw/unboxes-02/content-8.jpg', alt='圖片')
                            br
                            br
                            b Ø 成分安全，兼顧環保：成分不含鉛汞的【POWGANITE 耐能鋰離子充電電池】，除了擁有10年儲存壽命，還可以循環充電高達1,000次，同時兼顧永續發展與環保理念。
                            br
                            img.img-fluid(src='../styles/images/news/tw/unboxes-02/content-9.jpg', alt='圖片')
                            br
                            br
                            b Ø 低自放電，無記憶效應：【POWGANITE 耐能鋰離子充電電池】擁有低自放電的設計，長時間放置不使用，一年後仍可保持90%電量，達到耐用又高效的多重效果！
                            br
                            img.img-fluid(src='../styles/images/news/tw/unboxes-02/content-10.jpg', alt='圖片')
                            br
                            br
                            b 一盒電池共4入，售價790 元，另外販售充電電池組包含專用充電器、電池4入、充電線與電池收納盒，售價1,090元。
                            br
                            br
                            a.t-primary(href="https://shope.ee/6pNT6bYDEf" target='_blank')
                                h6 電池這邊買: https://shope.ee/6pNT6bYDEf
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="3C達人《雲爸》開箱- POWGANITE 耐能鋰離子3000mWh充電電池" data-description="Brook Livin 品牌智慧家庭商品開箱！新一代充電電池，低自放+無記憶+安全穩壓充電" data-image="https://brook-livin.com/styles/images/news/tw/unboxes-02/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="3C達人《雲爸》開箱- POWGANITE 耐能鋰離子3000mWh充電電池" data-description="Brook Livin 品牌智慧家庭商品開箱！新一代充電電池，低自放+無記憶+安全穩壓充電" data-image="https://brook-livin.com/styles/images/news/tw/unboxes-02/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="3C達人《雲爸》開箱- POWGANITE 耐能鋰離子3000mWh充電電池" data-description="Brook Livin 品牌智慧家庭商品開箱！新一代充電電池，低自放+無記憶+安全穩壓充電" data-image="https://brook-livin.com/styles/images/news/tw/unboxes-02/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="unboxes") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多開箱消息
                        +main-card('','styles/images/news/tw/unboxes-03/list.jpg','unboxing-3','2022/08/16','3C達人《雲爸》開箱-檢測家中插座安全的《WIRECARE 宅電防護員》','Brook Livin 品牌智慧家庭商品開箱！ WIRECARE宅電防護員 我覺得家家戶戶應該都要有')
                        +main-card('','styles/images/news/tw/media-8/list.jpg','unboxing-1','2022/01/04','WIRECARE宅電防護員 榮獲台灣優質產品金牌獎','孕龍科技公司旗下智慧家庭創新品牌「Brook Livin」以《WIRECARE宅電防護員》用電安全檢測產品，榮獲 2021-2022 年度《台灣優質產品金牌獎》！')
                        +main-card('','styles/images/news/tw/activity-6/list.jpg','unboxing','2021/12/23','WIRECARE於紐約時代廣場路透社大樓 重磅登場！','智慧家庭創新品牌【Brook Livin】，在Times Square 美國紐約時代廣場，正式宣佈於全美推出《WIRECARE宅電防護員》，守護全美消費者的居家與企業用電安全。')