//- index.pug
extends ./include/layout.pug

block content
    main#page.wrapper
        .page-hero
            .container
                .page-hero_text
                    h2.f-heroTitle-xs.text-center 最新消息
                .page-hero_img
                    img(src='styles/images/news-banner.png', alt='情境圖')
        #page-nav
            ul.nav.justify-content-center
                //- li.nav-item.news-link
                //-     a.nav-link(href='news' rel='nofollow') 品牌消息
                li.nav-item.medias-link
                    a.nav-link(href='medias') 媒體報導
                li.nav-item.activities-link
                    a.nav-link(href='activities') 活動特區
                li.nav-item.unboxes-link
                    a.nav-link.active(href='unboxes') 開箱介紹

        article.page-inner
            .filter-row.mb-3.mb-lg-4
                .container
                    .row.justify-content-center
                        .col-6.col-md-4.col-xl-3
                            .select-box
                                .form-group
                                    select.form-control.main-select
                                        option 居家安全
                        .col-6.col-md-4.col-xl-3
                            .select-box
                                .form-group
                                    select.form-control.main-select
                                        option WIRECARE 宅電防護員
                        .col-12.col-md-4.col-xl-3.mt-4.mt-md-0
                            .input-group.search-input
                                input.form-control(type="text" placeholder="搜尋商品" aria-describedby="button-search")
                                .input-group-append
                                    button#button-search(type="button")
                                        i.icon-magnifier
            section
                .container
                    .row#unboxes-inner
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/media-8/list.jpg','unboxing-1','2022/01/04','WIRECARE宅電防護員 榮獲台灣優質產品金牌獎','孕龍科技公司旗下智慧家庭創新品牌「Brook Livin」以《WIRECARE宅電防護員》用電安全檢測產品，榮獲 2021-2022 年度《台灣優質產品金牌獎》！')
                        .col-12.col-lg-4.my-lg-2
                            +main-card('','styles/images/news/tw/activity-6/list.jpg','unboxing','2021/12/23','WIRECARE於紐約時代廣場路透社大樓 重磅登場！','智慧家庭創新品牌【Brook Livin】，在Times Square 美國紐約時代廣場，正式宣佈於全美推出《WIRECARE宅電防護員》，守護全美消費者的居家與企業用電安全。')
            //- +page-navigation