//- index.pug
extends ./include/new-layout.pug
block meta
    title WIRECARE宅電防護員 榮獲台灣優質產品金牌獎
    meta(name='description' content='孕龍科技公司旗下智慧家庭創新品牌「Brook Livin」以《WIRECARE宅電防護員》用電安全檢測產品，榮獲 2021-2022 年度《台灣優質產品金牌獎》！')
    meta(property='image' content='https://livin.brookaccessory.com/styles/images/news/tw/media-8/meta.jpg')
    meta(property='og:title' content='WIRECARE宅電防護員 榮獲台灣優質產品金牌獎')
    meta(property='og:url' content='https://livin.brookaccessory.com/unboxing-1')
    meta(property='og:image' content='https://livin.brookaccessory.com/styles/images/news/tw/media-8/meta.jpg')
    meta(property='og:description' content='孕龍科技公司旗下智慧家庭創新品牌「Brook Livin」以《WIRECARE宅電防護員》用電安全檢測產品，榮獲 2021-2022 年度《台灣優質產品金牌獎》！')
    meta(property='og:site_name' content='WIRECARE宅電防護員 榮獲台灣優質產品金牌獎')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")


block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 智慧家庭創新品牌Brook Livin用電安全檢測產品《WIRECARE宅電防護員》 榮獲 2021-2022 年度《台灣優質產品金牌獎》
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#' title='台灣優質產品金牌獎') #台灣優質產品金牌獎
                                a.tag.t-primary.mr-2(href='#' title='台灣優良精品廠商協進會') #台灣優良精品廠商協進會
                                a.tag.t-primary.mr-2(href='#' title='孕龍科技') #孕龍科技
                                a.tag.t-primary.mr-2(href='#' title='Brook Livin') #Brook Livin
                                a.tag.t-primary.mr-2(href='#' title='宅電防護員') #宅電防護員
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/01/04
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p 狂賀！ZEROPLUS 孕龍科技公司旗下智慧家庭創新品牌「Brook Livin」，以《WIRECARE 宅電防護員》用電安全檢測產品，榮獲 2021-2022 年度《台灣優質產品金牌獎》！
                            br
                            img.img-fluid(src='../styles/images/news/tw/media-8/content.jpg', alt='圖片')
                            br
                            br
                            p ZEROPLUS 孕龍科技公司將持續配合政府，推廣企業品牌至國內外市場，並提升台灣企業優良品牌形象；以高品質、優質化的產品，讓全球顧客信任MIT的優秀產品。
                            p 感謝台灣優良精品廠商協進會給予ZEROPLUS 孕龍科技公司及旗下品牌鼓勵與支持，肯定《ZEROPLUS》及《Brook Livin》雙品牌商品，具備國際市場競爭力，為國內外市場的消費者與經銷夥伴持續努力！
                            br
                            br
                            a.t-primary(href="https://pse.is/3rt4qa" target='_blank')
                                h6 ※ 北美電商龍頭亞馬遜【Amazon USA】, WIRECARE 正式開賣! 全球消防我們把關!
                            br
                            a.t-primary(href="https://www.facebook.com/brooklivin" target='_blank')
                                h6 ※ 按讚加入【Brook Livin FB 粉絲專頁】，參加粉絲專屬活動

                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 Share
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="WIRECARE宅電防護員 榮獲台灣優質產品金牌獎" data-description="孕龍科技公司旗下智慧家庭創新品牌「Brook Livin」以《WIRECARE宅電防護員》用電安全檢測產品，榮獲 2021-2022 年度《台灣優質產品金牌獎》！" data-image="https://livin.brookaccessory.com/styles/images/news/tw/media-8/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="WIRECARE宅電防護員 榮獲台灣優質產品金牌獎" data-description="孕龍科技公司旗下智慧家庭創新品牌「Brook Livin」以《WIRECARE宅電防護員》用電安全檢測產品，榮獲 2021-2022 年度《台灣優質產品金牌獎》！" data-image="https://livin.brookaccessory.com/styles/images/news/tw/media-8/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="WIRECARE宅電防護員 榮獲台灣優質產品金牌獎" data-description="孕龍科技公司旗下智慧家庭創新品牌「Brook Livin」以《WIRECARE宅電防護員》用電安全檢測產品，榮獲 2021-2022 年度《台灣優質產品金牌獎》！" data-image="https://livin.brookaccessory.com/styles/images/news/tw/media-8/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="unboxes") 回到列表

                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 更多開箱消息
                        +main-card('','styles/images/news/tw/media-8/list.jpg','unboxing-1','2022/01/04','WIRECARE宅電防護員 榮獲台灣優質產品金牌獎','孕龍科技公司旗下智慧家庭創新品牌「Brook Livin」以《WIRECARE宅電防護員》用電安全檢測產品，榮獲 2021-2022 年度《台灣優質產品金牌獎》！')
                        +main-card('','styles/images/news/tw/activity-6/list.jpg','unboxing','2021/12/23','WIRECARE於紐約時代廣場路透社大樓 重磅登場！','智慧家庭創新品牌【Brook Livin】，在Times Square 美國紐約時代廣場，正式宣佈於全美推出《WIRECARE宅電防護員》，守護全美消費者的居家與企業用電安全。')