footer#footer.py-5
    .container
        .row.justify-content-md-between
            .col-12.col-lg-8
                .row.pl-2.pl-md-0
                    .col-4.col-md.mb-3.px-1.px-md-3
                        .fw-600.mb-2 Brookとは
                        ul.nav.flex-column
                            li.nav-item
                                a.nav-link.pl-0(href="../about" title='ブランド紹介' rel='nofollow') ブランド紹介
                    .col-4.col-md.mb-3.px-1.px-md-3
                        .fw-600.mb-2 最新ニュース
                        ul.nav.flex-column
                            //- li.nav-item.news-link
                            //-     a.nav-link.pl-0(href="../news") 品牌消息
                            li.nav-item.medias-link
                                a.nav-link.pl-0(href="../medias" title='メディア紹介' rel='nofollow') メディア紹介
                            li.nav-item.activities-link
                                a.nav-link.pl-0(href="../activities" title='イベント' rel='nofollow') イベント
                            //- li.nav-item.unboxes-link
                            //-     a.nav-link.pl-0(href="../unboxes") 開封の儀
                    //- .col-4.col-md.mb-3.px-1.px-md-3
                    //-     .fw-600.mb-2 今すぐ購入
                    //-     ul.nav.flex-column
                    //-         li.nav-item
                    //-             a.nav-link.pl-0(href="../store") オンラインストア
                    //-         li.nav-item
                    //-             a.nav-link.pl-0(href="../store") 取扱店舗
                    .col-4.col-md.mb-3.px-1.px-md-3
                        .fw-600.mb-2 お客様サポート
                        ul.nav.flex-column
                            li.nav-item
                                a.nav-link.pl-0(href="../warranty" title='保証について' rel='nofollow') 保証について
                            li.nav-item
                                a.nav-link.pl-0(href="../return" title='返品・交換方法' rel='nofollow') 返品・交換方法
                            li.nav-item
                                a.nav-link.pl-0(href="../qa" title='よくあるご質問' rel='nofollow') よくあるご質問
                    .col-4.col-md.mb-3.px-1.px-md-3
                        .fw-600.mb-2 Brookサービス
                        ul.nav.flex-column
                            li.nav-item
                                a.nav-link.pl-0(href="https://www.brookaccessory.com/" target="_blank" title='Brook Gaming' rel='nofollow') Brook Gaming
                            li.nav-item
                                a.nav-link.pl-0(href="#" title='Brook Livin') Brook Livin
            .col-12.col-lg-3.mt-4.mt-lg-0
                .row.align-items-center
                    .col-12.col-md-2.col-lg-12.mb-2
                        .fw-600 フォローする
                    .col-12.col-md-6.col-lg-12
                        ul.nav.follow-us
                            li.nav-item
                                a.nav-link.pl-0(href="https://www.facebook.com/brooklivin" target='_blank') 
                                    i.icon-facebook
                            li.nav-item
                                a.nav-link.pl-0(href="https://www.youtube.com/channel/UCExk26fvJiQtVVl_zwIZC0A" target='_blank' ) 
                                    i.icon-youtube
                            li.nav-item
                                a.nav-link.pl-0(href="https://lin.ee/peukhM7" target='_blank') 
                                    i.icon-line-1
                            //- li.nav-item
                                //- a.nav-link.pl-0(href="#" target='_blank') 
                                //-     i.icon-twittwr
                            //- li.nav-item
                                //- a.nav-link.pl-0(href="#" target='_blank') 
                                //-     i.icon-zeczec
                        //- a(href='tel:0800581288') 服務專線：0800-581-288
                    .col-12.col-md-4.col-lg-12
                        .text-md-right
                            a.contact-us(href="../contact-us" title='お問い合わせ' rel='nofollow')
                                span.f-en Contact Us
                                i.icon-mail
            .col-12
                hr.my-4
            .col-12
                .row
                    .col-12.col-lg-10.mb-4.mb-lg-0
                        span.copyright Copyright © Zeroplus Technology Co., Ltd. All Rights Reserved. Brook is the registered trademark of Copyright
                    .col-12.col-lg-2.text-lg-right
                        a(href="../privacy" title='個人情報保護方針' rel='nofollow') 個人情報保護方針

.goTop
    a.goTopBtn.jq-goTop(href='#')
        i.icon-arrow-t