//- head.pug
meta(charset='utf-8')
title WIRECARE - Brook Livin
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='google-site-verification' content='iU-RJ72y4OL581ccJw7ku4ObSyCF-UvEXtQmoKyibUE')
meta(name='description' content='WIRECARE 住宅電気の守護者。ワンクリック測定、10秒で10年先を守れる、ワンクリックで即測定開始、各コンセントの状態を個別に判断、電気の使用安全に抜かりなし!')
meta(name='robots' content='Brook Livin, Wirecare, 居家生活, 電線檢測')
meta(property='og:image:width' content='680')
meta(property='og:image:height' content='420')
meta(property='og:title' content='WIRECARE - Brook Livin')
meta(property='og:type' content='website')
meta(property='og:url' content='https://livin.brookaccessory.com/product/wirecare')
meta(property='og:image' content='https://livin.brookaccessory.com/styles/images/product-meta.png')
meta(property='og:description' content='WIRECARE 住宅電気の守護者。ワンクリック測定、10秒で10年先を守れる、ワンクリックで即測定開始、各コンセントの状態を個別に判断、電気の使用安全に抜かりなし!')
meta(property='og:site_name' content='WIRECARE - Brook Livin')
link(rel="icon" type="image/x-icon" href="../../styles/images/web.ico")
//- font & icon
link(rel="stylesheet" type="text/css" href="../../styles/fonts/css/fontello.css")
//- plugins
link(rel="stylesheet" type="text/css" href="../../styles/plugins/bootstrap-reboot.min.css")
link(rel="stylesheet" type="text/css" href="../../styles/plugins/bootstrap.min.css")
link(rel="stylesheet" type="text/css" href="../../styles/plugins/slick.css")
link(rel="stylesheet" type="text/css" href="../../styles/plugins/slick-theme.css")
block plugins-css
link(rel="stylesheet" type="text/css" href="../../styles/plugins/animate.css")

link(rel="stylesheet" type="text/css" href="../../styles/common.css")
block page-css
// Global site tag (gtag.js) - Google Analytics
script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-142695956-17')
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-142695956-17');
