//- index.pug
extends include/layout.pug

block content
    main#page.wrapper
        .page-hero
            .container
                .page-hero_text
                    h2.f-heroTitle-xs.text-center テクノロジーを通して安心を#[br]生活の小さな幸せをお届けします
                .page-hero_img
                    img(src='../styles/images/about-banner.jpg', alt='情境圖')

        article.page-inner.pt-5.pb-0
            section.text-center
                .container
                    .d-flex.flex-column.flex-md-row.justify-content-center.align-items-center.mb-4
                        span.mx-3.d-inline-block
                            img.img-no-full(src='../styles/images/brook-g.png', alt='' style='width:100%;max-width:200px;')
                    p.px-4.px-md-0 台湾で20年以上の歴史があるゼロプラステクノロジーは、長年培ってきた研究開発の知識と新世代の創造性を融合し、新しいホームテクノロジーブランド──Brook Livinを立ち上げました。#[br]Brook Livinは、安全性や暮らしのニーズを満たすため、生活に溶け込んだ革新的なデザインを追求しています。同時に、サステナビリティと社会貢献に努め、より良い「家」の実現を目指します。
                    .after-h-line.mx-auto.mt-3.mt-md-4
            section
                .row.no-gutters
                    .col-12.col-lg-6.order-lg-1
                        .about-pic
                            img.img-fluid(src='../styles/images/about-1.jpg', alt='')
                    .col-12.col-lg-6.p-4.px-lg-5.py-lg-0.p-xl-5.order-lg-2
                        .about-text
                            //- .t-primary 2017年
                            h4.f-sc-title.mb-3 オリジナルアプローチ
                            p Brook Livinは、豊富な研究開発経験と革新的なブランドチームにより、皆様の声に耳を傾けるだけでなく、ニーズを的確に把握し、便利で安全かつ実用的な新しいホームテクノロジーを創造します。
                .row.no-gutters
                    .col-12.col-lg-6.order-lg-2
                        .about-pic
                            img.img-fluid(src='../styles/images/about-2.jpg', alt='')
                    .col-12.col-lg-6.p-4.px-lg-5.py-lg-0.p-xl-5.order-lg-1
                        .about-text
                            //- .t-primary 2020年 旗下品牌
                            h4.f-sc-title.mb-3 サステナブルな社会
                            p Brook Livinにとって、「家族」と「家」はその言葉通りの意味だけではありません。社会で助けを必要としているすべてのコミュニティに関心を寄せ、様々な方法で社会の持続可能な発展を目指しています。恵まれない人々を助けると同時に、エコロジーを考慮した高品質で環境に優しいライフスタイルブランドとして成長し続けます。