extends include/new-layout.pug
block meta
    title Brook Livin & Reasummit 多謝【WIRECARE】11月目標金額1,100,000円達成!支援人数Up!
    meta(name='description' content='ご支援者の皆様 【Brook Livin WIRECARE】をご支援してくださった皆様、本当にありがとうございます!24時間の経過を待たずして、目標金額を達成することができました!皆さまからの温かいご支援に、大変感謝しております!!')
    meta(property='image' content='https://brook-livin/styles/images/news/jp/activity-01/meta.png')
    meta(property='og:title' content='Brook Livin & Reasummit 多謝【WIRECARE】11月目標金額1,100,000円達成!支援人数Up!')
    meta(property='og:url' content='https://brook-livin/jp/activity')
    meta(property='og:image' content='https://brook-livin/styles/images/news/jp/activity-01/meta.png')
    meta(property='og:description' content='ご支援者の皆様 【Brook Livin WIRECARE】をご支援してくださった皆様、本当にありがとうございます!24時間の経過を待たずして、目標金額を達成することができました!皆さまからの温かいご支援に、大変感謝しております!!')
    meta(property='og:site_name' content='Brook Livin & Reasummit 多謝【WIRECARE】11月目標金額1,100,000円達成!支援人数Up!')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 Brook Livin & Reasummit 多謝【WIRECARE】11月目標金額達成 1,100,000円&Up!支援人数100人&Up!
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#') #WIRECARE
                                a.tag.t-primary.mr-2(href='#') #Greenfunding
                                a.tag.t-primary.mr-2(href='#') #支援総額1100000円Up
                                a.tag.t-primary.mr-2(href='#') #支援人数100人Up
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/11/25
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            p ご支援者の皆様#[br]【Brook Livin WIRECARE】をご支援してくださった皆様、#[br]本当にありがとうございます!
                            br
                            img.img-fluid(src='../styles/images/news/jp/activity-01/content-1.png', alt='圖片')
                            br
                            br
                            p 24時間の経過を待たずして、目標金額を達成することができました!#[br]皆さまからの温かいご支援に、大変感謝しております!!
                            br
                            br
                            img.img-fluid(src='../styles/images/news/jp/activity-01/content-2.png')
                            br
                            br
                            p Brook Livin WIRECAREはいわゆる「予防製品」であり、#[br]日常生活になくてはならないものとは感じ#[br]ないかもしれません。
                            br
                            br
                            img.img-fluid(src='../styles/images/news/jp/activity-01/content-3.png')
                            br
                            br
                            p ですが、大切な人の命、#[br]たくさんの思い出が詰まったお住まいなど、決して失いたくは#[br]ないものではないでしょうか？
                            br
                            br
                            a.t-primary(href='https://greenfunding.jp/carpediem/projects/5374')
                                b 《 Greenfunding 》
                            br
                            br
                            a.t-primary(href='https://brook-livin/jp/index')
                                b 《 Brook Livin Official Website in Japan 》
                            br
                            br
                            a.t-primary(href='https://www.linkedin.com/company/zeroplus-technology-co-ltd')
                                b 《 ZEROPLUS & Brook Livin: LinkedIn Page 》
                            br
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 シェアする
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="Brook Livin & Reasummit 多謝【WIRECARE】11月目標金額1,100,000円達成!支援人数Up!" data-description="ご支援者の皆様 【Brook Livin WIRECARE】をご支援してくださった皆様、本当にありがとうございます!24時間の経過を待たずして、目標金額を達成することができました!皆さまからの温かいご支援に、大変感謝しております!!" data-image="https://brook-livin/styles/images/news/jp/activity-01/meta.png")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="Brook Livin & Reasummit 多謝【WIRECARE】11月目標金額1,100,000円達成!支援人数Up!" data-description="ご支援者の皆様 【Brook Livin WIRECARE】をご支援してくださった皆様、本当にありがとうございます!24時間の経過を待たずして、目標金額を達成することができました!皆さまからの温かいご支援に、大変感謝しております!!" data-image="https://brook-livin/styles/images/news/jp/activity-01/meta.png")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="Brook Livin & Reasummit 多謝【WIRECARE】11月目標金額1,100,000円達成!支援人数Up!" data-description="ご支援者の皆様 【Brook Livin WIRECARE】をご支援してくださった皆様、本当にありがとうございます!24時間の経過を待たずして、目標金額を達成することができました!皆さまからの温かいご支援に、大変感謝しております!!" data-image="https://brook-livin/styles/images/news/jp/activity-01/meta.png")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="activities") 一覧に戻る
                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 その他のニュース
                        +main-card('','../styles/images/news/jp/media-02/list.jpg','media-2','2021/12/10','「こんな小さな機械、役に立つの？」','コンセントに差し込むだけで劣化を診断してくれる')
                        +main-card('','../styles/images/news/jp/media-01/list.png','media-1','2021/11/03','コンセント火災の危険度は、WIRECAREが察知します','WIRECAREなら、老朽化したコンセントや配線、延長コードの危険度を、たった10秒で確認できます。')
                        //- +main-card('','../styles/images/pic-2.jpg','new')
                        //- +main-card('','../styles/images/pic-3.jpg','new')