extends include/new-layout.pug
block meta
    title コンセント火災の危険度は、WIRECAREが察知します
    meta(name='description' content='WIRECAREなら、老朽化したコンセントや配線、延長コードの危険度を、たった10秒で確認できます。')
    meta(property='image' content='https://brook-livin/styles/images/news/jp/media-01/content1.png')
    meta(property='og:title' content='コンセント火災の危険度は、WIRECAREが察知します')
    meta(property='og:url' content='https://brook-livin/jp/media-1')
    meta(property='og:image' content='https://brook-livin/styles/images/news/jp/media-01/content1.png')
    meta(property='og:description' content='WIRECAREなら、老朽化したコンセントや配線、延長コードの危険度を、たった10秒で確認できます。')
    meta(property='og:site_name' content='コンセント火災の危険度は、WIRECAREが察知します')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 コンセント火災の危険を事前に察知
                        .row
                            .col-6.text-left
                                a.tag.t-primary.mr-2(href='#') #WIRECARE
                                a.tag.t-primary.mr-2(href='#') #危険を10秒で検知
                                a.tag.t-primary.mr-2(href='#') #NASAの科学者
                                a.tag.t-primary.mr-2(href='#') #190g
                            .col-6.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/11/03
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.img-fluid(src='../styles/images/news/jp/media-01/content1.png', alt='圖片')
                            br
                            br
                            img.img-fluid(src='../styles/images/news/jp/media-01/content2.png', alt='圖片')
                            br
                            br
                            p 台湾で、コンセント劣化による火災を未然に感知してきたWIRECAREが、ついに日本にやってきました！ コンセント劣化の検知は、これ1つでOK。WIRECAREなら、老朽化したコンセントや配線、延長コードの危険度を、たった10秒で確認できます。
                            p 缶コーヒーより軽い190グラム、大きさは10センチ四方。こんな小さなWIRECAREが、経年劣化を察知してくれるなんてびっくりです。
                            img.img-fluid(src='../styles/images/news/jp/media-01/content3.png', alt='圖片')
                            p このサイズ、この軽さだったら、ご実家のご両親や一人暮らしのお子様でも、手軽に扱えますね。
                            br
                            img.img-fluid(src='../styles/images/news/jp/media-01/content4.png', alt='圖片')
                            br
                            br
                            p 使い方は簡単。WIRECAREを、チェックしたいコンセントや延長コードに差すだけ。10秒経ったら、危険度を3段階の色でお知らせします。
                            p あなたの家にあるコンセントは、グリーンですか？レッドですか？
                            img.img-fluid(src='../styles/images/news/jp/media-01/content5.png', alt='圖片')
                            br
                            br
                            ul.list-unstyled
                                li #[i.t-primary.icon-ok] コンセントが経年劣化しているのか、外から見てもわからない
                                li #[i.t-primary.icon-ok] 電気の専門業者じゃないと調べられないのでは？
                                li #[i.t-primary.icon-ok] 素人がいじって感電したらこわい
                                li #[i.t-primary.icon-ok] 電気のことは、年寄りにはわからない…#[br]#[br]
                                    .text-center
                                        img.mx-auto(src='../styles/images/news/jp/media-01/content6.png', alt='圖片' style='max-width:500px;width:100%;')
                                        br
                                        br
                                li #[i.t-primary.icon-ok] テレビのウラの延長コード、長いこと使っているけどだいじょうぶかな？#[br]#[br]
                                    .text-center
                                        img.mx-auto(src='../styles/images/news/jp/media-01/content7.png', alt='圖片' style='max-width:500px;width:100%;')
                                        br
                                        br
                            img.img-fluid(src='../styles/images/news/jp/media-01/content8.png', alt='圖片')
                            br
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/jp/media-01/content9.png', alt='圖片' style='max-width:500px;width:100%;')
                            br
                            br
                            p 長年使ってきたコンセントは、経年劣化がすすんでいます。経年劣化はショートや漏電を引き起こしやすく、火災の原因となってきました。
                            p いままでは経年劣化を確認するためには、壁に埋まったコンセントの内部を解体するしかなく、なかなか未然に察知することが困難でした。
                            p しかし！WIRECAREなら、そのコンセントに差し込むだけで、危険度を判定することができるようになったのです。
                            br
                            br
                            img.img-fluid(src='../styles/images/news/jp/media-01/content10.png', alt='圖片')
                            br
                            br
                            p WIRECAREなら、電気工事のような難しい知識や操作は必要ありません。
                            p コンセントの危険度を計測するには、WIRECAREをコンセントに差し込むだけ。たった10秒で危険度を、グリーン、オレンジ、レッドの3色で判定します。
                            p 使い方は、電気製品をコンセントに差し込むのと同じ。感電の心配もありません。
                            br
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/jp/media-01/content11.png', alt='圖片' style='max-width:680px;width:100%;')
                            br
                            br
                            img.img-fluid(src='../styles/images/news/jp/media-01/content12.png', alt='圖片')
                            br
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/jp/media-01/content13.png', alt='圖片' style='max-width:500px;width:100%;')
                            br
                            br
                            p 差し込むだけで危険度が計測できるWIRECAREなら、高齢者でも扱いやすいですね。
                            p 遠く離れたご実家のご両親に、あなたからWIRECAREの「安全」をプレゼントするのはいかがですか？ご実家の火災を未然に防げます。
                            p 日本では、火災による死者の70％が65歳以上の高齢者です。WIRECAREが1つあれば、大切なご両親やご実家を、コンセント劣化による火災から守れるのです。
                            br
                            br
                            img.img-fluid(src='../styles/images/news/jp/media-01/content14.png', alt='圖片')
                            br
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/jp/media-01/content15.png', alt='圖片' style='max-width:680px;width:100%;')
                            br
                            p 木造建築の多い台湾では、コンセント劣化による火災を 心配する家が多く、このクラウドファンディングは大きな 関心を集めました。
                            p 木造家屋が多い環境は、日本も同じ。WIRECAREで、 あなたの家の安全を守りましょう。
                            br
                            br
                            img.img-fluid(src='../styles/images/news/jp/media-01/content16.png', alt='圖片')
                            br
                            br
                            p わずか100ドルのWIRECAREは、家庭や ビジネスにおける回路の安全性を確保する ための良い方法だと思います。
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/jp/media-01/content17.png', alt='圖片' style='max-width:680px;width:100%;')
                            br
                            b.d-block.t-primary.mb-1 ジャック・グランセル#[br]
                            p 世界的に有名な組み込みシステムエンジニアであり、作家 、講演者でもある。最初の組み込みシステムのいくつかを 設計した。3つのハイテク企業を立ち上げ、100以上の組 み込みシステムを構築または開発を管理し、現在は組み 込みシステムに関する企業へのアドバイス、講演、執筆を 行っている。また、コロンビア事故調査委員会によって 設立されたNASAの「Super Problem Resolution Team」 では、唯一の組込み担当者として、外部から高い評価を 受けている人々の専門知識を活用した。
                            .text-center
                                img.mx-auto(src='../styles/images/news/jp/media-01/content18.png', alt='圖片' style='max-width:680px;width:100%;')
                            .text-center
                                img.mx-auto(src='../styles/images/news/jp/media-01/content19.png', alt='圖片' style='max-width:680px;width:100%;')
                            br
                            ul.list-unstyled
                                li プラグ:日本仕様のコンセント、折り畳み収納可能
                                li サイズ:縦10cm×横10cm×高さ3.5cm
                                li 重量:190g
                                li 電圧検出範囲:100V~240V
                                li 周波数検出範囲:50~60Hz
                                li 材質:プラスチック
                                li PSE認証不要
                                li カラー:白
                                li 生産者:台湾
                                li 製造国:台湾
                            br
                            br
                            .text-center
                                img.mx-auto(src='../styles/images/news/jp/media-01/content20.png', alt='圖片' style='max-width:680px;width:100%;')
                            br
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 シェアする
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="コンセント火災の危険度は、WIRECAREが察知します" data-description="WIRECAREなら、老朽化したコンセントや配線、延長コードの危険度を、たった10秒で確認できます。" data-image="https://brook-livin/styles/images/news/jp/media-01/content1.png")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="コンセント火災の危険度は、WIRECAREが察知します" data-description="WIRECAREなら、老朽化したコンセントや配線、延長コードの危険度を、たった10秒で確認できます。" data-image="https://brook-livin/styles/images/news/jp/media-01/content1.png")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="コンセント火災の危険度は、WIRECAREが察知します" data-description="WIRECAREなら、老朽化したコンセントや配線、延長コードの危険度を、たった10秒で確認できます。" data-image="https://brook-livin/styles/images/news/jp/media-01/content1.png")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 一覧に戻る
                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 その他のニュース
                        +main-card('','../styles/images/news/jp/media-02/list.jpg','media-2','2021/12/10','「こんな小さな機械、役に立つの？」','コンセントに差し込むだけで劣化を診断してくれる')
                        +main-card('','../styles/images/news/jp/activity-01/list.png','activity','2021/11/25','多謝【WIRECARE】11月目標金額1,100,000円達成!支援人数Up!','ご支援者の皆様 【Brook Livin WIRECARE】をご支援してくださった皆様、本当にありがとうございま…')