extends include/new-layout.pug
block meta
    title 「こんな小さな機械、役に立つの？」【Brook Livin WIRECARE】をコンセントに差し込んで驚いた!
    meta(name='description' content='日本の火災の11.7％が、配線や漏電によるものです。WIRECAREは、この火災原因を未然に検知することができるのです。コンセントに差し込むだけで劣化を診断してくれる。')
    meta(property='image' content='https://livin.brookaccessory.com/styles/images/news/jp/media-02/meta.jpg')
    meta(property='og:title' content='「こんな小さな機械、役に立つの？」【Brook Livin WIRECARE】をコンセントに差し込んで驚いた!')
    meta(property='og:url' content='https://livin.brookaccessory.com/jp/media-2')
    meta(property='og:image' content='https://livin.brookaccessory.com/styles/images/news/jp/media-02/meta.jpg')
    meta(property='og:description' content='日本の火災の11.7％が、配線や漏電によるものです。WIRECAREは、この火災原因を未然に検知することができるのです。コンセントに差し込むだけで劣化を診断してくれる。')
    meta(property='og:site_name' content='「こんな小さな機械、役に立つの？」【Brook Livin WIRECARE】をコンセントに差し込んで驚いた!')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 「こんな小さな機械、役に立つの？」【Brook Livin WIRECARE】をコンセントに差し込んで驚いた!
                        .row
                            .col-12.col-sm-10.text-left
                                a.tag.t-primary.mr-2(href='#') #Greenfunding
                                a.tag.t-primary.mr-2(href='#') #Reasummit
                                a.tag.t-primary.mr-2(href='#') #NewsweekJapan
                                a.tag.t-primary.mr-2(href='#') #電線火災
                                a.tag.t-primary.mr-2(href='#') #電気工事業者や電気の知識は必要なし
                            .col-12.col-sm-2.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2021/12/10
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.img-fluid(src='../styles/images/news/jp/media-02/content-1.png', alt='圖片')
                            br
                            br
                            p コンセントに差し込むだけで劣化を診断してくれる【Brook Livin WIRECARE】
                            br
                            h4 WIRECARE - 特徴
                            p 1. 電線火災の大きな原因である壁内コンセント配線の劣化状態が一目で検知できる
                            p 2. コンセントに差し込むだけ。たった10秒で回路の抵抗を検知
                            p 3. 軽量コンパクトなので、持ち運びがカンタン
                            br
                            p 日本の火災の11.7％が、配線や漏電によるものです。#[br]WIRECAREは、この火災原因を未然に検知することができるのです。
                            br
                            img.img-fluid(src='../styles/images/news/jp/media-02/content-2.png', alt='圖片')
                            br
                            br
                            h4 日本の火災
                            p 命すら奪いかねない住宅火災。このWIRECARE一台で、#[br]消防車や救急車の出動回数まで減らすことができるのです。
                            br
                            p.t-primary ◆WIRECAREの3つの魅力#[br]WIRECAREの魅力を詳しくご紹介します。
                            p 1. 電気工事業者や電気の知識は必要なし
                            p いままでの漏電、配線の点検は、#[br]専門の電気工事業者に依頼するしかありませんでした。#[br]また、コンセントの配線のほとんどが壁の中にあるため、#[br]本格的な点検には手間もかかります。#[br]しかしWIRECAREがあれば、電気の知識はまったく必要ありません。
                            br
                            img.img-fluid(src='../styles/images/news/jp/media-02/content-3.jpg', alt='圖片')
                            br
                            br
                            p.t-primary 電気工事業者や電気の知識は必要なし
                            p 2. コンセントに差し込んで10秒
                            p WIRECAREの使い方は、簡単でシンプル。コンセントにさすだけです。#[br]これなら、子供でもご高齢者でも、扱うことができます。#[br]しかもWIRECAREなら、緑、オレンジ、赤の表示色を確認するだけで安全性を一瞬でチェックできます。
                            br
                            img.img-fluid(src='../styles/images/news/jp/media-02/content-4.png', alt='圖片')
                            br
                            br
                            p.t-primary コンセントに差し込んで10秒
                            p 3. 軽量小型で、どこにでも持ち運べる#[br]大きさは10センチ四方。重さはたった190g。
                            p 大きさは10センチ四方。重さはたった190g。#[br]家の中には、たくさんのコンセントがあります。#[br]WIRECAREなら、テレビの裏のコンセントも、冷蔵庫の上のコンセントも、そしてガレージにあるコンセントもこれ一台で検査可能。#[br]延長コードも検査できます。
                            br
                            img.img-fluid(src='../styles/images/news/jp/media-02/content-5.jpg', alt='圖片')
                            br
                            br
                            p.t-primary 軽量小型で、どこにでも持ち運べる
                            p ◆ご実家のご両親へ、安心をプレゼント
                            p 日本の火災による死者の70％は、高齢者です。#[br]老朽化による漏電事故も少なくありません。#[br]長い間住み続けているご実家にお住まいのご高齢のご両親に、#[br]WIRECAREをプレゼントなさる方も増えています。#[br]WIRECAREなら、軽量で操作が簡単なので、#[br]ご高齢者にも扱いやすいと好評です。#[br]ご両親に、電気火災を未然に防ぐ「安心」をプレゼントできます。
                            br
                            p Reasummit(代表者：大西)は、コンセントの劣化状況をたった10秒、一目で検知できる「WIRECARE」のクラウドファンディングを、GREEN FUNDINGにて2022年1月14日まで実施することをお知らせいたします。
                            p 《 Brook Livin & Reasummit & Greenfunding スタッフ一同 》プロジェクトページURL: #[a(href='https://greenfunding.jp/carpediem/projects/5374' target='_blank') https://greenfunding.jp/carpediem/projects/5374 ]
                            br
                            br
                            h4.t-primary 【Brook Livin WIRECARE商品概要】
                            p プラグ ：日本仕様コンセント、本体に折りたたみ収納#[br]サイズ ：縦10cm×横10cm×高さ3.5cm#[br]重量 ：190g#[br]電圧検出範囲 ：100V～240V#[br]周波数検出範囲：50～60Hz#[br]材質 ：プラスチック#[br]カラー ：白#[br]生産者 & 製造国：台湾
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 シェアする
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="「こんな小さな機械、役に立つの？」【Brook Livin WIRECARE】をコンセントに差し込んで驚いた!" data-description="日本の火災の11.7％が、配線や漏電によるものです。WIRECAREは、この火災原因を未然に検知することができるのです。コンセントに差し込むだけで劣化を診断してくれる。" data-image="https://livin.brookaccessory.com/styles/images/news/jp/media-02/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="「こんな小さな機械、役に立つの？」【Brook Livin WIRECARE】をコンセントに差し込んで驚いた!" data-description="日本の火災の11.7％が、配線や漏電によるものです。WIRECAREは、この火災原因を未然に検知することができるのです。コンセントに差し込むだけで劣化を診断してくれる。" data-image="https://livin.brookaccessory.com/styles/images/news/jp/media-02/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="「こんな小さな機械、役に立つの？」【Brook Livin WIRECARE】をコンセントに差し込んで驚いた!" data-description="日本の火災の11.7％が、配線や漏電によるものです。WIRECAREは、この火災原因を未然に検知することができるのです。コンセントに差し込むだけで劣化を診断してくれる。" data-image="https://livin.brookaccessory.com/styles/images/news/jp/media-02/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 一覧に戻る
                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 その他のニュース
                        +main-card('','../styles/images/news/jp/activity-01/list.png','activity','2021/11/25','多謝【WIRECARE】11月目標金額1,100,000円達成!支援人数Up!','ご支援者の皆様 【Brook Livin WIRECARE】をご支援してくださった皆様、本当にありがとうございま…')
                        +main-card('','../styles/images/news/jp/media-01/list.png','media-1','2021/11/03','コンセント火災の危険度は、WIRECAREが察知します','WIRECAREなら、老朽化したコンセントや配線、延長コードの危険度を、たった10秒で確認できます。')