//- index.pug
extends include/layout.pug

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                h2.f-sc-title.mb-3.mb-md-4 個人情報保護方針
                hr.my-3.my-md-4
                h4.f-textTitle 個人情報に関する告知事項
                .new-inner.pb-3.pb-md-5
                    p 株式会社ゼロプラステクノロジー（以下「当社」と称します)は、Brookウェブサイト関連サービスのために、サービス利用者の情報を取得、処理、使用いたします。例：メンテナンスおよび保証サービス、カスタマーサービスメールボックス、その他の一般会員サービスなどの情報は、お客様の権利と利益の尊重に基づいています。お客様からお預かりする大切な個人情報のより安全で適正な管理維持に努め、その方針は以下の原則に基づいています。
                    br
                    p 当社による個人情報の収集の目的は、Brookのウェブサイト業務とマーケティング、統計調査と分析、または情報データベース管理の実行であり、当社の事業のために供する全ての個人情報は適切に取り扱われます。
                    br
                    p 当社はお客様の氏名、性別、連絡先情報など個人情報のカテゴリーを含む、Brookウェブサイト関連サービスの実行に必要な場合においてのみ個人情報を取得します。
                    br
                    p 当社によるお客様の個人情報の取得は関連する法令で保存期間が別途規定されていない限り、サービス契約の事前確立段階、契約期間中、またはお客様の同意を得た期間にのみ処理または使用されます。
                    br
                    p 原則として、お客様の個人情報は、台湾、澎湖、金門、媽祖およびその他の中華民国の管轄下で電子ファイルまたは紙の形式で取り扱われます。各情報は当社および当社の外部委託製造業者によってのみ処理および使用されます。個人情報の処理または利用の詳細についてご質問がある場合は、お気軽にお問合せください。
                    br
                    p 個人情報の取得、処理、または使用については、当社は個人情報保護マネジメントシステムを定め、これを定期的に見直し、継続的に改善いたします。すべてのプロセスには厳格な管理手順があり、標準的な操作手順により、個人情報は当社社内で安全に取り扱われます。
                    br
                    p 個人情報の閲覧または照会を依頼します。#[br]
                    | 個人情報の複製を依頼します。#[br]
                    | 個人情報の補足または訂正を依頼します。#[br]
                    | 個人情報の取得、処理、または使用の停止を要求します。#[br]
                    | 個人情報の削除を要求します。
                    br
                    br
                    br
                    p お問い合わせ先のメールアドレスは、当社公式ウェブサイト（URL：：#[a(href='https://livin.brookaccessory.com') https://livin.brookaccessory.com]) からご確認いただけます。上記の理由により個人情報を取得、処理、または使用する場合がありますが、お客様は法令によりご自身の個人情報を当社に提供することを義務付けられているわけではありません。ただし、個人情報を提供しない、または不完全な情報を提供することを選択した場合、当社のサービスを提供できない場合がありますのでご了承ください。(例：メンテナンスおよび保証サービス、メールによるお問合せなど)
                