//- index.pug
extends include/layout.pug

block plugins-js
    //- script(src="scripts/plugins/slick.js")
    script(src="../scripts/data/qa_jp.js") 

block content
    main#page.wrapper
        .page-hero
            .container
                .page-hero_text
                    h2.f-heroTitle-xs.text-center お客様サポート
                .page-hero_img
                    img(src='../styles/images/store.jpg', alt='情境圖')
        #page-nav
            ul.nav.nav-scroll.justify-content-center
                li.nav-item
                    a.nav-link(href='store') 取扱店舗
                li.nav-item
                    a.nav-link(href='warranty') 保証について
                li.nav-item
                    a.nav-link(href='return') 返品・交換方法
                li.nav-item
                    a.nav-link.active(href='qa') FAQ

        article.page-inner.pb-0
            section.mb-3.mb-md-5
                .container
                    .row
                        .col-3.col-md-2.pr-0
                            ul.qa-nav.list-unstyled.cutover.pt-3
                                li.mb-3
                                    a(href='#qa-Section1') 一般的な質問
                                li.mb-3
                                    a(href='#qa-Section2') 購入に関して
                                li.active.mb-3
                                    a(href='#qa-Section3') WIRECARE
                                li.mb-3
                                    a(href='#qa-Section4') その他のサービス

                        .col-9.col-md-10
                            #qa-Section1.cutover-in
                                //- +collapse-item('Brook Livin 是做什麼的？','Brook Livin 挖掘人們在生活中潛在需求，打造生活的安全網。以20年的研發技術為後盾，致力開發生活科技產品，在這瞬息萬變的時代，如同變色龍般發揮創意，以滿足人們對於生活品質的追求。')
                            #qa-Section2.cutover-in
                            #qa-Section3.show.cutover-in
                            #qa-Section4.cutover-in
                                
            section.bg-second.text-center.py-3.py-md-5
                .container
                    h5.f-sc-title.mb-3.mb-md-4 お探しの答えが見つかりませんか？
                    p 上記のよくあるご質問で、お探しの答えが見つからない場合は、お手数ですが最寄りの取扱店までお問い合わせください。または、テクニカルサポートフォームよりご記入いただき、Brookまでお問い合わせください。
                    .row.justify-content-md-center.mt-3.mt-md-5
                        .col-12.col-md-6.col-xl-5
                            .qa-card.p-4
                                .row
                                    .col-12.col-lg-4
                                        i.icon-store
                                    .col-12.col-lg-8
                                        p.mb-4 最寄りの取扱店を探し、問題に対応いたします。
                                        a.main-btn.btn-primary(href='store' title='取扱店舗') 取扱店舗
                        .col-12.col-md-6.col-xl-5
                            .qa-card.p-4
                                .row
                                    .col-12.col-lg-4
                                        i.icon-edit-paper
                                    .col-12.col-lg-8
                                        p.mb-4 テクニカルサポートフォームよりご記入いただき、Brookまでお問い合わせください。
                                        a.main-btn.btn-primary(href='rma' title='テクニカルサポート') テクニカルサポート