//- index.pug
extends include/layout.pug

block content
    main#page.wrapper
        .page-hero
            .container
                .page-hero_text
                    h2.f-heroTitle-xs.text-center お客様サポート
                .page-hero_img
                    img(src='../styles/images/store.jpg', alt='情境圖')
        #page-nav
            ul.nav.nav-scroll.justify-content-center
                li.nav-item
                    a.nav-link(href='store') 取扱店舗
                li.nav-item
                    a.nav-link(href='warranty' rel='nofollow') 保証について
                li.nav-item
                    a.nav-link.active(href='return' rel='nofollow') 返品・交換方法
                li.nav-item
                    a.nav-link(href='qa' rel='nofollow') FAQ
        article.py-2.py-md-5.mb-md-5.return-page
            .container
                .row.return-row
                    .col-12.col-md-6.pb-4.pb-md-0
                        h3.f-textTitle-big.text-center.py-4.py-md-5 保証対象内の返品・交換方法
                        .row.justify-content-center
                            .col-12.col-md-6.text-center.text-md-right
                                button.return-btn(type="button" data-toggle="modal" data-target="#in-store" data-tooltip="tooltip" data-placement="bottom" title="取扱店への返品・交換方法")
                                    i.icon-store-search
                                    h5.f-textTitle.text-center.pt-3 取扱店への返品・交換方法
                            .col-12.col-md-6.text-center
                                button.return-btn(type="button" data-toggle="modal" data-target="#in-brook" data-tooltip="tooltip" data-placement="bottom" title="Brookへの返品・交換方法")
                                    i.icon-brook
                                    h5.f-textTitle.text-center.pt-3 Brookへの返品・交換方法
                    .col-12.col-md-6.pb-4.pb-md-0
                        h3.f-textTitle-big.text-center.py-4.py-md-5 保証対象外の返品・交換方法
                        .row.justify-content-center
                            .col-12.col-md-6.text-center.text-md-right
                                button.return-btn(type="button" data-toggle="modal" data-target="#out-store" data-tooltip="tooltip" data-placement="bottom" title="取扱店への返品・交換方法")
                                    i.icon-store-search
                                    h5.f-textTitle.text-center.pt-3 取扱店への返品・交換方法
                            .col-12.col-md-6.text-center
                                button.return-btn(type="button" data-toggle="modal" data-target="#out-brook" data-tooltip="tooltip" data-placement="bottom" title="Brookへの返品・交換方法")
                                    i.icon-brook
                                    h5.f-textTitle.text-center.pt-3 Brookへの返品・交換方法

        #in-store.modal.return-modal.fade(tabindex="-1" role="dialog" aria-labelledby="peopleModalCenterTitle" aria-hidden="true")
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content
                    .modal-header
                        div.f-textTitle 取扱店への返品・交換方法
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") ×
                    .modal-body.px-0.py-2.py-md-5
                        .container
                            .process-list.text-center.row.process-list-slider-3.d-lg-flex.justify-content-between.pb-5.pb-md-0
                                .col-12.col-md-3.my-3.my-md-0
                                    i.icon-store-search
                                    h6.f-textTitle 取扱店を探す
                                    .num 1
                                    p.mb-4 最寄りの取扱店を探し、問題に対応いたします。
                                    a.main-btn.btn-primary(href='store' title='取扱店舗' rel='nofollow') 取扱店舗
                                .col-12.col-md-3.my-3.my-md-0
                                    i.icon-store-check
                                    h6.f-textTitle 取扱店に内容を確認する
                                    .num 2
                                    p 取扱店に保証の内容を確認していただいた後、取扱店からBrookお客様サポートへ連絡が入ります。
                                .col-12.col-md-3.my-3.my-md-0
                                    i.icon-return
                                    h6.f-textTitle 返品・交換の完了
                                    .num.no-afterLine 3
                                    p 欠陥のある製品を取扱店まで返送いただければ、取扱店より交換商品の発送をいたします。
        #in-brook.modal.return-modal.fade(tabindex="-1" role="dialog" aria-labelledby="peopleModalCenterTitle" aria-hidden="true")
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content
                    .modal-header
                        div.f-textTitle Brookへの返品・交換方法
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") ×
                    .modal-body.px-0.py-2.py-md-5
                        .container
                            .process-list.text-center.row.process-list-slider-4.pb-5.pb-md-0
                                .col-12.col-md-3.my-3.my-md-0
                                    i.icon-qa
                                    h6.f-textTitle よくあるご質問
                                    .num 1
                                    p.mb-4 お客様から寄せられる、よくあるご質問と回答をご案内します。
                                    a.main-btn.btn-primary(href='qa' title='よくあるご質問' rel='nofollow') よくあるご質問
                                .col-12.col-md-3.my-3.my-md-0
                                    i.icon-edit-paper
                                    h6.f-textTitle テクニカルサポートフォーム記入
                                    .num 2
                                    p 問題が解決しない場合は、よくあるご質問ページの下部よりテクニカルサポートへお問い合わせください。
                                .col-12.col-md-3.my-3.my-md-0
                                    i.icon-brook
                                    h6.f-textTitle Brookに内容を確認する
                                    .num 3
                                    p Brookお客様サポートへ保証の内容を確認していただいた後、最寄りの取扱店よりご連絡いたします。
                                .col-12.col-md-3.my-3.my-md-0
                                    i.icon-return
                                    h6.f-textTitle 返品・交換の完了
                                    .num.no-afterLine 4
                                    p 欠陥のある製品を取扱店まで返送いただければ、取扱店より交換商品の発送をいたします。
        #out-store.modal.return-modal.fade(tabindex="-1" role="dialog" aria-labelledby="peopleModalCenterTitle" aria-hidden="true")
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content
                    .modal-header
                        div.f-textTitle 取扱店への返品・交換方法
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") ×
                    .modal-body.px-0.py-2.py-md-5
                        .container
                            .process-list.text-center.row.process-list-slider-3.d-lg-flex.justify-content-between.pb-5.pb-md-0
                                .col-12.col-md-3.my-5.my-md-0
                                    i.icon-store-search
                                    h6.f-textTitle 取扱店を探す
                                    .num 1
                                    p.mb-4 最寄りの取扱店を探し、問題に対応いたします。
                                    a.main-btn.btn-primary(href='store' title='取扱店舗' rel='nofollow') 取扱店舗
                                .col-12.col-md-3.my-5.my-md-0
                                    i.icon-store-check
                                    h6.f-textTitle 取扱店に内容を確認する
                                    .num 2
                                    p 取扱店に保証の内容を確認していただいた後、取扱店からBrookお客様サポートへ連絡が入ります。
                                .col-12.col-md-3.my-5.my-md-0
                                    i.icon-return
                                    h6.f-textTitle 返品・交換の完了
                                    .num.no-afterLine 3
                                    p 欠陥のある製品を取扱店まで返送いただければ、取扱店よりメーカー再生品の発送をいたします。費用はお客様負担となりますのでご了承ください。
        #out-brook.modal.return-modal.fade(tabindex="-1" role="dialog" aria-labelledby="peopleModalCenterTitle" aria-hidden="true")
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content
                    .modal-header
                        div.f-textTitle Brookへの返品・交換方法
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") ×
                    .modal-body.px-0.py-2.py-md-5
                        .container
                            .process-list.text-center.row.process-list-slider-4.pb-5.pb-md-0
                                .col-12.col-md-3.my-3.my-md-0
                                    i.icon-qa
                                    h6.f-textTitle よくあるご質問
                                    .num 1
                                    p.mb-4 お客様から寄せられる、よくあるご質問と回答をご案内します。
                                    a.main-btn.btn-primary(href='qa' title='よくあるご質問' rel='nofollow') よくあるご質問
                                .col-12.col-md-3.my-3.my-md-0
                                    i.icon-edit-paper
                                    h6.f-textTitle テクニカルサポートフォーム記入
                                    .num 2
                                    p 問題が解決しない場合は、よくあるご質問ページの下部よりテクニカルサポートへお問い合わせください。
                                .col-12.col-md-3.my-3.my-md-0
                                    i.icon-brook
                                    h6.f-textTitle Brookに内容を確認する
                                    .num 3
                                    p Brookお客様サポートへ保証の内容を確認していただいた後、最寄りの取扱店よりご連絡いたします。
                                .col-12.col-md-3.my-3.my-md-0
                                    i.icon-return
                                    h6.f-textTitle 返品・交換の完了
                                    .num.no-afterLine 4
                                    p 欠陥のある製品を取扱店まで返送いただければ、取扱店よりメーカー再生品の発送をいたします。費用はお客様負担となりますのでご了承ください。