//- index.pug
extends include/layout.pug
block plugins-js
    //- script(src="scripts/plugins/slick.js")
    //- script(src="../scripts/data/stores_jp.js")

block content
    main#page.wrapper
        .page-hero
            .container
                .page-hero_text
                    h2.f-heroTitle-xs.text-center お客様サポート
                .page-hero_img
                    img(src='../styles/images/store.jpg', alt='情境圖')
        #page-nav
            ul.nav.nav-scroll.justify-content-center
                li.nav-item
                    a.nav-link.active(href='store' rel='nofollow') 取扱店舗
                li.nav-item
                    a.nav-link(href='warranty' rel='nofollow') 保証について
                li.nav-item
                    a.nav-link(href='return' rel='nofollow') 返品・交換方法
                li.nav-item
                    a.nav-link(href='qa' rel='nofollow') Q&A

        article.page-inner
            //- .filter-row.mb-3.mb-lg-4
            //-     .container
            //-         .row.justify-content-center
            //-             .col-6.col-md-3.col-xl-2
            //-                 .select-box
            //-                     .form-group
            //-                         select.form-control.main-select
            //-                             option 国
            //-             .col-6.col-md-3.col-xl-2
            //-                 .select-box
            //-                     .form-group
            //-                         select.form-control.main-select
            //-                             option 地域
            //-             .col-6.col-md-3.col-xl-2.mt-4.mt-md-0
            //-                 .select-box
            //-                     .form-group
            //-                         select.form-control.main-select
            //-                             option カテゴリー
            //-                             option 家庭内の安全
            //-             .col-6.col-md-3.col-xl-2.mt-4.mt-md-0
            //-                 .select-box
            //-                     .form-group
            //-                         select.form-control.main-select
            //-                             option 製品
            //-                             option WIRECARE住宅電気の守護者
            section
                .container#store-inner
                    section
                        .row.align-items-center.py-3.py-md-5
                            .col-12.col-lg-6
                                .store-img
                                    img(src='../styles/images/store/jp/YAHOO!JAPAN.jpg' alt='store')
                            .col-12.col-lg-5.py-3.py-lg-5.pl-lg-5.pr-lg-0
                                h5.f-sc-title YAHOO!JAPAN
                                hr.my-lg-4
                                //- address.store-list.mb-4
                                //-     ul.list-unstyled
                                //-         li.mb-3
                                //-             .label.d-inline-block.f-500.f-text-big Phone
                                //-             a.f-text-big(href='tel:+1 800-390-1119') +1 800-390-1119
                                //-         li.mb-3
                                //-             .label.d-inline-block.f-500.f-text-big Business Hours
                                //-             span.f-text-big 24/7/365
                                //-         li.mb-3
                                //-             .label.d-inline-block.f-500.f-text-big Address
                                //-             a.f-text-big(href='https://goo.gl/maps/FRf1R1ovPUKnLTPZA' target='_blank') 17560 ROWLAND ST CITY OF INDUSTRY, CA 91748, USA
                                .store-products
                                    ul.list-inline
                                        li.list-inline-item WIRECARE
                                .row
                                    .col-6.col-lg-4
                                        a.main-btn.btn-border-primary.ml-0.mt-4(href='https://store.shopping.yahoo.co.jp/flaner-y/f10021453.html' target='_blank')
                                            //- i.icon-buy(style='font-size: 18px;')
                                            span Yahoo!
                    section
                        .row.align-items-lg-center.py-3.py-md-5
                            .col-12.col-lg-6
                                .store-img
                                    img(src='../styles/images/store/jp/rakuten.jpg' alt='store')
                            .col-12.col-lg-5.py-3.py-lg-5.pl-lg-5.pr-lg-0
                                h5.f-sc-title Rakuten
                                hr.my-lg-4
                                //- address.store-list.mb-4
                                //-     ul.list-unstyled
                                //-         li.mb-3
                                //-             .label.d-inline-block.f-500.f-text-big Phone
                                //-             a.f-text-big(href='tel:+1 800-390-1119') +1 800-390-1119
                                //-         li.mb-3
                                //-             .label.d-inline-block.f-500.f-text-big Business Hours
                                //-             span.f-text-big 24/7/365
                                //-         li.mb-3
                                //-             .label.d-inline-block.f-500.f-text-big Address
                                //-             a.f-text-big(href='https://goo.gl/maps/FRf1R1ovPUKnLTPZA' target='_blank') 17560 ROWLAND ST CITY OF INDUSTRY, CA 91748, USA
                                .store-products
                                    ul.list-inline
                                        li.list-inline-item WIRECARE
                                .row
                                    .col-6.col-lg-4
                                        a.main-btn.btn-border-primary.ml-0.mt-4(href='https://item.rakuten.co.jp/flaner/10021453/' target='_blank')
                                            //- i.icon-buy(style='font-size: 18px;')
                                            span Rakuten
                    section
                        .row.align-items-lg-center.py-3.py-md-5
                            .col-12.col-lg-6
                                .store-img
                                    img(src='../styles/images/store/jp/Amazon.co.jp_logo.jpg' alt='store')
                            .col-12.col-lg-5.py-3.py-lg-5.pl-lg-5.pr-lg-0
                                h5.f-sc-title Amazon Japan
                                hr.my-lg-4
                                //- address.store-list.mb-4
                                //-     ul.list-unstyled
                                //-         li.mb-3
                                //-             .label.d-inline-block.f-500.f-text-big Phone
                                //-             a.f-text-big(href='tel:+1 800-390-1119') +1 800-390-1119
                                //-         li.mb-3
                                //-             .label.d-inline-block.f-500.f-text-big Business Hours
                                //-             span.f-text-big 24/7/365
                                //-         li.mb-3
                                //-             .label.d-inline-block.f-500.f-text-big Address
                                //-             a.f-text-big(href='https://goo.gl/maps/FRf1R1ovPUKnLTPZA' target='_blank') 17560 ROWLAND ST CITY OF INDUSTRY, CA 91748, USA
                                .store-products
                                    ul.list-inline
                                        li.list-inline-item WIRECARE
                                .row
                                    .col-6.col-lg-4
                                        a.main-btn.btn-border-primary.ml-0.mt-4(href='https://amzn.to/3ylKpml' target='_blank')
                                            //- i.icon-buy(style='font-size: 18px;')
                                            span Amazon
            //- +page-navigation