extends include/new-layout.pug
block meta
    title 【Brook Livin WIRECAREお礼】ご支援者様のおかげです！！（結果）ご支援者500名様up・ご支援総額6,180,000円up！！WIRECARE ご支援者の皆様
    meta(name='description' content='WIRECAREはご支援者509名様、ご支援総額約618万円という多大なるご支援を賜り、目標を大きく超えて終了いたしました！たくさんの暖かいご支援、誠にありがとうございます！')
    meta(property='image' content='https://livin.brookaccessory.com/styles/images/news/jp/unboxing/meta.jpg')
    meta(property='og:title' content='【Brook Livin WIRECAREお礼】ご支援者様のおかげです！！（結果）ご支援者500名様up・ご支援総額6,180,000円up！！WIRECARE ご支援者の皆様')
    meta(property='og:url' content='https://livin.brookaccessory.com/jp/media-3')
    meta(property='og:image' content='https://livin.brookaccessory.com/styles/images/news/jp/unboxing/meta.jpg')
    meta(property='og:description' content='WIRECAREはご支援者509名様、ご支援総額約618万円という多大なるご支援を賜り、目標を大きく超えて終了いたしました！たくさんの暖かいご支援、誠にありがとうございます！')
    meta(property='og:site_name' content='【Brook Livin WIRECAREお礼】ご支援者様のおかげです！！（結果）ご支援者500名様up・ご支援総額6,180,000円up！！WIRECARE ご支援者の皆様')

block plugins-js
    script(src="//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js")

block content
    main#page.wrapper.new-page
        article.page-inner
            .container
                .row
                    .col-12.col-md-8
                        h2.f-sc-title.mb-3.mb-md-4 【Brook Livin WIRECAREお礼】ご支援者様のおかげです！！（結果）ご支援者500名様up・ご支援総額6,180,000円up！！WIRECARE ご支援者の皆様
                        .row
                            .col-12.col-sm-10.text-left
                                a.tag.t-primary.mr-2(href='#') #Greenfunding
                                a.tag.t-primary.mr-2(href='#') #Reasummit
                                a.tag.t-primary.mr-2(href='#') #クラウドファンディング
                                a.tag.t-primary.mr-2(href='#') #支援総額
                                a.tag.t-primary.mr-2(href='#') #電線火災
                            .col-12.col-sm-2.text-right
                                i.m-1.icon-time
                                span.f-mini.f-en 2022/01/17
                        hr.my-3.my-md-4
                        .new-inner.pb-3.pb-md-5
                            img.img-fluid(src='../styles/images/news/jp/unboxing/content.jpg', alt='圖片')
                            br
                            br
                            p WIRECAREはご支援者509名様、ご支援総額約618万円という多大なるご支援を賜り、目標を大きく超えて終了いたしました！たくさんの暖かいご支援、誠にありがとうございます！
                            p このような素晴らしい結果となったのも、ご支援者様のご支援の賜物でございます！！配送予定についてお知らせいたします。
                            p メーカー側で2月の中旬を目途に、WIRECAREの生産をしてもらい、2月中旬頃にメーカー出荷、ご支援者様へのお届けは3月から3月中旬頃となる見込みです。
                            p 配送完了までメーカーと密にやり取りを行い、進捗や生産、配送状況の更新などがあれば活動報告を通してお知らせしていきます。
                            p 配送完了まで楽しみにお待ちいただければ幸いです。#[br]このたびはご支援、本当にありがとうございました！！！
                            br
                            br
                            a.t-primary(href="https://greenfunding.jp/carpediem/projects/5374" target='_blank')
                                h6 《 Brook Livin & GREEN FUNDING & Reasummit プロジェクト一同 》
                        hr
                        .d-flex.flex-wrap.flex-md-nowrap.justify-content-center.justify-content-md-between.align-items-center
                            .share-row
                                span.mx-2 シェアする
                                button.mx-1(style="font-size: 24px;" data-social="facebook" data-title="【Brook Livin WIRECAREお礼】ご支援者様のおかげです！！（結果）ご支援者500名様up・ご支援総額6,180,000円up！！WIRECARE ご支援者の皆様" data-description="WIRECAREはご支援者509名様、ご支援総額約618万円という多大なるご支援を賜り、目標を大きく超えて終了いたしました！たくさんの暖かいご支援、誠にありがとうございます！" data-image="https://livin.brookaccessory.com/styles/images/news/jp/unboxing/meta.jpg")
                                    i.icon-facebook
                                button.mx-1(style='font-size: 24px;' data-social="twitter" data-title="【Brook Livin WIRECAREお礼】ご支援者様のおかげです！！（結果）ご支援者500名様up・ご支援総額6,180,000円up！！WIRECARE ご支援者の皆様" data-description="WIRECAREはご支援者509名様、ご支援総額約618万円という多大なるご支援を賜り、目標を大きく超えて終了いたしました！たくさんの暖かいご支援、誠にありがとうございます！" data-image="https://livin.brookaccessory.com/styles/images/news/jp/unboxing/meta.jpg")
                                    i.icon-twittwr
                                button.mx-1(style='font-size: 24px;' data-social="line" data-title="【Brook Livin WIRECAREお礼】ご支援者様のおかげです！！（結果）ご支援者500名様up・ご支援総額6,180,000円up！！WIRECARE ご支援者の皆様" data-description="WIRECAREはご支援者509名様、ご支援総額約618万円という多大なるご支援を賜り、目標を大きく超えて終了いたしました！たくさんの暖かいご支援、誠にありがとうございます！" data-image="https://livin.brookaccessory.com/styles/images/news/jp/unboxing/meta.jpg")
                                    i.icon-line-1
                                button#copy-btn.mx-1(style='font-size: 24px;' data-url="")
                                    i.icon-link
                            a(href="medias") 一覧に戻る
                    .col-12.col-md-4.mt-5.mt-md-0
                        h5.f-textTitle.mb-3.mb-md-4 その他のニュース
                        +main-card('','../styles/images/news/jp/activity-01/list.png','activity','2021/11/25','多謝【WIRECARE】11月目標金額1,100,000円達成!支援人数Up!','ご支援者の皆様 【Brook Livin WIRECARE】をご支援してくださった皆様、本当にありがとうございま…')
                        +main-card('','../styles/images/news/jp/media-01/list.png','media-1','2021/11/03','コンセント火災の危険度は、WIRECAREが察知します','WIRECAREなら、老朽化したコンセントや配線、延長コードの危険度を、たった10秒で確認できます。')