footer#footer.py-5
    .container
        .row.justify-content-md-between
            .col-12.col-lg-8
                .row.pl-2.pl-md-0
                    .col-4.col-md.mb-3.px-1.px-md-3
                        .fw-600.mb-2 關於Brook
                        ul.nav.flex-column
                            li.nav-item
                                a.nav-link.pl-0(href="../about" title='品牌介紹' rel='nofollow') 品牌介紹
                    .col-4.col-md.mb-3.px-1.px-md-3
                        .fw-600.mb-2 最新消息
                        ul.nav.flex-column
                            //- li.nav-item.news-link
                            //-     a.nav-link.pl-0(href="../news") 品牌消息
                            li.nav-item.medias-link
                                a.nav-link.pl-0(href="../medias" title='媒體報導' rel='nofollow') 媒體報導
                            li.nav-item.activities-link
                                a.nav-link.pl-0(href="../activities" title='活動特區' rel='nofollow') 活動特區
                            //- li.nav-item.unboxes-link
                            //-     a.nav-link.pl-0(href="../unboxes") 開箱介紹
                    //- .col-4.col-md.mb-3.px-1.px-md-3
                    //-     .fw-600.mb-2 購買
                    //-     ul.nav.flex-column
                    //-         li.nav-item
                    //-             a.nav-link.pl-0(href="../store") 官方商城
                    //-         li.nav-item
                    //-             a.nav-link.pl-0(href="../store") 經銷商據點
                    .col-4.col-md.mb-3.px-1.px-md-3
                        .fw-600.mb-2 客戶服務
                        ul.nav.flex-column
                            li.nav-item
                                a.nav-link.pl-0(href="../warranty" title='保固條款' rel='nofollow') 保固條款
                            li.nav-item
                                a.nav-link.pl-0(href="../return" title='退換貨流程' rel='nofollow') 退換貨流程
                            li.nav-item
                                a.nav-link.pl-0(href="../qa" title='常見Q&A' rel='nofollow') 常見Q&A
                    .col-4.col-md.mb-3.px-1.px-md-3
                        .fw-600.mb-2 Brook服務
                        ul.nav.flex-column
                            li.nav-item
                                a.nav-link.pl-0(href="https://www.brookaccessory.com/" target="_blank" title='Brook Gaming' rel='nofollow') Brook Gaming
                            li.nav-item
                                a.nav-link.pl-0(href="#" title='Brook Livin') Brook Livin
            .col-12.col-lg-3.mt-4.mt-lg-0
                .row.align-items-center
                    .col-12.col-md-2.col-lg-12.mb-2
                        .fw-600 關注我們
                    .col-12.col-md-6.col-lg-12
                        ul.nav.follow-us
                            li.nav-item
                                a.nav-link.pl-0(href="https://www.facebook.com/brooklivin" target='_blank') 
                                    i.icon-facebook
                            li.nav-item
                                a.nav-link.pl-0(href="https://www.youtube.com/channel/UCExk26fvJiQtVVl_zwIZC0A" target='_blank' ) 
                                    i.icon-youtube
                            li.nav-item
                                a.nav-link.pl-0(href="https://lin.ee/peukhM7" target='_blank') 
                                    i.icon-line-1
                            //- li.nav-item
                                //- a.nav-link.pl-0(href="#" target='_blank') 
                                //-     i.icon-twittwr
                            //- li.nav-item
                                //- a.nav-link.pl-0(href="#" target='_blank') 
                                //-     i.icon-zeczec
                        a(href='tel:0800581288') 服務專線：0800-581-288
                    .col-12.col-md-4.col-lg-12
                        .text-md-right
                            a.contact-us(href="../contact-us" title='聯絡我們' rel='nofollow')
                                span.f-en Contact Us
                                i.icon-mail
            .col-12
                hr.my-4
            .col-12
                .row
                    .col-12.col-lg-10.mb-4.mb-lg-0
                        span.copyright Copyright © Zeroplus Technology Co., Ltd. All Rights Reserved. Brook is the registered trademark of Copyright
                    .col-12.col-lg-2.text-lg-right
                        a(href="../privacy" title='隱私權政策' rel='nofollow') 隱私權政策

.goTop
    a.goTopBtn.jq-goTop(href='#')
        i.icon-arrow-t